//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .cms-no-route {

        .page-main{
            text-align: center;
            margin-top: 50px;

            h1.page-title{
                display: none;
            }

            .page-title{
                font-size: 40px;
                margin-bottom: 20px;
                font-weight: bold;
                margin-top: 30px;
                font-family: @font-family-serif;
                line-height: 1.2;
            }

            .page-404-text {
                font-size: 20px;
                margin-bottom: 30px;
                letter-spacing: @letter_spacing_title;
            }
        }
    }

}



//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .cms-no-route{

        .page-main{

            .main {
                margin-bottom: 30px;
                margin-right: auto;
                margin-left: auto;
                padding-left: 15px;
                padding-right: 15px;

                .page-title {
                    font-size: 25px;
                    margin-bottom: 30px;
                    line-height: 1.1;
                }

                .page-404-text {
                    font-size: 14px;
                }
            }
        }
    }


}


