//
//  Common
//  _____________________________________________


& when (@media-common = true) {


    /* Login Page */

    .customer-account-login {

        .page-title{
            visibility: hidden;
            margin-bottom: 15px;
        }

        .login-container{
            margin-bottom: 20px;

            .block-title{
                border-bottom: none;
                padding-bottom: 0;

                > strong{
                    font-weight: bold;
                    font-family: @font-family-serif;
                    font-size: 30px;
                    color: @color-black;
                }
            }

            .block-content{

                .note{
                    font-size: 12px;
                    color: @color-heavy-grey;
                    margin-bottom: 35px;
                }

                .login{
                    .field{
                        .label{
/*                           font-weight: normal;
                            font-size: 13px;*/
                        }

                        &.password{
                            margin-bottom: 5px;
                        }
                    }

                    .actions-toolbar{
                        display: flex;
                        flex-direction: column;

                        .primary{
                            order: 1;
                        }

                        .secondary{
                            text-align: left;
                            margin-bottom: 15px;

                            a{
                                font-size: 10px;
                                color: @color-grey;
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .new-customer-benefits{
                    list-style: none;
                    padding: 0;

                    > li{
                        margin-bottom: 15px;

                        .fed-icon{
                            font-size: 35px;
                            vertical-align: middle;
                            padding-right: 20px;
                        }
                    }
                }


                .block-new-customer{

                    .note{
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }



    /* Registration Page */

    .customer-account-create {

        .page-title{
            visibility: hidden;
            margin-bottom: 15px;
        }

        .register-container{
            margin-bottom: 20px;

            .block-title{
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 15px;
                line-height: 1.1;

                > span{
                    font-weight: bold;
                    font-family: @font-family-serif;
                    font-size: 30px;
                    color: @color-black;
                }
            }

            .note{
                font-size: 12px;
                color: @color-heavy-grey;
                margin-bottom: 15px;
            }

            .form-create-account{
                width: 48%;
                float: left;

                .fieldset.create{
                    margin-bottom: 0;

                    .gender{
                        margin-bottom: 10px;

                        .label{
                            font-size: 13px;
                        }
                        .choice{
                            margin-right: 50px;
                            display: inline-block;
                            margin-bottom: 10px;
                            font-size: 12px;
                            margin-top: 0;

                            .label{
                                margin-left: 0;
                            }
                        }
                    }


                    .create-account-data{
                        display: flex;
                        flex-wrap: wrap;

                        .field.required > .label:after,
                        .field.required > .label:after,
                        .field._required > .label:after,
                        .fields > .field._required > .label:after {
                            content: '*';
                            color: @color-black;
                            font-size: 1.2rem;
                            margin: 0 0 0 1px;
                        }

                        .field{
                            width: 48%;
                            padding-right: 2%;
                            margin-bottom: 15px;

                            input{
                                color: @color-grey;
                            }

                            &.field-dob{

                                .customer-dob{
                                    position:relative;

                                    input{
                                        width: 100%;
                                        margin-right: 0;
                                        padding-left: 45px;
                                    }
                                    button{
                                        position: absolute;
                                        left: 10px;
                                        top: 15px;

                                        &:before{
                                            font-size: 28px;
                                            color: @color-heavy-grey;
                                        }
                                    }

                                }
                            }


                            &.captcha{
                                margin-top: 20px;

                                .captcha{
                                    width: 100%;
                                }
                            }

                            .ec-note{
                                color: @color-grey;
                            }

                            &.gdpr{
                                width: 100%;
                            }
                        }


                        .privacy-block{
                            width:100%;
                        }

                        #amprivacy-checkbox{
                            margin-left: 0;
                        }
                    }

                    .newsletter{
                        display: none;
                    }
                }
            }

            .block-login{
                width: 48%;
                margin-bottom: 20px;
                float: right;
            }

            .actions-toolbar{
                margin: 20px 0;

                .action.primary{
                    padding: 15px 100px;
                }
            }

            &:after, &:before{
                content:'';
                display: table;
            }
        }
    }



    /* Forgot password page */

    .customer-account-forgotpassword{

        .main{
            margin-bottom: 20px;

            .captcha-reload{
                &:extend(.btn-base-negative all);
            }
        }
    }


    /* Fix label margin-left to zero */

    .customer-account-edit, .gdpr-customer-settings{
        .block-content{
            label{
                margin-left: 0;
            }
        }
        .field{
            .label{
                margin-left: 0;
            }
        }
    }



    /* Logged Account Area */

    .account {

        .page-wrapper{

            .page-main{

                /* Side Menu */

                .side_account_nav{
                    max-width: 250px;

                    .title{
                        height: auto;
                        margin: 0;
                        position: relative;
                        width: auto;
                        background: @color-light-grey;
                        padding: 15px 10px 5px 15px;
                        font-size: 13px;
                        font-family: @font-family-serif;
                        text-transform: uppercase;
                        letter-spacing: @letter_spacing_title;
                    }

                    .content{
                        background: @color-light-grey;
                        padding: 10px 0 20px;

                        .item{

                             > strong, > a{
                                 font-size: 15px;
                                 padding: 10px 18px 10px 30px;
                                 color: @color-black;
                                 line-height: 1.1;
                             }

                            &.current{

                                > strong{
                                    font-weight: normal;
                                    border-color: @color-orange;
                                }
                            }
                        }
                    }
                }


                /* logged account main content */

                .page-title-wrapper{

                     .page-title {
                         font-size: 30px;
                         text-transform: none;
                         margin: 5px 0 15px;
                         display: block;
                         padding-bottom: 15px;
                         border-bottom: 1px solid @color-heavy-grey;
                         letter-spacing: 0;
                     }

                    .order-date{
                        margin: 5px 0 30px;
                        font-size: 14px;
                        float: right;
                    }
                }

                a.print{
                    display: none;
                }

                .order-links{

                    .item{

                        a{
                            text-decoration: none;
                        }

                        &.current{
                            font-weight: bold;
                        }
                    }
                }

                .order-details-items{
                    &.shipments{
                        .actions-toolbar{
                            display: none;
                        }

                    }

                }


                /* general account tables style */

                .orders-recent, .orders-history, .table-credit-cards, .table-order-items{
                    margin-top: 0px;
                    border-bottom: 1px solid @color-light-grey;

                    th, td{
                        font-size: 13px;
                        border-top: 1px solid @color-light-grey;
                        vertical-align: middle;
                    }

                    th{
                        background: @color-light-grey;
                        border-bottom: none;
                    }

                    td{
                        &.actions{
                            &:before{
                                    display: none;
                              }
                            .form{
                                .action{
                                    > span{
                                        color: @color-black;
                                    }
                                }
                            }
                        }

                        .price{
                            font-size: 14px;
                            font-weight: bold;
                            padding-right: 5px;
                        }
                    }

                    .action{
                        border: 1px solid @color-black;
                        display: inline-block;
                        text-decoration: none;
                        padding: 5px 10px;
                        color: @color-black;
                    }

                    th{
                        padding: 8px;
                        background: @color-light-grey;
                        font-size: 13px;
                        border-bottom: none !important;
                    }
                    td{
                        font-size: 13px;
                        padding: 8px 0;
                        border-top: 1px solid @color-light-grey;
                    }
                    tfoot{
                        td{
                            background: @color-light-grey;
                        }
                    }

                    .product-item-name{
                        font-size: 14px;
                        margin-bottom: 0;
                    }
                    .price{
                        font-size: 14px;
                        color: @color-black;
                    }

                    .grand_total{
                        font-size: 18px;

                        .price{
                            font-size: 18px;
                        }
                    }
                    .order-title{
                        font-size: 24px;
                        margin: 5px 0 15px;
                        display: block;
                        padding-bottom: 15px;
                        letter-spacing: @letter_spacing_title;
                    }
                }


                /* FINISH general account tables style */

                .orders-history {
                    margin-top: 0;
                }

                .block{
                    margin-bottom: 60px;
                    max-width: unset;

                    &.newsletter{
                        margin-bottom: 40px;
                    }

                    .block-collapsible-nav-title{
                        padding: 15px 10px 15px 15px;
                    }

                    .block-title{
                        font-size: 16px;
                        font-family: @font-family-serif;
                        padding-bottom: 15px;
                        border-bottom: 1px solid @color-light-grey;
                        text-transform: uppercase;
                        margin: 10px 0 10px;

                        .action{
                            margin-left: 20px;
                            font-size: 12px;
                            text-transform: none;
                            color: @color-heavy-grey;
                            font-family: @font-family-sans-serif;
                            letter-spacing: @letter_spacing_title;
                        }

                        &.order{
                            border-bottom: none;
                        }

                    }

                    &.block-dashboard-orders{

                        .block-content{

                            margin-top: -10px;
                        }
                    }

                    .block-content{

                        .box-title{
                            margin: 0 0 5px;
                        }

                        .box-content{
                            font-size: 14px;
                            color: @color-heavy-grey;
                            margin-bottom: 25px;

                            address{
                                a {
                                    text-decoration: none;
                                }
                            }

                            a, a > span{
                                color: @color-heavy-grey;
                            }
                        }

                        .box-actions{

                            a, a > span{
                                font-size: 13px;
                                color: @color-heavy-grey;
                            }
                        }

                        .box{
                            padding-right: 10px;
                        }
                    }

                    .addresses{

                        address{

                            a{
                                text-decoration: none;
                            }
                        }

                    }
                }

                .fieldset{

                    > .legend{
                        font-size: 16px;
                        font-family: @font-family-serif;
                        padding-bottom: 15px;
                        border-bottom: 1px solid @color-light-grey;
                        text-transform: uppercase;
                        margin: 10px 0 10px;

                        span{
                            font-size: 16px;
                            font-family: @font-family-serif;
                            text-transform: uppercase;
                            font-weight: bold;
                        }

                        .action{
                            margin-left: 20px;
                            font-size: 12px;
                            text-transform: none;
                            color: @color-heavy-grey;
                            font-family: @font-family-sans-serif;
                            letter-spacing: @letter_spacing_title;
                        }
                    }

                    .customer-dob{

                        input{
                            margin-right: 0;
                            width: 100%;
                        }
                        button{
                            display: none;
                        }
                    }

                    .gender{
                        padding-bottom: 10px;
                        border-bottom: 1px solid @color-light-grey;

                        .field{
                            margin-top: 0;
                            display: inline-block;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }


    /* RMA */

    .amasty-rma-customer-history{

        .amrma-history-header{

            .action.primary{
                position: relative;
                top: -2px;
                height: 48px;
            }
        }

        .limiter{
            margin-bottom: 10px;
            cursor: pointer;
            color: @color-black;
        }

        .table-wrapper{

            #my-rma-table{

                td{
                    padding: 8px;
                }

                .view{
                    &:after{
                        display: none;
                    }
                }

                .action.delete{
                    color: @color-black;
                }
            }
        }
    }


    /* RMA Guest */

    .amasty-rma-guest-login, .amasty-rma-guest-history {

        #oar-widget-orders-and-returns-form{
            margin-bottom: 40px;
            max-width: 500px;

            .fieldset{
                margin-bottom:10px;

                .admin__legend{
                    display: none;
                }
            }
        }

        .amrma-history-header{

            button{
                position: relative;
                top: -2px;
                height: 48px;
            }
        }

        .limiter{
            margin-bottom: 10px;
        }

        #my-rma-table{

            td{
                padding: 8px;
            }

            .view{
                &:after{
                    display: none;
                }
            }

            .action.delete{
                color: @color-black;
            }
        }
    }



    /* Wishlist page */

    .wishlist-index-index{

        .products-grid.wishlist{

            .product-item{
                margin-left: 0;
                width: 33%;
                padding-left: 20px;

                .product-item-info {

                    .product-image-container{
                        width: 100%;
                    }

                    .product-item-name{
                        font-size: 16px;
                    }

                    .price{
                        font-size: 16px;
                    }

                    .product-item-inner {
                        box-shadow: none;
                        border: none;
                        margin: 0px 0 10px 0px;
                        position: relative;
                        padding: 0;

                        .comment-box {
                            display: none;
                        }

                        .box-tocart{

                            .qty{

                                .label{
                                    font-size: 14px;
                                }

                                .control{
                                    input{
                                        height: 34px !important;
                                    }
                                }
                            }
                        }

                        .product-item-actions{

                            .edit{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }



}





//
//  Tablet, min @screen_l
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    /* Registration Page Tablet*/

    .customer-account-create {

        .register-container{

            .form-create-account{
                width: 100%;
                float: unset;
                margin-bottom: 35px;
                padding-bottom: 20px;
                border-bottom: 1px solid @color-light-grey;
            }

            .block-login{
                width: 100%;
                float: unset;
            }
        }
    }


    /* Wishlist page Tablet */

    .wishlist-index-index{

        .products-grid.wishlist{

            .wrap-product-items(@n) {
                &:nth-child(@{n}n + 1) {
                    margin-left: calc((100% - 2 * 49.439%) / 3);
                }
            }

            .product-item{
                margin-left: calc((100% - 2 * 49.439%) / 3);
                width: 49.439%;

                .wrap-product-items(4);
            }
        }
    }
}









//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {


    /* Login Page Mobile */

    .customer-account-login {

        .page-title{
            margin-bottom: 0;
        }

        .login-container{

            .block-customer-login{
                padding-bottom: 30px;
                border-bottom: 1px solid @color-light-grey;
                margin-bottom: 30px;
            }

            .block-title{

                > strong{
                    font-size: 21px;
                }
            }

            .block-content{

                .note{
                    margin-bottom: 25px;
                }

                .actions-toolbar{

                    .secondary{
                        margin-bottom: 25px;
                        margin-top: 10px;

                        a{
                            color: @color-heavy-grey;
                        }
                    }
                }

                .login{

                     &:after{
                         display: none,
                     }
                }

            }

            .block-new-customer{

                .block-content{
                    margin-bottom: 60px;

                    .new-customer-benefits{

                        > li{

                            span{
                                font-size: 12px;
                                color: @color-heavy-grey;
                                position: absolute;
                                margin-top: 8px;
                                line-height: 1.1;
                            }
                        }
                    }
                }
            }
        }
    }


    /* Registration Page Mobile */

    .customer-account-create {

        .ec-top-container{
            height: 10px;
        }

        .register-container{

            .block-title{
                margin-bottom: 10px;

                > span{
                    font-size: 21px;
                }
            }

            .note{
                margin-bottom: 25px;
            }

            .form-create-account{
                width: 100%;
                float: unset;
                margin-bottom: 35px;
                padding-bottom: 20px;
                border-bottom: 1px solid @color-light-grey;

                .fieldset.create{
                    .gender{
                        .choice{
                            margin-bottom: 0;
                        }
                    }

                    .create-account-data{

                        .field{
                            width: 100%;
                            padding-right: 0;

                            &.field-dob{
                                input{
                                }
                                button{
                                }
                            }
                        }

                        .privacy-block{
                        }
                    }

                    .newsletter{
                    }
                }
            }

            .block-login{
                width: 100%;
                float: unset;
            }

            .actions-toolbar{

                .action.primary{
                }
            }
        }
    }



    /* Logged Account Area Mobile */

    .account {

        .page-wrapper{

            .page-main{

                /* Side Menu Mobile */

                .side_account_nav{
                    max-width: 100%;
                    padding: 20px 15px;
                    margin-bottom: 0;
                    top: 0;


                    .title{
                        padding: 12px 10px 12px 15px;
                        border: none;

                        strong{
                            font-weight: normal;
                            font-size: 14px;
                            margin: 0;
                        }

                        &:after{
                            font-size: 18px;
                            margin: -3px 0 0 0;
                        }
                    }
                }


                /* messages Mobile */

                .ec-top-container{
                    padding-top: 20px;
                }


                /* logged account main content Mobile */

                .main {
                    display: flex;
                    flex-direction: column;

                    .page-title-wrapper{

                        .page-title {
                            font-size: 21px;
                            margin-bottom: 15px;
                            padding-bottom: 10px;
                        }

                        .order-date, .order-status{
                            margin-top: 0;
                        }
                    }

                    .order-details-items.ordered{
                        .order-title{
                            border-bottom: none;
                        }
                    }

                    .order-details-items{
                        margin-bottom: 0;
                        border-top: 0;

                        .order-title{
                            border-bottom: none !important;
                        }
                    }


                    .order-items{
                        border-bottom: none;
                        margin-bottom: 0;
                    }

                    /* general account tables style Mobile */

                    .orders-recent, .orders-history, .table-credit-cards, .table-order-items{
                        background: @color-light-grey;
                        border-bottom: none;

                        tbody{

                            tr{
                                th, td{
                                    border: 0;
                                }

                                td{

                                    text-align: left;

                                    &.actions{
                                        &:before{
                                          display: none;
                                        }
                                        padding-bottom: 15px;
                                    }

                                    &:first-child{
                                        border-top: none;
                                        padding-top: 5px;
                                    }

                                    &:last-child{
                                        padding-bottom: 15px;
                                        border-bottom: none;
                                    }
                                }
                            }
                        }

                        tfoot{
                            background: @color-white;

                            td, th{
                                background-color: @color-light-grey;
                            }

                            .amount{
                                background-color: @color-light-grey !important;
                                padding-right: 5px;
                            }
                        }

                        &#my-orders-table{
                            td{
                                &:last-child{
                                    background: @color-white;
                                }
                            }
                        }
                    }


                    /* FINISH general account tables style Mobile */


                    .orders-history{
                        margin-bottom: 0;
                        border-top: 0;
                    }

                    .my-credit-cards{
                        border: none;
                    }


                    .table-order-items{
                        margin-bottom: 0;

                        td {
                            &:last-child {
                                border-bottom: none;
                                background: @color-light-grey;

                                &:before{
                                    display: none;
                                }
                            }

                            &.subtotal{
                                display: none;
                            }
                        }

                        tfoot{
                            background: unset;
                        }
                    }

                    .block{
                        order: 1;

                         .block-collapsible-nav-title{
                              padding: 10px 10px 10px 15px;
                          }

                        .block-title{
                            padding-bottom: 5px;
                            margin: 10px 0 20px;

                            .action{
                                float: unset !important;
                            }

                        }

                        &.block-dashboard-orders{
                            order: 0;
                        }

                        .block-content{

                            .box-title{
                                margin: 0;

                                > span{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }

                .block.newsletter{
                    margin-bottom: 10px;
                }
            }
        }
    }



    /* Wishlist page Mobile */

    .wishlist-index-index{

        .products-grid.wishlist{

            .wrap-product-items(@n) {
                &:nth-child(@{n}n + 1) {
                    margin-left: 0;
                }
            }

            .product-item{
                margin-left: 0;
                width: 100%;
                border-top: 0;

                .wrap-product-items(4);

                .product-item-info {

                    .product-image-container{
                        width: 100% !important;
                        max-width: none;
                    }

                    .product-item-name, .price-box{
                        margin-left: 0;
                    }

                    .price{
                    }

                    .product-item-inner {

                        .comment-box {
                        }

                        .box-tocart{
                            width: 100%;

                            .qty{

                                .label{
                                }

                                .control{
                                    input{
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    /* Order Shipment Details */

    .track{
        background-color: unset;
        width: unset;
    }


    /* RMA Guest Detail Order */

    .amasty-rma-request-view{

        .page-main{

            .buttons-set {
                text-align: center;
                margin: 10px 0;
            }

            .order-actions-toolbar{
                margin:0;
            }
        }


    }
}





