
//
//  Common
//  _____________________________________________






& when (@media-common = true) {

    .checkout-cart-index {

        .cart-container {
            margin-bottom: 20px;

            > .action.primary.checkout {
                font-size: 12px;
            }


            /*Cart e Minicart */

            .cart-summary {

                > .title {
                    font-family: @font-family-serif;
                    font-weight: bold;
                    font-size: 16px;
                    color: @color-black;
                    border-bottom: 1px solid @color-grey;
                    padding: 20px 0 15px;
                    text-transform: uppercase;
                    letter-spacing: @h1__letter-spacing;
                    position: relative;
                    margin: 0;
                }

                #block-shipping {

                    > .title {
                        position: relative;
                        margin-bottom: 0;
                        cursor: pointer;
                        color: @color-black;
                        padding: 3px 20px 3px 0;
                        display: block;
                        text-decoration: none;
                        height: 48px !important;

                        #block-shipping-heading {
                            font-size: 14px;
                            line-height: 1;
                            font-weight: bold;
                            color: @color-black;
                            display: block;
                            margin: 0;
                            height: 42px;
                            padding-top: 10px;
                        }

                        &:after {
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            font-size: 20px;
                            content: '\e622';
                            font-family: 'luma-icons';
                            margin: 0;
                            vertical-align: top;
                            display: inline-block;
                            font-weight: normal;
                            overflow: hidden;
                            speak: none;
                            text-align: center;
                            right: 0;
                            position: absolute;
                            top: 10px;
                            color: @color-black;
                            line-height: 1.2;
                        }
                    }

                    &.active {
                        > .title {
                            &:after {
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .content{
                        padding-bottom: 5px;
                    }
                }

                #block-shipping {

                    #co-shipping-method-form {

                        .item-title{
                            margin-bottom: 10px;
                        }
                    }
                }


                #shipping-zip-form {

                    .estimate{
                        margin-bottom: 10px;

                        .field {
                            margin-bottom: 20px;

                            .label {
                                font-weight: normal;
                            }

                            select {
                                /*                          background-position: 100%;
                                                            background-size: 45px 145px;*/
                            }
                        }
                    }
                }

                #cart-totals {
                    border-color: @color-grey;

                    .totals {
                        font-size: 16px;
                        margin-bottom: 0;

                        .price {
                            font-weight: bold;
                        }

                        .mark{
                            .label{
                                font-size: 16px;
                            }
                        }
                    }

                    .totals.shipping.excl > td, .totals.shipping.excl > th{
                        padding-bottom: 16px;

                        .mark{
                            .label{
                                font-size: 16px;
                            }
                        }
                    }

                    .grand {

                        .mark {
                            border-color: @color-grey;

                            strong {
                                font-weight: bold;
                                font-size: 20px;
                            }
                        }

                        .price {
                            font-size: 20px;
                        }

                        .amount{
                            border-color: @color-grey;
                        }
                    }
                }

                .checkout-methods-items {
                    margin-top: 0px;
                    padding: 0;

                    .item {
                        margin-bottom: 0;

                        .action.primary.checkout {
                            font-size: 15px;

                            > span {
                                white-space: normal;
                                line-height: 1;
                                display: block;
                            }
                        }

                        .multicheckout {
                            display: none;
                        }
                    }
                }
            }


            /* Products table */

            .cart.table-wrapper {

                .cart {

                    thead {

                        tr {

                            th.col {
                                font-family: @font-family-serif;
                                letter-spacing: @letter_spacing_title;
                                text-transform: uppercase;
                                font-size: 13px;
                                padding: 10px 0;
                                border-bottom: 1px solid @color-grey;
                                color: @color-black;
                            }

                            .item {
                                text-align: left;
                            }

                            .price span {
                                visibility: hidden;
                            }

                            .qty {
                                text-align: center;
                            }
                        }
                    }

                    tbody{

                        .col.item{

                            .product-item-photo{
                                display: none;
                            }
                        }
                    }

                    .cart {
                        color: @color-black;
                        padding-bottom: 15px;
                        border-bottom: 1px solid @color-grey;

                        .item-info {

                            > td {
                                vertical-align: middle;

                                .product-item-details {
                                    font-family: @font-family-serif;

                                    .product-item-name {
                                        font-weight: bold;
                                        font-size: 16px;
                                        text-transform: uppercase;
                                        line-height: 19px;
                                        margin-top: 10px;

                                        a {
                                            font-family: @font-family-serif;
                                            color: @color-black;

                                            &:hover, &:visited, &:active {
                                                text-decoration: none;
                                                color: @color-black;
                                            }
                                        }
                                    }
                                }


                                .price-excluding-tax {
                                    color: @color-black;

                                    .cart-price .price {
                                        font-weight: normal;
                                        font-size: 20px;
                                    }
                                }

                                .qty {
                                    text-align: center;
                                }
                            }

                            .subtotal {

                                .price-excluding-tax {
                                    color: @color-black;

                                    .cart-price .price {
                                        font-weight: bold;
                                        font-size: 20px;
                                    }
                                }
                            }

                        }

                        .actions-toolbar {
                            min-height: 40px;

                            > .fed-icon {
                                position: absolute;
                                right: 50px;
                                top: 0;
                                font-size: 24px;
                                color: @color-black;
                                text-decoration: none;

                                &.fed_icon_delete {
                                    right: 0;
                                }

                                &:hover,
                                &:focus,
                                &:active {
                                    text-decoration: none;
                                }

                            }
                        }

                        .ec-cart-qty-control {

                            .ec-cart-qty-control-div {
                                border-bottom: 1px solid @color-grey;
                                display: inline-block;
                                position: relative;
                                width: 55px;

                                button, .input-text {
                                    border: none;
                                    background: none;
                                    border-radius: 0;
                                    padding: 6px 4px;
                                    height: auto !important;
                                    vertical-align: middle;
                                }

                                .input-text {
                                    font-size: 20px;
                                    font-weight: bold;
                                    color: @color-gray37;
                                    width: 100%;
                                    margin-top: 0;
                                }

                                button {
                                    border: none;
                                    background: none;
                                    font-size: 16px;
                                    position: absolute;
                                    top: 2px;

                                    &.ec-decreaseqty{
                                        left: 0;
                                    }
                                    &.ec-increaseqty{
                                        right: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }


            .cart.actions {
                text-align: right;

                button, .ec-cta-active {
                    padding: 10px 30px;
                    font-weight: normal;
                    font-size: 12px;
                    text-transform: unset;
                    border-width: 1px;
                }

                .ec-cta-active {
                    &:extend(.btn-base);

                    &:hover, &:active{
                        color: @color-white;
                    }
                }

            }

            .cart-discount{

                .discount{
                    width:50%;

                    .title{
                        padding: 5px 0;
                        margin-bottom: 0;

                        &:after{
                            content: '';
                        }

                        #block-discount-heading{
                            font-family: @font-family-serif;
                            font-weight: bold;
                            font-size: 14px;
                            color: @color-black;
                            text-transform: uppercase;
                            letter-spacing: @letter_spacing_title;
                            position: relative;
                            margin: 0;
                        }
                    }

                    .content{
                        border-bottom: 1px solid @color-gray37;
                        padding-bottom: 5px;
                        display: block;

                        .field{
                            vertical-align: bottom;

                            .input-text{
                                border: none;
                                padding-left: 0;
                                height: auto !important;
                                font-size: 13px;
                                letter-spacing: @letter_spacing_title;

                                &::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder  {
                                    color: @color-gray46;
                                    opacity: 1; /* Firefox */
                                    letter-spacing: @letter_spacing_title;
                                }
                            }
                        }

                        .actions-toolbar{

                            .primary {
                                margin-bottom: 5px;

                                .action {
                                    margin: 0;
                                    font-size: 12px;
                                    padding: 10px 30px;
                                    border-width: 1px;
                                }
                            }
                        }
                    }
                }
            }

            .crosssell{
                margin-bottom: 30px;
                display: none;

                .title{
                    font-family: @font-family-serif;
                    font-weight: bold;
                    font-size: 16px;
                    color: @color-black;
                    border-bottom: 1px solid @color-grey;
                    padding: 20px 0 5px;
                    text-transform: uppercase;
                    letter-spacing: @h1__letter-spacing;
                    position: relative;
                    margin: 0;
                }

                .content{

                    .product-item-details{

                        .product-item-name{
                            line-height: 14px;
                            min-height: 42px;
                        }

                        .price-box{
                            margin-bottom: 5px;
                            margin-top: 5px;

                            .price{
                                font-size: 16px;
                            }
                        }

                        .product-item-actions{
                            margin-top:0;

                            .actions-primary{

                                .tocart{
                                    padding: 10px 0px;

                                    span{
                                        font-size: 12px;
                                        padding: 7px;
                                    }
                                }
                            }

                            .secondary-addto-links{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}







//
//  Tablet, min @screen_l
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    .checkout-cart-index{

        .cart-container {
            display: flex;
            flex-direction: column;

            .form-cart{
                order: 0;
                margin-bottom: 10px;
                width: 100%;
            }

            .cart-discount{
                order: 1;
                margin-bottom: 20px;

                #block-discount{
                    width:73%;
                }
            }

            .cart-summary {
                order: 2;
                top: 0 !important;
                width: 100%;

                .checkout-methods-items {
                    width: 50%;
                }
            }
        }
    }
}



//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .checkout-cart-index {

        .block.newsletter{
            display:none;
        }

        .page-title{
            text-align: center;
        }

        .columns.container{
            border-top: 1px solid @color-black;
            padding-top: 15px;

        }

        .cart-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 0;


            /*Cart e Minicart mobile */

            .cart-summary{
                order: 1;
                margin-left: -15px;
                margin-right: -15px;
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 0;


                > .title{
                    display: block;
                    padding: 15px 0;
                    margin: 0;
                    font-size: 14px;
                }

                #block-shipping {

                    > .title{
                        padding-left: 0;

                        &:after{
                            top: 20%;
                        }
                    }

                    #block-summary {
                        padding-left:0;
                        padding-right:0;
                    }
                }

                #shipping-zip-form {

                    .field {

                        .label {
                            margin-bottom: 5px;
                        }
                    }
                }

                #cart-totals{
                    padding-left: 0;
                    padding-right: 0;
                    border-color: @color-heavy-grey;

                    .mark{
                        font-size: 12px;
                    }

                    .totals{

                        .price{
                            font-size: 14px;
                        }

                        .mark{
                            .label{
                                font-size: 12px;
                            }
                        }
                    }

                    .grand{
                        .mark{
                            border-color: @color-heavy-grey;
                            strong{
                                font-size: 20px;
                            }
                        }
                        .price{
                            font-size: 16px;
                        }
                        .amount{
                            border-color: @color-heavy-grey;
                        }
                    }
                }

                .checkout-methods-items {
                    width: 100%;

                    .item {

                        .action.primary.checkout {
                            font-size: 12px;
                        }
                    }
                }
            }


            /* Products table mobile */

            .form-cart {
                order: 0;
                margin-bottom: 10px;

                .cart.table-wrapper {
                    margin-bottom: 10px;

                    .cart {
                        margin-bottom: 10px;

                        .cart {

                            .item-info {

                                > td {

                                    .product-item-details {

                                        .product-item-name {
                                            font-size: 13px;
                                        }
                                    }
                                }

                                .col {

                                    &:before {
                                        font-size: 11px;
                                        color: @color-gray37;
                                        font-weight: bold;
                                    }

                                    &.image{
                                        display: none;
                                        position: relative;
                                        width: 90px;
                                        padding: 0;

                                        > a{
                                            position: relative;
                                        }
                                    }

                                    &.item{

                                        .product-item-photo{
                                            display: block;
                                        }
                                    }

                                    &.price {
                                        text-align: left;
                                        font-weight: bold;

                                        &:before{
                                            text-align: left;
                                        }
                                    }

                                    &.qty{

                                        &:before{
                                            text-align: center;
                                        }

                                    }

                                    .price-excluding-tax {

                                        .cart-price {

                                            .price {
                                                font-size: 13px;
                                                font-weight: bold;
                                            }
                                        }
                                    }

                                }
                            }

                            .actions-toolbar {
                                min-height: 40px;

                                > .fed-icon {
                                    font-size: 20px;
                                    padding: 8px;
                                    padding-right: 0;
                                }
                            }

                            .ec-cart-qty-control {

                                .ec-cart-qty-control-div {

                                    button {
                                        padding-top: 0;
                                        top: -1px;
                                    }

                                    .input-text {
                                        font-size: 13px;
                                        width: 17px;
                                        margin-top: 0;
                                        padding-top: 0;
                                    }
                                }
                            }
                        }

                        thead{
                            tr{
                                th{
                                    border: none;
                                }
                            }
                        }
                    }
                }

                .cart.actions{
                    text-align:left;
                    padding-bottom: 20px;
                    margin-bottom: 10px;
                    border-bottom: 1px solid @color-gray79;

                    button{
                        padding: 8px 20px 6px;
                        font-size: 12px;
                    }
                }
            }

            .cart-discount{
                border-bottom: none;
                margin-bottom: 0;

                .discount {
                    width: 100%;

                    .content {
                        border-bottom: none;
                        margin-bottom: 20px;

                        .field {
                            display: block;
                            margin-bottom: 15px;

                            .input-text {
                                font-size: 12px;
                                border-bottom: 1px solid @color-gray60;
                                padding-bottom: 5px;
                            }
                        }

                        .actions-toolbar {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}






//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .cart-container{

        > .action.primary.checkout{
            display: none;
        }
    }

}
