//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-index-index {

        select {
            font-size: @select-font-size;
        }

        /* header */
        .page-header {
            background: @color-light-grey;
            .content {
                text-align: center;
                .logo {
                    float: unset;
                }
            }
        }

        /* main content */
        .checkout-container {
            margin: 0 0 20px;
            position: relative;

            /* authentication */

            .authentication-wrapper {
                display: block;
                width: unset;
                position: absolute;
                right: 0;
                margin-top: 30px;
                max-width: unset;
                &:hover {
                    text-decoration: none;
                }
                .fed-icon {
                    color: @color-black;
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    &:hover {
                        text-decoration: none;
                    }
                    span {
                        display: block;
                        font-family: @font-family-sans-serif;
                        font-size: 14px;
                        font-weight: normal;
                        margin-top: 5px;
                        letter-spacing: @h1__letter-spacing;
                    }
                }

                .authentication-dropdown {
                    position: absolute;
                    min-width: 500px;
                    right: 0;
                }
            }

            /* progress bar */

            .opc-progress-bar {
                display: flex;
                justify-content: center;
                margin-top: 30px;

                li {
                    &:before {
                        height: 4px;
                        border: none;
                        background: @color-light-grey;
                    }
                    span {
                        text-transform: uppercase;
                        letter-spacing: @h1__letter-spacing;
                        font-size: 13px;
                        background: inherit;
                        font-weight: bold;
                        color: @color-light-grey;
                        &:before {
                            border: none;
                            height: 42px;
                            margin-left: -21px;
                            width: 42px;
                            top: -2px;
                            background: @color-light-grey;
                        }
                        &:after {
                            content: '\e90e';
                            font-family: 'fedon1919-icon' !important;
                            border: none;
                            height: 34px;
                            margin-left: -16px;
                            top: 2px;
                            width: 33px;
                            font-size: 21px;
                            padding-top: 2px;
                            color: @color-light-grey;
                        }
                    }
                }

                ._active {
                    &:before {
                        background: @color-black;
                    }
                    span {
                        color: @color-black;
                        &:before {
                            background: @color-black;
                        }
                        &:after {
                            background: @color-white;
                            color: @color-black;
                        }
                    }

                }
            }

            .opc-wrapper {
                .opc {
                    .step-title {
                        font-family: @font-family-serif;
                        font-weight: bold;
                        font-size: 18px;
                        color: @color-black;
                        padding: 20px 0 15px;
                        text-transform: uppercase;
                        letter-spacing: @h1__letter-spacing;
                        position: relative;
                        margin: 0;
                    }

                    .step-content {

                        .form-login {

                            .actions-toolbar {

                                .primary{
                                    float: unset;
                                    text-align: left;
                                }

                                .secondary {
                                    display: block;
                                    text-align: left;

                                    a {
                                        font-size: 10px;
                                        color: #a0a0a0;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }

                        ._with-tooltip{
                            input {
                                margin-right: 0;
                                width: 100%;
                            }
                        }
                        .field-tooltip{
                            display: none;
                        }

                        > .action {
                            &:extend(.btn-base-negative all);
                        }

                        .shipping-address-items {
                            margin-top: 20px;
                            .action {
                                &:extend(.btn-base-negative all);
                                border-radius: 0;
                                float: left;
                                width: 100%;
                                padding: 10px 30px;
                            }
                            .shipping-address-item.selected-item {
                                border-color: @color-black;
                                &:after {
                                    background-color: @color-black;
                                }
                            }
                        }

                        .form-login {
                            border-bottom: 0;
                            padding-bottom: 0;

                            .note {
                                font-size: 15px;
                                color: @color-grey;
                            }

                            .control{
                                .additional{

                                }
                            }
                        }

                        fieldset {
                            .label {
                                font-size: 14px;
                                border-bottom: none;
                            }

                            .control {
                                .label {
                                    display: none;
                                }
                            }
                        }
                    }

                    .checkout-shipping-method {
                        .step-title {
                            text-align: left;
                            font-size: 18px;
                            border-bottom: none;
                        }
                        .step-content {
                            #checkout-shipping-method-load {
                                margin-bottom: 15px;
                                th {
                                    display: none;
                                }
                                .col-price {
                                    width: 100px;
                                }
                            }

                            .actions-toolbar {
                                .primary {
                                    float: unset;
                                }
                            }
                        }
                    }

                    .checkout-payment-method {
                        .payment-group {
                            margin-bottom: 100px;

                            .step-title {
                                padding: 0px 0 25px;
                                border-bottom: 1px solid @color-grey;
                            }
                            .payment-method {
                                .payment-method-title {
                                    .label {
                                        &:before {
                                            top: 9px;
                                            width: 26px;
                                            height: 25px;
                                        }
                                        &:after {
                                            top: 15px;
                                            width: 12px;
                                            height: 12px;
                                            left: 7px;
                                        }
                                        .payment-icon {
                                            margin-left: 20px;
                                        }
                                        span {
                                            font-size: 17px;
                                            margin-left: 25px;
                                            top: 9px;
                                            position: relative;
                                        }
                                        img ~ span {
                                            margin-left: 5px;
                                            top: 0px;
                                        }

                                        img ~ a span {
                                            top: 0px;
                                        }
                                    }
                                }

                                .payment-method-content {
                                    padding: 0;
                                    .checkout-agreement {
                                        .action {
                                            color: @color-black;
                                        }
                                    }

                                    .actions-toolbar {
                                        .action {
                                            font-size: 15px;
                                            padding: 15px 70px;
                                        }
                                    }

                                    .msp-cashondelivery-payment-method-extrafee {
                                        margin-bottom: 10px;
                                    }

                                    .payment-method-billing-address {
                                        padding: 10px 30px;
                                        background: @color-light-grey;
                                        display: inline-block;
                                        font-size: 18px;
                                        margin-bottom: 20px;

                                        .billing-address-same-as-shipping-block {
                                            margin-bottom: 10px;

                                            label {
                                                padding-left: 35px;

                                                > span {
                                                    position: relative;
                                                    font-size: 18px;
                                                }
                                            }
                                        }

                                        .billing-address-details {
                                            color: @color-heavy-grey;
                                            padding-left: 35px;
                                            font-size: 18px;
                                            line-height: 1.8;

                                            a {
                                                color: @color-heavy-grey;
                                                text-decoration: none;
                                            }

                                            .action {
                                                &:extend(.btn-base all);
                                                margin-top: 10px;
                                                margin-left: 0;
                                            }
                                        }

                                        .checkout-billing-address {
                                            .billing-address-form {
                                                margin-bottom: 25px;
                                            }

                                            .actions-toolbar {
                                                .primary {
                                                    float: unset;
                                                    .action-update {
                                                        &:extend(.btn-base all);

                                                        &:hover {
                                                            margin-top: 0;
                                                        }
                                                    }
                                                    .action-cancel {
                                                        &:extend(.btn-base-negative all);
                                                        margin-top: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }

                                    #co-transparent-form-braintree {
                                        label {
                                            font-weight: normal;
                                        }
                                    }
                                }
                            }
                        }

                        .discount-code {
                            .title {
                                padding: 40px 0 5px;
                                margin-bottom: 0;

                                #block-discount-heading {
                                    font-family: @font-family-serif;
                                    font-weight: bold;
                                    font-size: 14px;
                                    color: @color-black;
                                    text-transform: uppercase;
                                    letter-spacing: @letter_spacing_title;
                                    position: relative;
                                    margin: 0;

                                    &:after {
                                        content: '';
                                    }
                                }
                            }

                            .content {
                                border-bottom: 1px solid @color-gray37;
                                padding-bottom: 5px;
                                display: inline-block;
                                padding-left: 0;

                                .field {
                                    vertical-align: bottom;
                                    display: table-cell;
                                    margin: 0 0 20px;

                                    .input-text {
                                        border: none;
                                        padding-left: 0;
                                        height: auto !important;
                                        font-size: 13px;
                                        letter-spacing: @letter_spacing_title;

                                        &::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
                                            color: @color-gray46;
                                            opacity: 1; /* Firefox */
                                            letter-spacing: @letter_spacing_title;
                                        }
                                    }
                                }

                                .actions-toolbar {
                                    display: table-cell;
                                    vertical-align: top;
                                    width: 1%;

                                    .primary {
                                        margin-bottom: 5px;

                                        .action {
                                            margin: 0;
                                            font-size: 12px;
                                            padding: 10px 30px;
                                            border-width: 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .opc-sidebar {
                .opc-block-summary {
                    margin-bottom: 30px;
                    > span {
                        font-family: @font-family-serif;
                        font-weight: bold;
                        font-size: 18px;
                        color: @color-black;
                        padding: 10px 0 15px;
                        text-transform: uppercase;
                        letter-spacing: @h1__letter-spacing;
                        position: relative;
                        margin: 0;
                    }

                    .table-totals {
                        > .table-caption {
                            display: none;
                        }

                        .totals {
                            font-size: 12px;

                            > td, > th {
                                padding-bottom: 15px;

                                .price {
                                    font-size: 14px;
                                    font-weight: bold;
                                }
                            }

                            .mark {
                                .value {
                                    display: inline-block;

                                    &:before {
                                        content: '(';
                                    }

                                    &:after {
                                        content: ')';
                                    }
                                }
                            }

                            &.sub {
                                > th, > td {
                                    padding-top: 15px;
                                }
                            }

                            &.grand {
                                font-size: 20px;
                                font-weight: bold;

                                .price {
                                    font-size: 20px;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    .opc-block-summary-btn{
                        display: none;
                        font-size: 15px;
                        padding: 15px 70px;
                        line-height: 2.2rem;
                        color: @color-white;
                        background-color: @color-black;
                        border-color: @color-black;
                        width: 100%;
                        border-width: 2px;
                        transition: all 0.3s ease-out;

                        &:hover, &:active{
                            color: @color-black;
                            background-color: @color-white;
                        }

                        span{
                            white-space: normal;
                            line-height: 1;
                            display: block;
                        }
                    }

                    #opc-block-summary-paypal-btn{
                        display: block;
                    }

                    .items-in-cart {
                        .title {
                            border-bottom: 1px solid @color-grey;
                        }

                        .minicart-items-wrapper {
                            max-height: unset;

                            .minicart-items {
                                display: block;

                                .product-item-details {
                                    .product-item-name-block {
                                        padding-right: 35px;

                                        .product-item-name {
                                            font-weight: bold;
                                            line-height: 15px;
                                            font-family: @font-family-serif;
                                        }

                                        .details-qty {
                                            font-size: 11px;

                                            .label {
                                                color: @color-grey;
                                                padding-right: 5px;
                                            }
                                        }
                                    }

                                    .subtotal {
                                        .price {
                                            font-size: 13px;
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .opc-block-shipping-information {

                    .shipping-information-title {
                        font-family: @font-family-serif;
                        font-weight: bold;
                        font-size: 18px;
                        color: @color-black;
                        padding: 10px 0 15px;
                        text-transform: uppercase;
                        letter-spacing: @h1__letter-spacing;
                        position: relative;
                        margin: 0 0 15px;

                        .action {
                            &:before {
                                display: none;
                            }

                            span {
                                position: relative;
                                font-size: 13px;
                                color: black;
                                text-transform: capitalize;
                                font-weight: 300;
                                top: 12px;
                            }
                        }
                    }

                    .shipping-information-content {
                        font-size: 18px;
                        margin-bottom: 25px;
                        color: @color-heavy-grey;

                        a {
                            color: @color-heavy-grey;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .newsletter {
            display: none;
        }

        /* FOOTER*/

        .footer {
            background: @color-black;
            color: @color-white;
            padding-top: 50px;

            &:after {
                display: table;
                content: '';
                clear: both;
            }

            .ec-checkout-footer {
                h4 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-family: @font-family-serif;
                }

                &__contacts {
                    &__list {
                        list-style: none;
                        padding: 0;

                        &__item {
                            margin-bottom: 5px;

                            a {
                                color: @color-white;
                                text-decoration: none;

                                &:hover, &:focus {
                                    color: @color-white;
                                }
                            }

                        }
                    }
                }


                &__faq {

                    h4 {
                        border-bottom: 1px solid @color-white;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                    }
                    &__list {
                        border-bottom: 1px solid @color-white;
                        padding-bottom: 10px;
                        margin-bottom: 10px;

                        &__label {
                            font-weight: bold;
                            position: relative;
                            cursor: pointer;

                            &:after {
                                content: '\e622';
                                position: absolute;
                                right: 10px;
                                top: 3px;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                font-size: 12px;
                                line-height: 12px;
                                color: @color-white;
                                font-family: 'luma-icons';
                                margin: 3px 0 0;
                                vertical-align: middle;
                                display: inline-block;
                                font-weight: normal;
                                overflow: hidden;
                                speak: none;
                                text-align: center;
                            }

                            &.active {
                                &:after {
                                    content: '\e621';
                                }
                            }


                            > div{
                                position: relative;
                                z-index: 10;
                            }
                        }

                        &__content {
                            padding-top: 10px;
                            display: none;
                        }
                    }
                }
            }

            .footer-copyright {
                border-top: 0;
                color: @color-white;
                padding-top: 70px;

                .fed-icon {
                    color: @color-white;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .opc-wrapper {
        .edit-address-link {
            position: relative;
            right: 0 !important;
            &:before {
                display: none;
            }
            > span {
                position: relative;
            }
        }
        .shipping-address-item {
            &.selected-item {
                padding: 15px 18px;
            }
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {


    /*** close icon in sidebar z-index */
    .modal-header  .action-close{
        z-index: 999;
    }

    .checkout-index-index {
        .page-header {
            border-bottom: 0;
            .logo {
                margin-top: 5px;
            }

        }

        .checkout-container {
            margin-bottom: 0;

            .authentication-wrapper {
                display: none;
            }

            .opc-progress-bar {
                display: none;
            }

            .opc-estimated-wrapper {
                position: relative;
                margin-top: 0;
                background: @color-light-grey;

                .estimated-block {
                    font-size: 15px;
                    text-transform: uppercase;
                }

                .minicart-wrapper {
                    right: 25px;
                    margin-top: 5px;
                }
            }

            .opc-sidebar{
                .opc-block-summary{
                    > span{
                        margin-top: 15px;
                    }

                    .items-in-cart{

                        .minicart-items-wrapper{

                            .minicart-items{

                                .product{

                                    > .product-image-container{
                                        float: unset;
                                    }

                                    .product-item-details{
                                        padding-left: 0;

                                        .product-item-name-block {
                                            padding-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .opc-wrapper {
                .opc {
                    #checkout-step-shipping{
                        .form-login, .form-shipping-address{
                            background: @color-white;
                        }

                    }
                    .checkout-payment-method {
                        .payment-group {
                            margin-bottom: 50px;
                            .step-title {
                                text-align: center;
                                font-size: 15px;
                            }

                            .payment-method {
                                margin: 0;
                                .payment-method-title {
                                    .label {
                                        img ~ span {
                                            font-size: 16px;
                                            top: 1px;
                                            margin-left: 0px;
                                        }

                                        span{
                                            font-size: 16px;
                                        }
                                        .payment-icon{
                                            margin-left: 15px;
                                            margin-top: 2px;
                                        }
                                    }
                                }

                                .payment-method-content {
                                    padding: 0 15px !important;



                                    .payment-method-billing-address{

                                        .billing-address-same-as-shipping-block {

                                            label {
                                                padding-left: 25px;

                                                > span {
                                                    font-size: 15px;
                                                }
                                            }
                                        }

                                        .billing-address-details {
                                            padding-left: 40px;
                                            font-size: 15px;
                                            line-height: 1.5;
                                        }

                                        .checkout-billing-address{

                                            .actions-toolbar{

                                                .primary {

                                                    .action-update {
                                                        margin-bottom: 10px !important;
                                                    }
                                                }
                                            }

                                        }

                                    }

                                    .credit-card-types{

                                        .item{
                                            margin-bottom: 10px;

                                            img{
                                                max-width: 32px;
                                            }
                                        }
                                    }

                                }
                            }
                        }

                    }

                    .checkout-shipping-method {
                        .step-content {
                            .step-title {
                                text-align: center;
                                font-size: 15px;
                            }

                            .methods-shipping {
                                background: #fff;
                                padding-top: 0;
                                margin-top: 0;
                                border-bottom: 0;
                                margin-bottom: 0;

                                #checkout-shipping-method-load {
                                    margin-bottom: 0;

                                    .col-price {
                                        width: 70px;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }

                    .checkout-payment-method {
                        .discount-code {
                            border-bottom: none;
                            width: 100%;
                            margin: 0;

                            .title{
                                border:none;
                                padding-top: 5px;
                                padding-bottom: 10px;

                            }

                            .content {
                                border-bottom: none;
                                margin-bottom: 20px;
                                display: block;
                                padding-right: 0;

                                .form-discount {
                                    max-width: unset;
                                    .field {
                                        display: block;
                                        font-size: 12px;
                                        border-bottom: 1px solid @color-gray60;
                                        padding-bottom: 5px;
                                        margin-bottom: 10px;
                                    }
                                    .actions-toolbar {
                                        display: block;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }


        .footer {
            padding-top: 20px;
            .ec-checkout-footer {
                &__contacts {
                    margin-bottom: 10px;
                }
                &__faq {
                    h4 {
                        font-size: 18px;
                    }
                    &__list {
                        font-size: 12px;

                        &__label {

                            > div{
                                padding-right: 30px;
                            }
                        }
                    }
                }
            }
            .footer-copyright {
                padding-top: 25px;
                padding-bottom: 20px;
                #footer-logos {
                    margin-top: 10px;
                }
            }
        }
    }
}




//
//  Tablet, min @screen_l
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    .checkout-index-index {

        .opc-wrapper {
            width: 100%;
            float: unset;
            padding-right: 0;

            .form-shipping-address, .form-login{
                max-width: unset;
            }
        }

        .opc-sidebar{
            visibility: visible;
            width: 100%;
            float: unset;
        }
    }
}





//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .checkout-index-index {
        .checkout-container {
            .opc-sidebar {
                margin-top: 60px;
                .opc-block-shipping-information {
                    padding: 0;
                }
            }
        }
    }
}
