//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .cms-company-page, .cms-company {

    .widget.block.block-static-block{
      margin-bottom: 0;
    }


    .column.main {

      > p {
        margin: 0;
      }

    }

    .page-row-section {
      margin: 40px auto 40px;
    }

    #company-page-presence {
      background: #f5f5f4;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 0;

      .company-page-presence-wrapper {
        max-width: 1440px;
        padding: 0;

        > div {
          padding: 0 60px;
          width: 50%;
        }

        #company-page-presence-text {
          line-height: 25px;
          padding: 0 65px;
        }

        .company-page-presence-cities {
          width: 49%;
          display: inline-block;
          margin: 20px 0 0;
          padding: 0;

          li {
            list-style-type: none;
            font-style: italic;
            font-size: 24px;
            color: @color-heavy-grey;
            font-weight: 300;
            margin-bottom: 8px;
          }
        }
      }

      .widget.block-static-block {
        margin-bottom: 0 !important;

        -webkit-font-smoothing: antialiased;
      }

    }

  }

}



//
//  Desktop
//  _____________________________________________

/*
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .page-main .block {
    margin-bottom: 0px;
  }
}
*/


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .cms-company-page, .cms-company{

    #company-page-presence {
      flex-direction: column;

      .company-page-presence-wrapper {

        > div {
          width: 100%;
          padding: 0px;

          > img{
            width: 80%;
          }

          &:first-child{
            margin-bottom: 40px;
          }

        }

      }

    }

    #company-page-presence {

      > div{
        padding: 0 26px;
        width: 100%;
      }

      #company-page-presence-image {
        order: 0 !important;
        margin-bottom: 20px;
      }

      .company-page-presence-cities {

        li {
          list-style-type: none;
          font-style: italic;
          font-size: 18px;
          color: @color-heavy-grey;
          font-weight: 300;
          margin-bottom: 0;
        }
      }
    }

  }


}


