& when (@media-common = true) {

  .ec-gtm-cookie-directive {
    padding: 0 20px;
      bottom: 0;
      z-index: 100;

    > div {
      max-width: 100%;
        padding: 10px 20px;

      > div > div a {
        color: @color-black;
        &.action.accept,
        &.action.refuse {
          border: 2px solid @color-black;
          padding: 12px 25px;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 12px;
          font-family: @font-family-serif;
          margin-right: 15px;
          font-weight: bold;
        }
          &.action.refuse {
              border: none;
              text-decoration: underline;
          }
      }

        > div > div p {
            padding: 3px;
        }
    }
    .button-wrapper {
        margin: 5px 0 0;
    }
  }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .ec-gtm-cookie-directive {
      font-size: 10px;
      padding: 0;
      bottom: -5px;

      > div{
          padding: 5px 10px;
      }

      > div > div {
          min-width: unset;

          > div p{
              padding: 0;
          }

          > .button-wrapper {
              text-align: center;
              margin-top: 5px;
              a.action {
                  display: inline-block;
                  float: none;
                  margin-right: 0 !important;
                  font-size: 10px !important;
                  padding: 5px 10px !important;
              }
          }
      }
  }
}
