@email-general-black: #313437;
@email-row__background-color: #f5f5f4;
@email-header__background-color: #ececec;
@email-footer__background-color: #ececec;
@email-footer__color: #a1a1a1;

@email-link__color: #303030;
