table{
  *{
    color: @email-general-black;
    font-size: 12px;
  }
  h3{
    font-size: 13px;
    text-transform: uppercase;
  }
  a{
    color: @email-link__color;
  }
  p{
    margin-bottom: 0;
  }
  .header {
    background: @email-header__background-color;
  }
  .main-content{
    padding: 30px 0;
    .email-intro{
      h1 {
        padding: 0;
        margin: 25px 0 20px;
        font-size: 26px;
        font-family: 'Montserrat', sans-serif;;
      }
      p{
        padding: 0 15px;
        margin: 15px 0;
      }
    }
    .email-summary,
    .email-information{
      > td {
        padding: 20px 0;
        > table {
          margin: 0 10px;
          &.shipment-track,
          &.email-items {
            margin: 0;
            .item-info,
            .item-qty,
            .item-price{
              padding: 20px 10px;
            }
          }
          &.shipment-track{
            th{
              padding: 0 10px;
              font-size: 13px;
              text-transform: uppercase;
            }
          }
        }
      }
    }
    .email-summary{
      font-size: 13px;
      td{
        padding: 20px 10px;
      }
      span{
        font-weight: bold;
        font-size: 14px;
      }
    }
    .order-details{

    }
    .order-totals{
      border-top: 1px solid #000;
      padding-top: 10px;
      tr{
        th{
          text-align: left;
          font-weight: bold;
          text-transform: uppercase;
          background-color: @email-row__background-color;
        }
        td{
          font-weight: bold;
          font-size: 14px;
          background-color: @email-row__background-color;
        }
      }
    }
  }
  .footer {
    background-color: @email-footer__background-color;
    color: @email-footer__color;
    padding: 40px 25px 50px;
    font-family: 'Open Sans', sans-serif;
    h4{
      margin-top: 0;
      color: @email-footer__color;
      font-size: 14px;
    }
    p{
      color:@email-footer__color;

        a {
           color: @color-white !important;
        }
    }
  }
}

.rest-psw-wrapper{
  table {
    tr {
      td {
        padding: 20px 10px;
      }
      a{
        padding: 15px 35px;
        margin: 15px 0;
        border: 3px solid @email-footer__background-color;
        color: @email-footer__background-color;
        font-size: 13px;
        text-transform: uppercase;
        display: inline-block;
      }
    }
  }
}

.account-wrapper{
  .inner-wrapper{
    margin: 0 20px;
  }
  ul{
    list-style: disc;
    text-align: left;
    margin: 30px;
  }
  a{
    font-weight: bold;
    color: @email-general-black !important;
    text-decoration: underline;
  }
}