@btn-base-color:        @color-white;
@btn-base-bg:           @color-black;
@btn-base-border:       @color-black;
@btn-base-hover-color:  @color-black;
@btn-base-hover-bkg:    @color-white;

@btn-base-negative-color:        @color-black;
@btn-base-negative-bg:           @color-white;
@btn-base-negative-border:       @color-black;
@btn-base-negative-hover-color:  @color-white;
@btn-base-negative-hover-bkg:    @color-black;

.btn-base{
  &:extend(.btn all);
  .button-variant(@btn-base-color; @btn-base-bg; @btn-base-border; @btn-base-hover-color; @btn-base-hover-bkg);

  &:visited{
    color: @color-white;
  }
  &:hover{
    &:visited{
      color: @color-black;
    }
  }
}

.btn-base-negative{
  &:extend(.btn all);
  .button-variant(@btn-base-negative-color; @btn-base-negative-bg; @btn-base-negative-border; @btn-base-negative-hover-color; @btn-base-negative-hover-bkg);

  &:visited{
    color: @btn-base-negative-color;
  }
  &:hover{
    &:visited{
      color: @btn-base-negative-hover-color;
    }
  }
}

.actions-toolbar > .primary .action.primary,
.action.primary{
  &:extend(.btn-base all);
}

/* add to captcha button btn style */
.captcha-reload{
    &:extend(.btn-base-negative all);
}
