
// IMPORT SITE BASE FONTS
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800.css');
@import url('//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900.css');

@icomoon-font-path: '@{baseDir}fonts';

@fed_icon_linkedin: "\e913";
@fed_icon_storelocator: "\e912";
@fed_icon_account_package: "\e910";
@fed_icon_account_cart: "\e911";
@fed_icon_wishlist_full: "\e907";
@fed_icon-share: "\e90f";
@fed_icon_checkout_check: "\e90e";
@fed_icon_wishlist: "\e90d";
@fed_icon_amex: "\e90c";
@fed_icon_facebook: "\e917";
@fed_icon_gplus: "\e918";
@fed_icon_instagram: "\e919";
@fed_icon_mastercard: "\e91a";
@fed_icon_paypal: "\e91c";
@fed_icon_twitter: "\e91d";
@fed_icon_visa: "\e91e";
@fed_icon_arrow: "\e90b";
@fed_icon_language: "\e90a";
@fed_icon_cart: "\e900";
@fed_icon_close: "\e901";
@fed_icon_delete: "\e902";
@fed_icon_edit: "\e903";
@fed_icon_menu: "\e904";
@fed_icon_pin: "\e905";
@fed_icon_search: "\e906";
@fed_icon_account: "\e908";
@fed_icon_CS: "\e909";
@fed_private: "\e629";
@fed_gift-registry: "\e62b";
@fed_star-empty: "\e625";
@fed_download: "\e626";
@fed_undo: "\e628";
@fed_print: "\e624";
@fed_help: "\e623";
@fed_success: "\e60e";
@fed_error: "\e61f";
@fed_account: "\e627";
@fed_edit: "\e601";
@fed_wishlist-full: "\e600";
@fed_warning: "\e602";
@fed_update: "\e603";
@fed_trash: "\e604";
@fed_star: "\e605";
@fed_settings: "\e606";
@fed_pointer-down: "\e607";
@fed_next: "\e608";
@fed_menu: "\e609";
@fed_location: "\e60a";
@fed_list: "\e60b";
@fed_info: "\e60c";
@fed_grid: "\e60d";
@fed_minus: "\e60f";
@fed_checkmark: "\e610";
@fed_cart: "\e611";
@fed_calendar: "\e612";
@fed_arrow-up: "\e613";
@fed_arrow-down: "\e614";
@fed_search: "\e615";
@fed_present: "\e62a";
@fed_prev: "\e617";
@fed_remove: "\e616";
@fed_pointer-up: "\e618";
@fed_pointer-right: "\e619";
@fed_pointer-left: "\e61a";
@fed_flag: "\e61b";
@fed_expand: "\e61c";
@fed_envelope: "\e61d";
@fed_compare-full: "\e61e";
@fed_comment: "\e620";
@fed_up: "\e621";
@fed_down: "\e622";

@font-face {
    font-family: 'fedon1919-icon';
    src:  url('@{icomoon-font-path}/fedon1919-icon.eot?b4u62v');
    src:  url('@{icomoon-font-path}/fedon1919-icon.eot?b4u62v#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/fedon1919-icon.ttf?b4u62v') format('truetype'),
    url('@{icomoon-font-path}/fedon1919-icon.woff?b4u62v') format('woff'),
    url('@{icomoon-font-path}/fedon1919-icon.svg?b4u62v#fedon1919-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fed-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fedon1919-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fed_icon_linkedin {
    &:before {
        content: @fed_icon_linkedin;
    }
}

.fed_icon_storelocator {
    &:before {
        content: @fed_icon_storelocator;
    }
}

.fed_icon_account_package {
    &:before {
        content: @fed_icon_account_package;
    }
}
.fed_icon_account_cart {
    &:before {
        content: @fed_icon_account_cart;
    }
}
.fed_icon_wishlist_full {
    &:before {
        content: @fed_icon_wishlist_full;
    }
}
.fed_icon-share {
    &:before {
        content: @fed_icon-share;
    }
}
.fed_icon_checkout_check {
    &:before {
        content: @fed_icon_checkout_check;
    }
}
.fed_icon_wishlist {
    &:before {
        content: @fed_icon_wishlist;
    }
}
.fed_icon_amex {
    &:before {
        content: @fed_icon_amex;
    }
}
.fed_icon_facebook {
    &:before {
        content: @fed_icon_facebook;
    }
}
.fed_icon_gplus {
    &:before {
        content: @fed_icon_gplus;
    }
}
.fed_icon_instagram {
    &:before {
        content: @fed_icon_instagram;
    }
}
.fed_icon_mastercard {
    &:before {
        content: @fed_icon_mastercard;
    }
}
.fed_icon_paypal {
    &:before {
        content: @fed_icon_paypal;
    }
}
.fed_icon_twitter {
    &:before {
        content: @fed_icon_twitter;
    }
}
.fed_icon_visa {
    &:before {
        content: @fed_icon_visa;
    }
}
.fed_icon_arrow {
    &:before {
        content: @fed_icon_arrow;
    }
}
.fed_icon_language {
    &:before {
        content: @fed_icon_language;
    }
}
.fed_icon_cart {
    &:before {
        content: @fed_icon_cart;
    }
}
.fed_icon_close {
    &:before {
        content: @fed_icon_close;
    }
}
.fed_icon_delete {
    &:before {
        content: @fed_icon_delete;
    }
}
.fed_icon_edit {
    &:before {
        content: @fed_icon_edit;
    }
}
.fed_icon_menu {
    &:before {
        content: @fed_icon_menu;
    }
}
.fed_icon_pin {
    &:before {
        content: @fed_icon_pin;
    }
}
.fed_icon_search {
    &:before {
        content: @fed_icon_search;
    }
}
.fed_icon_account {
    &:before {
        content: @fed_icon_account;
    }
}
.fed_icon_CS {
    &:before {
        content: @fed_icon_CS;
    }
}
.fed_private {
    &:before {
        content: @fed_private;
    }
}
.fed_gift-registry {
    &:before {
        content: @fed_gift-registry;
    }
}
.fed_star-empty {
    &:before {
        content: @fed_star-empty;
    }
}
.fed_download {
    &:before {
        content: @fed_download;
    }
}
.fed_undo {
    &:before {
        content: @fed_undo;
    }
}
.fed_print {
    &:before {
        content: @fed_print;
    }
}
.fed_help {
    &:before {
        content: @fed_help;
    }
}
.fed_success {
    &:before {
        content: @fed_success;
    }
}
.fed_error {
    &:before {
        content: @fed_error;
    }
}
.fed_account {
    &:before {
        content: @fed_account;
    }
}
.fed_edit {
    &:before {
        content: @fed_edit;
    }
}
.fed_wishlist-full {
    &:before {
        content: @fed_wishlist-full;
    }
}
.fed_warning {
    &:before {
        content: @fed_warning;
    }
}
.fed_update {
    &:before {
        content: @fed_update;
    }
}
.fed_trash {
    &:before {
        content: @fed_trash;
    }
}
.fed_star {
    &:before {
        content: @fed_star;
    }
}
.fed_settings {
    &:before {
        content: @fed_settings;
    }
}
.fed_pointer-down {
    &:before {
        content: @fed_pointer-down;
    }
}
.fed_next {
    &:before {
        content: @fed_next;
    }
}
.fed_menu {
    &:before {
        content: @fed_menu;
    }
}
.fed_location {
    &:before {
        content: @fed_location;
    }
}
.fed_list {
    &:before {
        content: @fed_list;
    }
}
.fed_info {
    &:before {
        content: @fed_info;
    }
}
.fed_grid {
    &:before {
        content: @fed_grid;
    }
}
.fed_minus {
    &:before {
        content: @fed_minus;
    }
}
.fed_checkmark {
    &:before {
        content: @fed_checkmark;
    }
}
.fed_cart {
    &:before {
        content: @fed_cart;
    }
}
.fed_calendar {
    &:before {
        content: @fed_calendar;
    }
}
.fed_arrow-up {
    &:before {
        content: @fed_arrow-up;
    }
}
.fed_arrow-down {
    &:before {
        content: @fed_arrow-down;
    }
}
.fed_search {
    &:before {
        content: @fed_search;
    }
}
.fed_present {
    &:before {
        content: @fed_present;
    }
}
.fed_prev {
    &:before {
        content: @fed_prev;
    }
}
.fed_remove {
    &:before {
        content: @fed_remove;
    }
}
.fed_pointer-up {
    &:before {
        content: @fed_pointer-up;
    }
}
.fed_pointer-right {
    &:before {
        content: @fed_pointer-right;
    }
}
.fed_pointer-left {
    &:before {
        content: @fed_pointer-left;
    }
}
.fed_flag {
    &:before {
        content: @fed_flag;
    }
}
.fed_expand {
    &:before {
        content: @fed_expand;
    }
}
.fed_envelope {
    &:before {
        content: @fed_envelope;
    }
}
.fed_compare-full {
    &:before {
        content: @fed_compare-full;
    }
}
.fed_comment {
    &:before {
        content: @fed_comment;
    }
}
.fed_up {
    &:before {
        content: @fed_up;
    }
}
.fed_down {
    &:before {
        content: @fed_down;
    }
}