//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .footer-acc {
        padding: 15px 0 40px;
        display: flex;
        flex-wrap: wrap;
        a {
            cursor: pointer;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
        ul {
            padding: 0;
            list-style: none;

            li {
                font-family: @font-family-sans-serif;
                margin-bottom: 0;
                font-size: 13px;
                line-height: 1.8;
                font-weight: 100;

                * {
                    color: @color-black;
                }
            }
        }
        > ul {
            margin-bottom: 0;
            border-top: 0;
            padding-top: 0;
            width: 25%;

            &#footer-acc-social {
                ul {
                    li {
                        display: inline-block;
                        margin-right: 5px;
                        color: #000;

                        a {
                            color: #000;
                            font-size: 22px;
                            margin-right: 10px;

                            &:hover,
                            &:focus {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            > li {
                text-transform: uppercase;
                position: relative;

                &.title-footer {
                    color: @color-black;
                    font-family: @font-family-serif;
                    font-weight: bold;
                    padding-bottom: 10px;
                    text-transform: uppercase;
                }
            }
        }
    }

    .footer-copyright {
        color: @color-black;
        font-size: 9px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 1px solid #d6d6d6;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
        }

        #footer-logos {
            text-align: right;
            color: #a0a0a0;
            font-size: 30px;

            .fed_icon_paypal{
                top: -2px;
                position: relative;

                &:before{
                    font-size: 22px;
                }
            }
        }

    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-footer {
        background: #fff;
        margin-top: auto;
        padding-bottom: 25px;
    }

    .footer-acc {

        ul {
            display: block !important;
        }
    }

}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .footer {

        .footer-acc {
            padding: 30px 15px;
            display: block;

            ul {
                display: block;
                width: 100%;
                margin-bottom: 25px;

                li {
                    margin-bottom: 5px;
                }
            }

            > ul {
                padding-top: 2px;
                border-bottom: 1px solid #d6d6d6;
                > li {
                    .accordion_arrow_icon(42px, 100%, #fff, 50px);
                    font-weight: bold;

                    &.title-footer {
                        text-transform: uppercase;
                        padding-bottom: 15px;
                        cursor: pointer;

                        &.ui-state-active {
                            .accordion_arrow_icon_close();

                        }
                    }
                }
            }
        }

        .footer-copyright {
            flex-direction: column;
            text-align: center;
            padding-top: 30px;
            border-top: none;
            padding-bottom: 20px;

            > p {
                order: 1;
            }

            .footer-logos {
                margin-bottom: 10px;
            }
        }

    }

}


