
//
//  Common
//  _____________________________________________

& when (@media-common = true) {

}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .panel.header .switcher{
    float: left;
  }
}
//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .page-header {
    .switcher {
      margin-left: 0px;
    }
  }
}