//
//  Common
//  _____________________________________________
.images-scale-normal(){
    .ec-home-highlights--image-wrapper{
        display: inline-block;
        overflow: hidden;
        width: 100%;
        img{
            width: 100%;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    &:hover{
        .ec-home-highlights--image-wrapper{
            img{
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
}

& when (@media-common = true) {

    .cms-index-index {
        .column.main {
            > p {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
        .ec-nav.disabled {
            display: none;
        }
        .EC-OwlImageslider {
            .slider-wrapper {
                .ec-dots {
                    .owl-dot {
                        @dot-size: 11px;
                        width: @dot-size;
                        height: @dot-size;
                        margin: 0 10px;
                        span {
                            width: @dot-size;
                            height: @dot-size;
                            margin: 0;
                        }
                    }
                }
            }
            .ec-slider-item {
                max-height: 700px;
                .ec-owlslider-description-container {
                    .ec-container-text-info-slide {
                        text-align: center;
                        h1, h2, h3, h4 {
                            font-size: 26px;
                            line-height: 30px;
                            font-family: @font-family-serif;
                            font-weight: bold;
                            margin-bottom: 25px;
                            padding-bottom: 0;
                            color: #FFF;
                        }
                        a {
                            &:extend(.btn);
                            &:extend(.btn-primary all);
                        }
                    }
                }
            }

            ~ .page-row-section {
                margin-bottom: 60px;
            }
        }

        .page-row-section {

            .page-row-side-text {
                padding: 0 80px;
            }
        }

        .home-products-section {
            background: @color-gray91;
            margin-bottom: 40px;

            .home-products-grid {
                display: flex;
                padding-top: 60px;
                padding-bottom: 60px;
                justify-content: center;

                &--element {
                    text-align: center;

                    .images-scale-normal();

                    &:first-child {
                        padding-right: 15px;
                    }

                    > img {
                        margin-bottom: 20px;
                    }

                    &--text {
                        text-align: center;

                        > span {
                            font-style: italic;
                            font-family: @font-family-serif;
                            font-size: 18px;
                            color: @color-black;
                        }

                        h2 {
                            margin-top: 1rem;
                            font-size: 32px;
                        }
                    }

                    a {
                        &:extend(.btn);
                        &:extend(.btn-default all);
                    }

                }
            }
        }
    }

    .home-highlights-section {
        margin-bottom: 40px;

        #ec-home-highlights-mobile {
            display: none;
        }

        h2 {
            display: block;
            font-size: 32px;
            letter-spacing: @letter_spacing_title;
            margin-bottom: 25px;
        }

        .home-highlights {
            display: inline-block;
            width: 100%;

            &--element {
                text-align: left;
                color: @color-black;
                padding-left: 5px;
                padding-right: 5px;
                cursor: pointer;
                text-decoration: none;
                display: inline-block;
                width: 33.3334%;
                float: left;

                .images-scale-normal();

                &:first-child{
                    padding-left: 0;
                    padding-right: 10px;
                }
                &:last-child{
                    padding-left: 10px;
                    padding-right: 0;
                }

                &--text {
                    font-family: @font-family-serif;
                    font-weight: bold;
                    font-size: 19px;
                    text-transform: uppercase;
                    margin: 20px 0;
                    display: inline-block;
                    width: 100%;
                }
            }
        }
    }

}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    /* modal store box */
    .modal-popup.ec-popup-ship-to {
        top: 120px;

        .modal-inner-wrap{
            min-height: unset !important;
        }

        #ec-popup-ship-to{

            .ec-popup-inf.popup-header{
                padding: 15px 30px 0px;

                p{
                    font-size: 12px;
                }
            }

            .popup-divider{
                display: none;
            }

            .popup-content{
                .field-delivery-country {
                    margin-bottom: 10px;
                }

                .ec-button-container{
                    margin-top: 0;
                    margin-bottom: 0;

                    .action.primary{
                        display: block;
                        padding: 15px 20px;
                    }
                }
            }
            .ec-popup-inf.popup-footer{
                padding: 10px;
            }
        }
    }

    .cms-index-index {
        .home-highlight {
            .owl-dots {
                bottom: -30px;
                span {
                    border: 1px solid black;
                    background-color: transparent;
                    border-radius: 50%;
                }
                .owl-dot {
                    &:hover{
                        span{
                            background-color: transparent;
                        }
                    }
                    &.active {
                        span {
                            background: black;
                            border-color: black;
                        }
                    }
                }
            }
            .ec-slider-item {
                .ec-owlslider-description-container {
                    padding-bottom: 15px;
                    &.ec-h-align__left,
                    &.ec-h-align__center,
                    &.ec-h-align__right {
                        justify-content: center;
                    }
                    .ec-container-text-info-slide {
                        p:first-of-type {
                            display: none;
                        }
                    }
                }
            }
        }

 /*   .cms-index-index .page-row-section .row-section .page-row-side-text  comment from Alberto M., error line */

        .page-row-section {

            .row-section {
                margin-bottom: 40px;

                .page-row-side-text {
                    padding: 0;

                    .side-text-title {
                        margin-top: 0;
                        line-height: 32px;
                    }
                }
            }
        }

        .home-products-section {

            .home-products-grid {
                flex-direction: column;
                padding-top: 40px;

                &--element {

                    &:first-child {
                        padding-right: 0;
                        padding-bottom: 60px;
                    }

                    &--text {

                        span {
                            font-size: 16px;
                        }

                        h2 {
                            font-size: 26px;
                        }
                    }
                }
            }
        }

        .home-highlights-section {

            #ec-home-highlights-mobile {
                display: block;
            }

            h2 {
                font-size: 28px;
                text-align: center;
            }

            .home-highlights {
                flex-direction: column;
                display: none;

                &--element {
                    width: 100%;
                    padding-right: 5px;
                    padding-left: 5px;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .cms-index-index {
        .EC-OwlImageslider {
            margin-bottom: 60px;
            .ec-slider-item {
                .ec-owlslider-description-container {
                    .ec-container-text-info-slide {
                        h1, h2, h3, h4 {
                            font-size: 42px;
                            line-height: 58px;
                            margin-bottom: 0px;
                        }
                        p {
                            font-family: 'Open Sans', sans-serif;
                            font-size: 21px;
                            font-weight: 300;
                            color: #FFF;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}
