//
//  Common
//  _____________________________________________

& when (@media-common = true) {





    #legal-area-tabs {
        display: flex;
        font-family: @font-family-sans-serif;
        margin-top: 25px;

        nav {

            #legal-area-tabs-menu-mobile {
                display: none;
                background-color: #f3f3f3;
                border: none;
                text-transform: uppercase;
                font-family: @font-family-serif;
            }

            > ul {
                background-color: #f5f5f4;
                margin: 0;
                min-width: 200px;
                padding: 10px 0;
                align-self: flex-start;

                li {
                    display: block;
                    background-color: inherit;
                    width: 100%;
                    border: none;
                    outline: none;
                    text-align: left;
                    cursor: pointer;
                    transition: 0.3s;
                    margin: 0;

                    a {
                        color: #333;
                        padding: 10px 20px;
                        width: 100%;
                        display: block;
                        text-decoration: none;

                        &:hover, &:active, &:focus {
                            text-decoration: none;
                        }
                    }
                }

                li.ui-tabs-active {
                    border-left: 3px solid #ff951a;
                }

            }

        }

        .legal-area-tabs-content {
            padding: 0px 0px 130px 130px;
            min-height: 600px;

            p {
                line-height: 1.7;
            }

            .legal-area-title {
                font-family: @font-family-serif;
                font-weight: bold;
                font-size: 30px;
                line-height: 1;
                margin-bottom: 20px;
            }


            #ec-faq-page__faq__div {
                z-index: 9;
                position: relative;
            }

            strong, strong a {
                font-weight: bold;
                color: #000;
            }

            #legal-area-garanzia-form-link {
                border: 2px solid #1a1a1a;
                padding: 20px;
                line-height: 27px;
                max-width: 565px;
            }

            .resi-schema{

                &__step{
                    margin-bottom: 20px;
                }

                &__arrow{
                    position: absolute;
                    top: 20px;
                    right: -22px;
                }
                p{
                    text-align:left;
                    font-size: 12px;
                    line-height: 1.5;
                }
            }

        }

        #faq_page{
            width: 100%;

            .ec-faq-page {
                h4 {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-family: @font-family-serif;
                }

                &__contacts {
                    &__list {
                        list-style: none;
                        padding: 0;

                        &__item {
                            margin-bottom: 5px;

                            a {
                                color: @color-white;
                                text-decoration: none;

                                &:hover, &:focus {
                                    color: @color-white;
                                }
                            }

                        }
                    }
                }

                &__faq {

                    h4 {
                        border-bottom: 1px solid @color-white;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                    }
                    &__list {
                        border-bottom: 1px solid @color-white;
                        padding-bottom: 10px;
                        margin-bottom: 10px;

                        &__label {
                            font-weight: bold;
                            position: relative;
                            cursor: pointer;

                            &:after {
                                content: '\e622';
                                position: absolute;
                                right: 10px;
                                top: 3px;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                                font-size: 12px;
                                line-height: 12px;
                                font-family: 'luma-icons';
                                margin: 3px 0 0;
                                vertical-align: middle;
                                display: inline-block;
                                font-weight: normal;
                                overflow: hidden;
                                speak: none;
                                text-align: center;
                            }

                            &.active {
                                &:after {
                                    content: '\e621';
                                }
                            }

                            > div{
                                position: relative;
                                z-index: 10;
                                padding-right: 30px;
                            }
                        }

                        &__content {
                            padding-top: 10px;
                            display:none;
                        }
                    }
                }
            }
        }
    }
}


//
//  Desktop
//  _____________________________________________

/*
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
}
*/


//
//  Tablet
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__l) {

    #legal-area-tabs {
        .legal-area-tabs-content{
            .resi-schema {
                .clearfix-md {
                    clear: both;
                }

                .arrow-md{
                    top: unset;
                    right: unset;
                    left: 0;
                    transform: rotate(145deg);
                    bottom: -50px;
                }
            }
        }
    }
}





//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    #legal-area-tabs {
        display: block;

        nav {
            margin-bottom: 20px;

            #legal-area-tabs-menu-mobile {
                display: block;
            }

            > ul {
                display: none;
            }

        }

        .legal-area-tabs-content{
            padding: 10px 10px 60px;

            .resi-schema{

                &__step{
                    padding: 0;
                    margin-bottom: 30px;

                    &__last{
                        margin-bottom: 60px;
                    }
                }

                &__arrow{
                    display:none;
                }

                p{
                    font-size: 14px;
                }
            }
        }
    }
}