// accordion icon
.accordion_arrow_icon(@height, @width, @color, @backgroundSize) {
    border: none;
    transition: all .1s ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: @color url('../images/select-bg.svg') no-repeat 100% 62%;
    height: @height;
    width: @width;
    background-size: @backgroundSize;
}



.accordion_arrow_icon_close
{
    background-image: url('../images/select-bg-inverse.svg');
}
