// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher,
        .storelocator-link {
            display: none;
        }
    }

    .navigation{
        .ui-menu-item{
            &.nav-5{
                a{
                    color: red;
                }
            }
        }
    }


    .nav-toggle {
        .lib-icon-font(
        @icon-menu,
        @_icon-font-size: 34px,
        @_icon-font-color: @color-gray19,
        @_icon-font-color-hover: @color-heavy-grey
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 30%;
        top: calc(~'50% - 18px');
        z-index: 14;
        line-height: 1;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = 1022px) {
    .panel.header{
        padding: 5px 20px !important;
        min-height: 35px;
        height: auto !important;
    }
    .navigation {
        padding: 0;

        .parent {
            .level-top {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @fed_next,
                @_icon-font-size: @font-size-medium,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 20px;
                    top: 14px;
                }

                &.ui-state-active {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }
    }
    .page-wrapper{
        .nav-sections {
            -webkit-overflow-scrolling: touch;
            .lib-css(transition, left .3s, 1);
            .lib-css(background, @color-white);
            height: 100%;
            left: -80%;
            left: calc(~'-1 * (100% - @{active-nav-indent})');
            overflow: auto;
            position: fixed;
            top: 0;
            width: 80%;
            width: calc(~'100% - @{active-nav-indent}');

            .switcher {
                font-size: 1.6rem;
                font-weight: @font-weight__bold;
                margin: 0;
                padding: .8rem 3.5rem .8rem 2rem;
                height: auto;
                width: 100%;

                .label {
                    .lib-visually-hidden-reset();
                    display: block;
                    margin-bottom: @indent__s;
                }

                .switcher-options{
                    width: 100%;
                    .switcher-trigger {
                        width: 100%;
                        padding: 10px 15px!important;
                        border: 1px solid @color-black;
                        position: relative;
                        strong {

                            &:after {
                                display: none!important;
                            }
                        }

                        .fed-icon{
                            display: none;
                        }

                        &.active strong {
                            .lib-icon-font-symbol(
                                @_icon-font-content: @icon-up,
                                @_icon-font-position: after
                            );
                        }
                        &:after{
                            position: absolute;
                            right: 15px;
                            font-size: 14px;
                        }
                    }

                    .switcher-dropdown {
                        .lib-list-reset-styles();
                        width: 100%;
                        left: 0;
                        margin-top: -1px;
                        li{
                            a{
                                font-weight: 400;
                                padding: 5px 15px;
                            }
                        }
                        &:before{
                            left: 17px;
                        }
                        &:after{
                            left: 16px;
                        }
                    }
                }
            }


            .header.links {
                .lib-list-reset-styles();
                border-bottom: 1px solid @color-gray82;

                li {
                    font-size: @font-size-base;
                    margin: 0;
                    position: relative;
                    .fed-icon{
                        display: none;
                    }

                    &.greet.welcome {
                        border-top: 1px solid @color-gray82;
                        font-weight: @font-weight__bold;
                        padding: .8rem @indent__base;
                    }

                    > a {
                        border-top: 1px solid @color-gray82;
                    }
                }

                a,
                a:hover {
                    .lib-css(color, @navigation-level0-item__color);
                    .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                    display: block;
                    font-weight: @font-weight__bold;
                    padding: .8rem @indent__base;
                }

                .header.links {
                    border: 0;
                }
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 80%;
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);

            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after{
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: darken(@color-white-smoke, 5%);
        border: solid darken(@color-white-smoke, 10%);
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 33.33%;
        text-transform: uppercase;
        font-family: @font-family-serif;
        font-weight: 700;

        a{
            color: @color-gray19;
            text-decoration: none;
        }

        &.active {
            background: transparent;
            border-bottom: 0;
        }

        .nav-sections-item-switch {
            &:hover {
                text-decoration: none;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;
        text-align: left;

        &.active {
            display: block;
        }

        padding: @indent__m 0;
    }

    .lib-main-navigation();
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = 1022px) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        float: left;
        height: 89px;
        padding-left: 20px;
        position: relative;
        z-index: 10;
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        display: block !important;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }

        .storelocator-link{
            display: inline-block;
            float:left;
            margin-left: 25px;
            font-size: 12px;

            .fed-icon{
                font-size: 1.5em;
                display: inline-block;
                vertical-align: middle;
                margin-top: -1px;
                font-weight: bold;
            }

            a{
                text-decoration: none;
                color: @color-heavy-grey;
                line-height: 1.4;
                font-weight: 600;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}
