// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________
.lib-data-accordion-custom(
    @_accordion-control-font-family: @accordion-control__font-family,
    @_accordion-control-font-size: @font-size-medium,
    @_accordion-control-font-style: @accordion-control__font-style,
    @_accordion-control-font-weight: @accordion-control__font-weight,
    @_accordion-control-line-height: 60px,

    @_accordion-control-border-top: none,
    @_accordion-control-border-right: @accordion-control__border-right,
    @_accordion-control-border-bottom: 1px solid @color-grey,
    @_accordion-control-border-left: @accordion-control__border-left,

    @_accordion-control-background-color: @accordion-control__background-color,
    @_accordion-control-color: @accordion-control__color,
    @_accordion-control-text-decoration: @accordion-control__text-decoration,

    @_accordion-control-color-visited: @accordion-control__color,
    @_accordion-control-text-decoration-visited: @accordion-control__text-decoration,

    @_accordion-control-background-color-hover: @accordion-control__hover__background-color,
    @_accordion-control-color-hover: @accordion-control__hover__color,
    @_accordion-control-text-decoration-hover: @accordion-control__hover__text-decoration,

    @_accordion-control-background-color-active: @accordion-control__active__background-color,
    @_accordion-control-color-active: @accordion-control__active__color,
    @_accordion-control-text-decoration-active: @accordion-control__active__text-decoration,

    @_accordion-control-height: auto,
    @_accordion-control-margin-bottom: @accordion-control__margin-bottom,

    @_accordion-control-padding-top: 0,
    @_accordion-control-padding-right: 0,
    @_accordion-control-padding-bottom: @_accordion-control-padding-top,
    @_accordion-control-padding-left: 12px,

    @_accordion-content-background-color: @accordion-content__background-color,
    @_accordion-content-border: @accordion-content__border,

    @_accordion-content-margin: @accordion-content__margin,
    @_accordion-content-padding: 10px 20px
) {
    .lib-data-accordion__base();
    & when (@_accordion-control-margin-bottom = 0) {
        > .item.title {
            .lib-css(margin, 0);
        }
    }
    & when not (@_accordion-control-margin-bottom = 0) {
        > .item.title {
            .lib-css(margin, 0 0 @_accordion-control-margin-bottom);
        }
    }
    > .item.title {
        > .switch {
            .lib-css(background, @_accordion-control-background-color);
            .lib-css(border-bottom,@_accordion-control-border-bottom);
            .lib-css(border-left,@_accordion-control-border-left);
            .lib-css(border-right,@_accordion-control-border-right);
            .lib-css(border-top,@_accordion-control-border-top);
            .lib-css(height, @_accordion-control-height);
            .lib-css(padding, @_accordion-control-padding-top @_accordion-control-padding-right @_accordion-control-padding-bottom @_accordion-control-padding-left);
            .lib-typography(
                @_color: @_accordion-control-color,
                @_font-family: @_accordion-control-font-family,
                @_font-size: @_accordion-control-font-size,
                @_font-style: @_accordion-control-font-style,
                @_font-weight: @_accordion-control-font-weight,
                @_line-height: @_accordion-control-line-height
            );
            .lib-link(
                @_link-color: @_accordion-control-color,
                @_link-text-decoration: @_accordion-control-text-decoration,
                @_link-color-visited: @_accordion-control-color-visited,
                @_link-text-decoration-visited: @_accordion-control-text-decoration-visited,
                @_link-color-hover: @_accordion-control-color-hover,
                @_link-text-decoration-hover: @_accordion-control-text-decoration-hover,
                @_link-color-active: @_accordion-control-color-active,
                @_link-text-decoration-active: @_accordion-control-text-decoration-active
            );
        }

        &:not(.disabled) > .switch:focus,
        &:not(.disabled) > .switch:hover {
            .lib-css(background, @_accordion-control-background-color-hover);
        }

        &:not(.disabled) > .switch:active,
        &.active > .switch,
        &.active > .switch:focus,
        &.active > .switch:hover {
            .lib-css(background, @_accordion-control-background-color-active);
        }
    }

    > .item.content {
        border-bottom: @tab-control__border-width solid @color-grey;
        .lib-css(margin, @_accordion-content-margin);
        .lib-css(padding, @_accordion-content-padding);
    }
}

& when (@media-common = true) {
    .product.data.items {
        .lib-data-accordion-custom();
        margin-bottom: @indent__base;

        .item.title {
            a {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: @font-size-medium,
                @_icon-font-line-height: @icon-font__line-height,
                @_icon-font-color: @color-heavy-grey,
                @_icon-font-color-hover: @icon-font__color-hover,
                @_icon-font-color-active: @icon-font__color-active,
                @_icon-font-margin: @icon-font__margin,
                @_icon-font-vertical-align: @icon-font__vertical-align,
                @_icon-font-position: after,
                @_icon-font-display: false
                );

                &:after {
                    position: absolute;
                    right: @accordion-control__padding-right;
                    top:2px;
                    line-height: 58px;
                }
                &:focus{
                    outline: none;
                }
            }

            &.active a {
                border-bottom: none;
                &:after {
                    content: @icon-up;
                }
            }
        }

        .value p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .table-wrapper {
            margin: 0;
        }
    }
}
