//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .storelocator-index-index, .storelocator-index-view {


        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.5);
            box-shadow: 0 0 1px rgba(255,255,255,.5);
        }

        .page-title{
            text-transform: unset;
            font-size: 30px;
            letter-spacing: unset;
        }

        .storelocator-page{

            &__intro{
                font-size: 12px;
                color: @color-heavy-grey;
                line-height: 1.6;
            }


            /* Search Top Bar */

            .search-content{
                border: none;
                background: none;
                padding: 16px 15px;
                border-bottom: 1px solid @color-light-grey;

                .input-location{
                    width: 50%;

                    #pac-input{
                        box-shadow: unset;
                        border-radius: 0;
                        color: @color-black;
                        font-size: 13px;
                        border: 1px solid @color-grey;

                        &::placeholder {
                            color: @color-black;
                            opacity: 1;
                        }
                    }
                }

                .radius-controls{
                    display: none;
                }

                .btn{
                    margin-left: 10px;

                    span{
                        font-family: @font-family-sans-serif;
                        font-size: 13px;
                    }

                }
            }


            /* Left Side Shop Column */

            .info-locator{

                .title-list {
                    background-color: unset;
                    padding: 14px 0;
                    color: @color-black;
                    border: none;
                    border-bottom: 1px solid @color-light-grey;
                    margin-bottom: 0;

                    h2{
                        font-size: 13px;
                        font-family: @font-family-sans-serif;
                    }

                    #store-counter{
                        font-size: 13px;
                    }
                }

                #list-store-detail, #single-store-detail{
                    border: none;
                    background: none;
                    padding: 0;
 /*                   overflow-y: unset;*/
                    padding-top: 5px;
                    max-height: 720px;
                    padding-right: 15px;

                    .el-content, .el-content-detail{
                        border: none;
                        border-bottom: 1px solid @color-light-grey;
                        padding: 5px 0px 15px;

                        &:hover{
                            background: none;
                        }

                        #option-direction {
                            border: none;
                            background: @color-light-grey;
                            margin-bottom: 10px;

                            .vertical {
                                padding-bottom: 5px;
                            }

                            .form-inputs{
                                border: none;

                                .customer-location, .store-location {
                                    border-radius: 0;
                                    box-shadow: unset;
                                    margin-bottom: 12px;
                                    border: none;
                                    font-size: 13px;
                                    color: @color-black;

                                    &::placeholder {
                                        color: @color-black;
                                        opacity: 1;
                                        font-size: 13px;
                                    }
                                }

                                .customer-location-current-location {
                                    display: none;
                                }
                                .box-input{
                                    padding-top: 0;

                                    padding-bottom: 10px;
                                }
                            }
                        }

                        .top-box{
                            #option-direction {
                                background: none;
                                padding-left: 15px;
                                padding-right: 15px;

                                > div, > ul{
                                    background: @color-light-grey;
                                }
                            }
                        }

                        .tag-store, .store-image{

                            img{
                                height: 80px;
                                width: 80px;
                                margin-top: 10px;
                                border-radius: 0;
                            }
                        }


                        .tag-content, .store-info{

                            h4{
                                font-size: 16px;
                                margin-bottom: 4px;

                                > a{
                                    font-size: 16px;
                                }
                            }

                            p{
                                line-height: 1.4;
                            }

                            .phone-store{
                                visibility: hidden;
                                height: 5px;
                            }

                            .address-store{
                                margin-bottom: 3px;
                                font-size: 13px;
                            }

                            .contact-info-store{
                                display:none;
                            }

                            .btn-link{
                                color: @color-black;
                                text-decoration: underline !important;
                                text-transform: unset;
                                top: 5px;
                                position: relative;
                                margin-top: 0;
                                border: none;
                                height: 14px;
                                letter-spacing: unset;
                                font-family: @font-family-sans-serif;
                                padding-left: 0;
                                margin-right: 0;

                                &:hover{
                                    color: @color-black;
                                    text-decoration: none !important;
                                }
                            }

                            .store-content-btn-link-separator{
                                top: 5px;
                                position: relative;
                                color: @color-heavy-grey;
                                padding: 0 0 0 5px;
                                font-size: 12px;
                                padding: 0 3px;
                            }
                        }
                    }

                }


                /*  Left column Shop detail */

                .info-detail-box{

                    h2{
                        background: @color-black;
                        font-size: 13px;
                        text-transform: capitalize;
                        padding: 18px 14px;
                    }
                }
            }



            /* Right Column Map*/

            .map-locator-right{
                margin-bottom: 40px;

                .gm-style{

                    .gm-style-iw{

                        ~ div{

                            > img{
                                display:none;
                            }

                        }
                    }

                    .store-marker-container{
                        font-family: @font-family-sans-serif;
                        font-weight: normal;
                        min-width: 150px;

                        img{
                            display: none;
                        }

                        tr{
                            td{
                                padding: 0;

                                h2{
                                    font-size: 16px;
                                    font-weight: bold;
                                    margin: 10px 0 10px 5px;
                                }
                                strong{
                                    display: none;
                                }
                                p{
                                    margin-left: 5px;
                                }
                            }

                            &:last-child{
                                display:none;
                            }
                        }

                        .address-info {
                            table {
                                td {
                                    p {
                                        margin-bottom: 8px;
                                    }
                                }
                            }
                        }

                    }
                }

                #showinfo{
 /*                   display: none;*/
                }
            }
        }

    }


    /* Shop Detail Page*/

    .storelocator-index-view{

        .storelocator-page{

            /* Search Top Bar Shop Detail Page*/

            .search-content.storeviewsearch{
                padding: 6px 0 15px;
            }


            /* Left Column Shop Detail Page*/

            .info-locator{
                min-height: unset;
                margin-bottom: 30px;

                .info-detail-box{
                    border: none;

                    h2{
                        text-transform: uppercase;
                        letter-spacing: unset;
                    }

                    #single-store-detail{

                        .el-content-detail{
                            border: none;

                            .store-image{
                                margin-top: 0;
                            }

                            .store-info{

                                h4{
                                    margin-bottom: 8px;
                                    margin-top: 2px;
                                }
                            }

                            #option-direction{
                                margin-top:15px;
                                padding-left: 15px;
                                padding-right: 15px;
                                background: none;

                                > div, > ul{
                                    background: @color-light-grey;
                                }
                            }
                        }
                    }
                }

                .tab_content{
                    border: none;
                    border-bottom: 1px solid @color-light-grey;

                    h2{
                        text-transform: uppercase;
                        background: @color-black;
                        font-size: 13px;
                        padding: 18px 14px;
                        letter-spacing: unset;
                    }

                    .table-responsive{

                        .table{
                            margin-bottom: 0;

                            tr{
                                &.odd{
                                    background-color: unset;
                                }

                                td{
                                    font-size: 13px;
                                    padding: 15px 15px;

                                    &.open_hour_table_day{
                                        width: 20%;
                                        font-weight: bold;
                                    }
                                    &.open_hour_table_time{
                                        text-align: right;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}





//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .storelocator-index-index, .storelocator-index-view {

        .storelocator-page{

            &__intro{
                margin-bottom: 0;
            }


            /* Search Top Bar Mobile */

            .search-content{
                padding: 15px 15px;
                border-bottom: none;

                .input-location{
                    width: 100%;
                    margin-bottom: 20px;
                }

                .btn{
                    margin-left: 0;
                    width: 48%;

                    &#submit-search{
                        float: right;
                    }
                }
            }


            /* Left Side Shop Column Mobile */

            .info-locator{
                min-height: unset;
                margin-bottom: 30px;

                .title-list{

                    #store-counter{
                        top: -4px;
                        position: relative;
                    }
                }

                #list-store-detail{
                    margin-bottom: 20px;

                }
            }



            /* Right Column Map Mobile */

            .map-locator-right{
                margin-bottom: 10px;
                height: 450px !important;

                #map_canvas {
                    height: 450px !important;
                }
            }
        }
    }



    /* Shop Detail Page Mobile */

    .storelocator-index-view{

        .storelocator-page{

            /* Search Top Bar Shop Detail Page Mobile*/

            .search-content.storeviewsearch{
            }


            /* Left Column Shop Detail Page Mobile*/

            .info-locator{

                .info-detail-box{

                    h2{
                    }

                    #single-store-detail{

                        .el-content-detail{

                            .store-image{
                            }

                            .store-info{

                                h4{
                                }
                            }

                            #option-direction{

                                > div, > ul{
                                }
                            }
                        }
                    }
                }

                .tab_content{

                    .table-responsive{
                        border: none;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }


}


