
//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .checkout-onepage-success {

        .page-main {
            text-align: center;

            .print{
                display: none;
            }

            .main{
                padding: 0 100px;
            }

            .checkout-success{
                font-size: 13px;
                text-align: center;
                color: @color-heavy-grey;

                &__order-number{
                    display: inline-block;
                    padding: 15px 50px;
                    border: 2px solid #000;
                    font-size: 16px;
                    color: @color-black;

                    a{
                        text-decoration: none;
                    }
                }

                a {
                    color: @color-black;
                    text-decoration: underline;
                }

                .actions-toolbar{
                    text-align: center;

                    .primary{
                        float: unset;

                        .primary {
                            border: none;
                            background: none;
                            color: @color-black;
                            font-size: 14px;
                            text-decoration: underline;

                            &:hover {
                                border: none;
                                background: none;
                                color: @color-black;
                                font-size: 14px;
                                text-decoration: underline;
                                margin-left: 0;
                            }
                        }
                    }
                }

                #registration{
                    font-weight: bold;
                }
            }
        }
    }
}




//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .checkout-onepage-success {

        .page-main{

            .main {
                padding: 0 10px;
            }

            .page-title{
                font-size: 25px;
                line-height: 1.4;
            }

            .checkout-success{
                font-size: 11px;

                &__order-number{
                    width: 100%;
                    padding: 15px 15px;
                    font-size: 13px;

                    a{
                        text-decoration: none;
                    }
                }
                .actions-toolbar{

                    .primary{
                        .primary {
                            font-size: 13px;
                            padding: 15px;

                            &:hover{
                                font-size: 13px;
                                text-decoration: underline;
                                margin-left: 0;
                                padding: 15px;
                            }
                        }
                    }
                }
            }

            .newsletter{
                display: none;
            }
        }
    }
}



//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}
