// radio buttons and checkboxes style
.field, .gdpr-field {
    overflow: hidden;

    &.choice {
        height: auto;
        margin: 20px auto;
        input[type="checkbox"],
        input[type="radio"] {
            &:not(:checked) + label:after {
                opacity: 0;
                transform: scale(0);
            }
            &:checked + label:after {
                opacity: 1;
                transform: scale(1);
            }
            &:checked,
            &:not(:checked) {
                position: absolute;
                left: -9999px;
                visibility: hidden;
                ~ label {
                    position: relative;
                    padding-left: 25px;
                    cursor: pointer;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 18px;
                        height: 18px;
                        border: 1px solid @color-black;
                        background: #fff;
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        top: 5px;
                        width: 8px;
                        height: 8px;
                        left: 5px;
                        color: @color-black;
                        transition: all 0.2s;
                        background-color: @color-black;
                    }
                }
            }
        }
        input[type="checkbox"]{
            &:checked,
            &:not(:checked) {
                ~ label {
                    &::before {
                        border-radius: 9px;
                    }
                    &::after {
                        border-radius: 5px;
                        top: 4px;
                        left: 4px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
        input[type="radio"]{
            &:checked,
            &:not(:checked) {
                + label {
                    &::before {
                        border-radius: 50%;
                    }
                    &::after {
                        border-radius: 50%;
                    }
                }
            }
        }
        label {
            font-weight: normal;
            display: inline-block;
        }
    }
}

/* fix amasty checkbox policy */

#amgdpr_agree {

    ~ label{
        font-size: 14px;
        position: relative;
        cursor: pointer;
        font-family: @font-family-sans-serif;
        margin-left: 0;
    }
}




body{
    .breadcrumbs{
        padding-top:15px;
        padding-left: 0;
        padding-right: 0;
        li{
            a{
                color: @color-grey;
                &:visited{
                    color: @color-grey;
                }
                &:hover{
                    text-decoration: underline;
                    color: @color-grey;
                }
            }
            strong{
                color: @color-gray78;
            }
        }
    }
    // Datepicker small adjustments
    .ui-datepicker .ui-datepicker-prev,
    .ui-datepicker .ui-datepicker-next{
        top:25%;
    }
    .ui-datepicker{
        min-width: 280px;
    }
}

.message{
    &.info,
    &.error,
    &.warning,
    &.notice,
    &.success{
        background-color: transparent;
        margin: 10px 0;
    }

}

/* Label style like Mockup */
.label {
    font-weight: normal;
    font-size: 13px;
    margin-left: 0;
    font-family: @font-family-sans-serif;
    margin: 0 0 8px;
}

.fieldset{

    > .field, > .fields{

        > .label{
            font-weight: normal;
            font-size: 13px;
            margin-left: 0;
            font-family: @font-family-sans-serif;
            margin: 0 0 8px;
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {


    /* fix cart shipping estimation text size ONLY in spanish */

    :lang(es) .checkout-cart-index .cart-container .cart-summary #block-shipping > .title #block-shipping-heading{
        font-size: 13px;
    }



    /* fix chat button to right bottom fixed position; now we've only a js script inserted in all website pages <head> */
    body > .zopim{
        /*   position: fixed !important;
           height: 30px !important;
           right: 10px !important;
           bottom: 0px !important;
           top: unset !important;
           left: unset !important;*/
        z-index: 99 !important;
        bottom: 0px !important;
        top: unset !important;
        position: fixed !important;
    }

    .label {
        font-size: 12px;
    }
    .fieldset{
        > .field, > .fields{
            > .label{
                font-size: 12px;
            }
        }
    }
}





    // Utilities
    .text-center{
        text-align: center;
    }
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
