//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  .columns .column.main {
    padding-bottom: 0;
  }


  /*** Cover Image Widget ***/

  .cover-image{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      width: 100%;
    }

    .cover-image-mobile{
      display: none;
      img{
        width: 100%;
      }
    }

    .cover-image-content {
      position: absolute;
      text-align: center;
      color: #ffffff;

      .cover-image-title {
        font-family: @font-family-serif;
        font-size: 52px;
        text-transform: uppercase;
        margin: 0;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: @letter_spacing_title;
      }

      .cover-image-text {
        font-family: @font-family-sans-serif;
        font-size: 21px;
        font-weight: 300;
      }

    }

    .cover-image-content-left {
      left: 30px;
      text-align: left;
    }

    .cover-image-content-right{
      right: 30px;
      text-align: right;
    }

    .cover-image-content-top{
      top: 30px;
    }

    .cover-image-content-bottom{
      bottom: 30px;
    }

  }



  /*** Page Row Section Widget ***/

  .page-row-section {
    color: #777;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .row-section {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;

      &--element {
        flex: 1 1 auto;
        align-self: inherit;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        order: 1;
      }
    }


    .page-row-side-text {
      text-align: center;
      margin-bottom: 15px;
      font-family: @font-family-sans-serif;

      .side-text-title {
        text-transform: uppercase;
        font-size: 32px;
        margin-bottom: 3rem;
        position: relative;
        font-family: @font-family-serif;
        font-weight: 300;
        line-height: 46px;
        letter-spacing: @letter_spacing_title;
        color: @color-black;

        &:after {
          content: "";
          position: absolute;
          bottom: -12px;
          border-top: 2px solid #c5cfc6;
          width: 20%;
          left: 40%;
        }

      }
    }

    /* Not Styled yet */
    .page-row-side-btn {
      margin-bottom: 15px;
    }
  }


  /*** Quote Widget Widget ***/

  .quote-section {
    font-style: italic;
    text-align: center;
    background: #f5f5f4;
    color: #545454;
    padding: 20px 40px;
    margin-bottom: 100px;

    .quote {
      font-family: @font-family-sans-serif;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.62;
      max-width: 1440px;
      margin: auto;
    }
    .quote-author{
      font-family: @font-family-serif;
      font-size: 21px;
      font-weight: bold;
      margin: auto;
    }
  }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .block.newsletter {
  }
}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

  .page-row-section {

    .row-section {
      flex-direction: column;

      &--element{
        width: unset;
        order: 1 !important;

        &:first-child{
          margin-bottom: 20px;
        }

        &.img-wrp{
          margin-left: -15px;
          margin-right: -15px;
          img{
            width: 100%;
            max-width: unset;
          }
        }

      }
    }

    .page-row-side-text {

      .side-text-title {
        font-size: 26px;
      }
    }
  }

  .cover-image {

    .cover-image-desktop{
      display: none;
    }
    .cover-image-mobile, .cover-image-mobile-too{
      display: block;
    }

    .cover-image-content {
      position: relative;
      color: #000;
      margin-top: 20px;

      .cover-image-title{
        font-size: 26px;
      }

      .cover-image-text{
        font-size: 14px;
        color: #777;
      }
    }
  }

  .quote-section {
    margin-bottom: 0;

    .quote {
      font-size: 18px;
      line-height: 24px;
    }
  }

}

