<?php
/**
 * Magento Module developed by NoStress Commerce
 *
 * NOTICE OF LICENSE
 *
 * This program is licensed under the Koongo software licence (by NoStress Commerce). 
 * With the purchase, download of the software or the installation of the software 
 * in your application you accept the licence agreement. The allowed usage is outlined in the
 * Koongo software licence which can be found under https://docs.koongo.com/display/koongo/License+Conditions
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at https://store.koongo.com/.
 *
 * See the Koongo software licence agreement for more details.
 * @copyright Copyright (c) 2017 NoStress Commerce (http://www.nostresscommerce.cz, http://www.koongo.com/)
 *
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magento\AdminNotification\Block\System\Messages\UnreadMessagePopup */ ?>

<div style="display:none" id="help_request" data-role="help_request" title="Help<?php //echo $block->escapeHtml($block->getPopupTitle()); ?>">
    
<div class="entry-edit form-inline">
    <?php echo $block->getFormHtml();?>
</div>
<?php echo $block->getChildHtml('form_after');?>
    
</div>

<script>
require([
    "jquery",
    "Magento_Ui/js/modal/modal",
    'mage/backend/form',
    'mage/backend/validation'
], function($){

	var help_form = $('#help_form').form();
	help_form.validation({
        validationUrl: '<?php /* @escapeNotVerified */ echo $block->getValidationUrl() ?>',
        highlight: function(element) {
            var detailsElement = $(element).closest('details');
            if (detailsElement.length && detailsElement.is('.details')) {
                var summaryElement = detailsElement.find('summary');
                if (summaryElement.length && summaryElement.attr('aria-expanded') === "false") {
                    summaryElement.trigger('click');
                }
            }
            $(element).trigger('highlight.validate');
        }
    });
	
	var modal = null;
    if (modal) {
        modal.html($('[data-role="help_request"]').html());
    } else {
        modal = $('[data-role="help_request"]').modal({
            title: $.mage.__('Get Support'),
            type: 'slide',
            buttons: [
                {
                    text: $.mage.__('Back'),
                    class: 'back',
                    click: function () {
                    	this.closeModal();
                    }
                },
                {
                    text: $.mage.__('Send Request'),
                    class: 'primary',
                    click: function () {
                    	help_form.submit();
                    }
                },
            ]
        });
    }

    $(document).ready(function () {
        $('#help_dialog').on('click', function () {
            modal.modal('openModal');
        });
    });
});
</script>
