// /**
//  * EUROSTEP Newsletter Module
//  */

& when (@media-common = true){
    .phone-notice{
        font-size: 11px;
        color: #777;
    }
    .text-center{
        text-align: center;
    }
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }

    #ec-newsletter-page {
        img {
            width:100%;
        }
        #EC-newsletter-form {
            margin-bottom: 40px;

            .intro{
                h1{
                    font-size: 30px;
                    margin-bottom: 20px;
                }
                .ec-subtitle{
                    font-size: 12px;
                    color: #545454;
                    .ec-subtitle-bold{
                        font-weight: bold;
                    }
                    .ec-subtitle-small{
                        font-size: 10px;
                    }
                }
            }


            .ec-input-error {
                color: red;
                font-size: 0.857em;
                display: block;
            }

            input[type="text"],
            input[type="email"],
            input[type="number"],
            select {
                &.ec-invalid {
                    border-color: #f23232 !important;
                }

                ::-webkit-input-placeholder {
                    color: #a3a3a3;
                }
                ::-moz-placeholder {
                    color: #a3a3a3;
                }
                :-ms-input-placeholder {
                    color: #a3a3a3;
                }
                :-moz-placeholder {
                    color: #a3a3a3;
                }
            }

            label{
                font-weight: normal;
                font-size: 13px;
                margin-left: 0;
            }

            .ec-note {
                color:#707070;
            }

            .ec-form-row{
                margin-top: 15px;
                > div{
                    > .row{
                        margin-bottom: 10px;
                    }
                }
            }

            .control{
                display: inline-block;
                width: 100%;
                position: relative;
            }

            .ec-birthday-datepicker{
                .ec-icon{
                    position: absolute;
                    z-index: 1;
                    font-size: 28px;
                    left: 10px;
                    top:20%;
                    top: calc(~'50% - 15px');
                    color: #545454;
                }
                input{
                    padding-left: 44px;
                }
            }

            .field{
                &.choice{
                    margin: 5px 0;
                }
            }

            .ec-gender-row{
                .field{
                    &.choice{
                        margin: 5px 0;
                    }
                }
            }

            #EC-newsletter-acceptedterms-error{
                padding-left: 25px;
            }

            .ec-privacy-block{
                margin-bottom: 20px;
                padding-left: 25px;
                a{
                    color: #5e748f;
                }
            }

            .primary{
                a{
                    &.action{
                        &.primary{
                            min-width: 240px;
                        }
                    }
                }
            }
        }
    }
    .ec-newsletter-success-page{
        h1{
            text-transform: none;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
        p{
            font-size: 18px;
        }
        div.primary{
            margin-top: 25px;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    #ec-newsletter-page {
        .ec-form-row{
            .row:not(.ec-gender-row){
                .col-md-offset-2{
                    margin-bottom: 10px;
                }
            }
        }
        .action.primary{
            width: 100%;
        }
    }
    .ec-newsletter-success-page{
        margin-bottom: 30px;
        h1{
            font-size: 18px;
        }
        p{
            font-size: 14px!important;
        }
    }
}

