//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    /*** NEWSLETTER ***/

    .block.newsletter {
        text-align: center;
        background: @color-white-smoke;
        font-family: @font-family-sans-serif;
        padding: 20px 10px 30px;
        letter-spacing: @letter_spacing_title;

        .title {
            font-family: @font-family-serif;
            text-transform: uppercase;
            font-weight: bold;
            margin: 0;
            letter-spacing: @letter_spacing_title;
            font-size: 17px;
        }

        .label {
            font-size: 11px;
            color: @color-gray20;
            font-weight: normal;
            margin-bottom: 15px;
        }

        .control {
            width: 80%;
            max-width: 450px;
            margin: auto;
            display: flex;
            position: relative;

            &before {
                content: none;
            }

            input#newsletter {
                padding-left: 5px;
                background: none;
                border-top: none;
                border-right: none;
                border-left: none;
                font-size: 11px;
                color: @color-grey;
                height: 30px !important;
            }

            .actions {
                position: absolute;
                right: 0;
                top: 0;
            }

            .action.primary {
                background: none;
                border: none;
                cursor: pointer;
                padding: 0;
                height: 32px;
                .fed-icon {
                    color: @color-heavy-grey;
                    font-size: 22px;
                    line-height: 30px;
                }
            }

            #newsletter-error {
                position: absolute;
                top: 30px;
                font-size: 14px;
            }

        }

    }
}