<?php
/**
 * Magedelight
 * Copyright (C) 2017 Magedelight <info@magedelight.com>
 *
 * @category Magedelight
 * @package Magedelight_Storelocator
 * @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
$requireData = $this->getSingleStoreData();
?>


<div class="search-content storeviewsearch">
    <div class="social-icon">
        <button class="button btn-base-negative" onclick="history.back();">
            <span><?php echo __("Go Back"); ?></span>
        </button>
    </div>
</div>
<div class="map-locator-right">
    <div class="mapBlock">
        <div id="map_canvas" style="height: 800px;">
        </div>
    </div>

</div>
