// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .filter {
        &.block {
            margin-bottom: 0;
        }

        &-title {
            strong {
                .lib-css(background-color, @color-white-dark-smoke);
                border-top: 1px solid @color-gray82;
                border-bottom: 1px solid @color-gray82;
                color: @color-grey;
                font-weight: 700;
                text-transform: uppercase;
                left: 0;
                line-height: 36px;
                padding: 7px 20px;
                position: absolute;
                text-align: left;
                top: 0;
                z-index: 2;
                height: 50px;
                width: 50%;

                .lib-icon-font(
                    @_icon-font-content: @fed_expand,
                    @_icon-font-size: 14px,
                    @_icon-font-position: after,
                    @_icon-font-display: block
                );
                &:after{
                    font-weight: bold;
                    position: absolute;
                    right: 15px;
                }


                &[data-count]:after {
                    .lib-css(color, @color-white);
                    background: @color-orange-red1;
                    border-radius: 2px;
                    content: attr(data-count);
                    display: inline-block;
                    font-size: .8em;
                    line-height: 1;
                    margin: 0 @indent__xs;
                    min-width: 1em;
                    padding: 2px;
                }

                &.disabled {
                    opacity: .5;
                }
            }
        }

        .block-subtitle {
            border-bottom: @border-width__base solid @border-color__base;
            font-size: @font-size__base;
            font-weight: @font-weight__bold;
            line-height: 1em;
            padding: @indent__s @indent__s @indent__base 0;
            letter-spacing: @letter_spacing_title;
        }

        &-subtitle {
            display: none;
        }

        &-current {
            margin: 0;

            .items {
                padding: @indent__xs 2px;
            }

            .item {
                padding-left: 17px;
                position: relative;
                z-index: 1;
            }

            .filter &-subtitle {
                border: none;
                display: block;
                padding-bottom: @indent__s;
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                left: 0;
                position: absolute;
                top: -1px;
            }
        }

        &-actions {
            margin-bottom: @indent__m;
            padding: 0 @indent__s;
        }

        &-label {
            font-weight: @font-weight__bold;

            &:after {
                content: ': ';
            }
        }

        &-value {
            .lib-css(color, @filter-quantity);
        }

        &-options {
            display: none;
            margin: 0;

            &-item {
                border-bottom: @border-width__base solid @border-color__base;
                padding-bottom: 15px;
            }

            &-title {
                cursor: pointer;
                font-weight: @font-weight__bold;
                margin: 0;
                overflow: hidden;
                padding: 15px 40px 0 0;
                position: relative;
                text-transform: uppercase;
                word-break: break-all;
                z-index: 1;

                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 14px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 4px;
                    top: 16px;
                }

                &:hover {
                    .lib-css(color, @filter-link-hover);
                }

                .active > & {
                    .lib-icon-font-symbol(
                        @_icon-font-content: @icon-up,
                        @_icon-font-position: after
                    );
                }
            }

            &-content {
                margin: 0;
                padding: @indent__s 0 0;

                .item {
                    line-height: 1.5em;
                    margin: @indent__s 0;
                }

                a {
                    .lib-css(color, @filter-link);
                    margin-left: -5px;
                    margin-right: -5px;
                    padding-left: 5px;
                    padding-right: 7px;

                    &:hover {
                        text-decoration: underline;

                        & + .count {
                            background-color: @color-gray91;
                        }
                    }
                }

                .count {
                    .lib-css(color, @filter-quantity);
                    font-weight: @font-weight__light;
                    padding-left: 5px;
                    padding-right: 5px;

                    &:before {
                        content: '(';
                    }

                    &:after {
                        content: ')';
                    }
                }

                .filter-count-label {
                    &:extend(.abs-visually-hidden all);
                }
            }
        }

        .filter-content{
            .filter-options-item{
                border-bottom-color: @color-gray89;
            }
            .filter-options-content{
                li.item{
                    color: @color-gray79;
                    a{
                        color: @color-gray46;
                        padding: 3px 5px;
                        text-decoration: none;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
            .swatch-attribute{
                &.color{
                    .swatch-attribute-options{
                        > a{
                            display: inline-block;
                            width: 100%;
                            &:hover{
                                background-color: transparent;
                                .ec-swatch-label{
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .swatch-option{
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        /* Modifica chiesta dal cliente 07/08/2018
                        display: inline-block;
                        */
                        display: none;
                        min-width: unset;
                        margin-right: 5px;
                        background-size: 100% !important;
                        &.color:not(.disabled):hover{
                            outline: none;
                            border: none;
                        }
                    }

                    .ec-swatch-label{
                        display: inline-block;
                        float: left;
                        text-transform: capitalize;
                        font-size: @font-size-base;
                        color: @color-gray46;
                        line-height: 1.8;
                        //padding: 0 5px;
                    }
                }
                &.size{
                    .swatch-option{
                        height: 36px;
                        background: transparent;
                        display: inline-block;
                        border: 1px solid @color-black;
                        line-height: 34px;
                        padding: 0 9px;
                        font-weight: 400;
                        color: @color-heavy-grey;
                        font-size: @font-size-base;
                        &.color:not(.disabled):hover{
                            outline: none;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    body{
        .swatch-option-tooltip .image,
        .swatch-option-tooltip-layered .image{
            width: 90px;
            height: 90px;
            border-radius: 3px;
        }
        .swatch-option-tooltip{
            border-radius: 3px;
            border-color: @color-gray82;
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    body {
        &.filter-active {
            .page-header {
                display: none;
            }

            .page-wrapper {
                height: 0;
                margin-top: -999999em;
                visibility: hidden;
            }

            .columns {
                z-index: 999;
            }
        }
    }

    .filter {
        &.active {
            position: relative;
            visibility: visible;
            z-index: 99;

            .filter-options-item:last-child {
                margin-bottom: @indent__xl;
            }

            .filter-title {
                height: 48px;
                left: 0;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 2;

                strong {
                    .lib-css(box-shadow, none);
                    background: none;
                    border: 0;
                    color: transparent;
                    left: auto;
                    right: 3px;
                    top: -1px;
                    .lib-icon-font(
                    @icon-remove,
                    @_icon-font-color: @color-grey,
                    @_icon-font-size: 16px,
                    @_icon-font-position: after
                    );
                }
            }

            .filter-subtitle {
                .lib-css(background, @color-gray91);
                display: block;
                height: 50px;
                left: 0;
                line-height: 32px;
                position: fixed;
                right: 0;
                top: 0;
                z-index: 1;
                color: @color-grey;
                text-transform: uppercase;
                font-weight: @font-weight__bold;
                border: none;
                padding: 9px 20px;
            }

            .filter-options {
                .lib-css(background, @color-white-smoke);
                bottom: 0;
                display: block;
                left: 0;
                overflow: scroll;
                position: fixed;
                right: 0;
                top: 50px;
                z-index: 10;
                padding: 0 20px;
                .filter-options-title{
                    font-size: @font-size-small;
                }
            }
        }
    }

    .filter {
        & &-subtitle {
            font-weight: @font-weight__light;
        }

        &-actions {
            margin: -35px -@indent__s @indent__m;
        }

        &-options-content {
            padding: @indent__xs @indent__s;
        }
    }

    .filter .filter-current {
        &-subtitle {
            position: relative;
            text-transform: uppercase;
            z-index: 1;
            color: @color-gray60;
            font-size: @font-size-small;
        }

        .items{
            .item{
                padding: 0 5px 0 20px;
                display: inline-block;
                border: 1px solid @color-grey;
                border-radius: 3px;
                margin-right: 5px;
                .action.remove{
                    left: 5px;
                    &:before{
                        font-size: 11px;
                    }
                }
            }
        }

        &.active {
            padding-bottom: 30px;

            .block-subtitle {
                .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: before
                );
            }

            .items {
                display: block;
            }

            & + .block-actions {
                display: block;
            }
        }

        & + .block-actions {
            display: none;
        }
    }

    .filter-no-options {
        .filter-title {
            &:before {
                background: rgba(255,255,255,.5);
                content: '';
                display: block;
                height: 40px;
                left: -15px;
                margin-top: -60px;
                position: relative;
                width: 100px;
                z-index: 99;
            }
        }

        .filter-content {
            margin-bottom: @indent__base;
        }
    }

    .page-with-filter {
        .columns {
            .sidebar-main {
                .lib-vendor-prefix-order(0);
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .filter {
        &.block {
            margin-bottom: @indent__xl;
        }

        &-title {
            display: none;
        }

        &-content {
            .item {
                margin: @indent__s 0;
            }
            .filter-options-title,
            .filter-current-subtitle{
                font-family: @font-family-serif;
                font-size: @font-size-base;
                letter-spacing: @letter_spacing_title;
                text-transform: uppercase;
            }
        }

        &-actions {
            margin-bottom: @indent__s;
            padding: 0;
            .filter-clear{
                color: @color-gray20;
                text-decoration: underline;
                font-size: 13px;
            }
        }

        &.active &-options,
        &-options {
            background: transparent;
            clear: both;
            display: block;
            overflow: initial;
            position: static;
        }

        &-subtitle {
            display: block;
            position: static;
            text-transform: uppercase;
            font-family: @font-family-serif;
            letter-spacing: @letter_spacing_title;
        }
    }

    .page-layout-1column {
        .toolbar-products {
            position: absolute;
            top: 0;
            width: 100%;
        }

        .products ~ .toolbar-products {
            position: static;
        }

        &.page-with-filter .column.main {
            padding-top: 45px;
            position: relative;
            z-index: 1;
        }

        .filter {
            &.block {
                border-top: 1px solid @border-color__base;
            }

            &-content {
                margin-top: @indent__s;
            }

            &-subtitle {
                display: none;
            }

            &-options {
                &-item {
                    border: 0;
                    display: inline-block;
                    margin-right: @indent__m;
                    position: relative;

                    &.active {
                        z-index: 2;

                        .filter-options-content {
                            visibility: visible;
                        }

                        &:hover {
                            z-index: 3;
                        }

                        &:after,
                        &:before {
                            .lib-arrow(up, 8px, @color-black);
                            bottom: -1px;
                            content: '';
                            display: block;
                            left: @indent__xs;
                            position: absolute;
                            z-index: 3;
                        }

                        &:after {
                            .lib-css(border-bottom-color, @color-white);
                            margin-top: 2px;
                            z-index: 4;
                        }
                    }
                }

                &-title {
                    padding: 0 @indent__base 0 0;

                    &:after {
                        right: 2px;
                        top: 3px;
                        z-index: 3;
                    }
                }

                &-content {
                    @_shadow: 0 3px 5px 0 rgba(50, 50, 50, .75);

                    .lib-css(background, @color-white);
                    .lib-css(box-shadow, @_shadow, 1);
                    border: 1px solid @border-color__base;
                    padding: @indent__xs 0;
                    position: absolute;
                    top: 100%;
                    visibility: hidden;
                    width: 180px;
                    z-index: 2;

                    .item {
                        margin: 0;
                        padding: @indent__xs;

                        a {
                            margin-left: 0;
                        }

                        &:hover {
                            background-color: @color-gray91;
                        }
                    }
                }
            }

            &-current {
                display: inline;
                line-height: 35px;

                &-subtitle {
                    .lib-css(color, @text__color__muted);
                    display: inline;
                    font-size: @font-size__base;
                    font-weight: normal;
                    padding: 0;

                    &:after {
                        content: ':';
                    }
                }

                .item,
                .items {
                    display: inline;
                }

                .item {
                    margin-right: @indent__m;
                    white-space: nowrap;
                }

                .action.remove {
                    line-height: normal;
                }
            }

            &-actions {
                display: inline;
                white-space: nowrap;

                & ~ .filter-options {
                    margin-top: @indent__m;
                }
            }
        }
    }
}
