<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="block block-new-customer">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('New Customers')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p class="note"><?= $block->escapeHtml(__('Creating an account has many benefits: check out faster, keep more than one address, track orders and more.')) ?></p>
        <ul class="new-customer-benefits">
            <li>
                <i class="fed-icon fed_icon_wishlist"></i>
                <span><?= $block->escapeHtml(__('Save your favourite items in your wish list')) ?></span>
            </li>
            <li>
                <i class="fed-icon fed_icon_account_package"></i>
                <span><?= $block->escapeHtml(__('Check the details of your orders and returns')) ?></span>
            </li>
            <li>
                <i class="fed-icon fed_icon_account_cart"></i>
                <span><?= $block->escapeHtml(__('QUICK PURCHASE: save your details for future purchases')) ?></span>
            </li>
        </ul>
        <div class="actions-toolbar">
            <div class="primary">
                <a href="<?= $block->escapeUrl($block->getCreateAccountUrl()) ?>" class="action create primary"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></a>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
