<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Footer"}} @-->
<!--@vars {
"var store.getFrontendName()":"Store Name"
} @-->

                    <!-- End Content -->
                    </td>
                </tr>
                <tr>
                    <td class="footer" align="center">
                        <h4 class="footer__title">{{trans "Can we help you?"}}</h4>
                        <p>{{trans "For customer service enquiries please contact +39 0423 1840113, available from Monday to Friday from 09:00 am to 01:00 pm and to 02:00 pm to 06:00 pm."}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
