.images-scale-effect(){
    .ec-imagebox--image-wrapper{
        display: inline-block;
        overflow: hidden;
        width: 100%;
        margin-bottom: 10px;
        img{
            width: 100%;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    &:hover{
        .ec-imagebox--image-wrapper{
            img{
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
}

//
// Common
//*****************************
& when (@media-common = true) {
    .ec-widgets-grid{
        display: inline-block;
        width: 100%;
        &.ec-home-style{
            padding: 60px 0;
            .ec-imagebox--container{
                text-align: center;
                .ec-imagebox--link{
                    text-decoration: none;
                }
               .ec-imagebox--title{
                   display: block;
                   font-style: italic;
                   font-family: @font-family-serif;
                   font-size: 18px;
                   color: @color-black;
               }
                .ec-imagebox--content{
                    font-size: 32px;
                    margin-top: 14px;
                    font-family: @font-family-serif;
                    font-weight: 300;
                    margin-bottom: 2rem;
                    text-transform: uppercase;
                    display: block;
                }
            }
        }
        .ec-grid-item{
            display: inline-block;
            float: left;

        }
        &.ec-grid-2{
            .ec-grid-item{
                width: 50%;
                &:first-child{
                    padding-right: 7.5px;
                }
                &:last-child{
                    padding-left: 7.5px;
                }
            }
        }
        &.ec-grid-3{
            .ec-grid-item{
                width: 33.3334%;
                padding-left: 5px;
                padding-right: 5px;
                &:first-child{
                    padding-left: 0;
                    padding-right: 10px;
                }
                &:last-child{
                    padding-left: 10px;
                    padding-right: 0;
                }
            }
        }
    }
    .ec-imagebox{
        &--container{

        }
        &--link{
            .images-scale-effect();
        }
        &--main-image{

        }
        &--mobile-image{
            display: none;
        }
        &.ec-imagebox{
            &--layout-1{

            }
            &--layout-2{

            }
            &--layout-3{

            }
        }
    }
}

//
// Mobile Styles
//******************************
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .ec-imagebox{
        &--container{
            .ec-imagebox{
                &--image-wrapper{
                    &.ec-separate-mobile-image{
                        .ec-imagebox--main-image{
                            display: none;
                        }
                    }
                }
                &--mobile-image{
                    display: block;
                }
            }
        }
    }
    .home-products-section{
        .ec-widgets-grid{
            &.ec-home-style{
                padding: 60px 0 0;
                .ec-imagebox--container{
                    .ec-imagebox--title{
                        font-size: 16px;
                    }
                    .ec-imagebox--content{
                        font-size: 26px;
                    }
                }
            }
            .ec-grid-item{
                padding-bottom: 60px;
            }
            &.ec-grid-2{
                .ec-grid-item{
                    width: 100%;
                    &:first-child{
                        padding-right: 0;
                    }
                    &:last-child{
                        padding-left: 0;
                    }
                }
            }
            &.ec-grid-3{
                .ec-grid-item{
                    width: 100%;
                    padding: 0;
                    &:first-child{
                        padding: 0;
                    }
                    &:last-child{
                        padding: 0;
                    }
                }
            }
        }
    }
}