//
//  Common
//  _____________________________________________


& when (@media-common = true) {
    .payment-method{
        div.ec-vat-data-form{
            padding: 10px 0 30px;
            .ec_invoice_type_radios{
                .ec-switch-invoice-type{
                    display: inline-block;
                    margin-right: 15px;
                }
            }

            .field{
                &.ec_company,
                &.ec_vat_id{
                    margin-bottom: 15px;
                }
                label{
                    margin-left: 0;

                    sup{
                        font-size: 16px;
                        color: red;
                    }
                }
                input[type="text"]{
                    max-width: 500px;
                    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    height: 48px !important;
                    line-height: 1.42857143;
                    padding: 0 9px;
                    vertical-align: baseline;
                    box-sizing: border-box;

                    &.ec-invalid-input{
                        border-color: red;
                    }
                }
                .ec-error{
                    color: red;
                    font-size: 14px;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

}

