<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Newsletter\Block\Subscribe $block */

?>
<div class="block newsletter">
    <div class="title"><?= $block->escapeHtml(__('Newsletter')) ?></div>
    <div class="content">
        <form id="newsletter-validate-detail" class="form subscribe" novalidate action="<?= $this->getUrl('newsletter') ?>" method="get"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'>
            <div class="field newsletter">
                <label class="label" for="newsletter"><span><?= $block->escapeHtml(__('Subscribe to our newsletter and get 15% off your next purchase')) ?></span></label>
                <div class="control">
                    <input name="email" type="email" id="newsletter"
                                placeholder="<?= $block->escapeHtmlAttr(__('Enter your email address')) ?>"
                                data-validate="{required:true, 'validate-email':true}"/>
                    <div class="actions">
                        <button class="action subscribe primary" title="<?= $block->escapeHtmlAttr(__('Subscribe')) ?>" type="submit">
                            <span class="fed-icon fed_icon_arrow"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
