<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/** @var \Eurostep\ContactForm\Block\Contact\ContactForm $block */
$depends = '';
$privacy_block =  $block->getLayout()->createBlock('Amasty\Gdpr\Block\Checkbox')->toHtml();
$popup_block = $block->getLayout()->createBlock('Amasty\Gdpr\Block\Popup')->toHtml();

?>
<div id="EC-Contact-Page">
    <?php if($block->getTopImageUrl() != null):?>
        <div class="ec-top-image-wrapper">
            <img src="<?= $block->getTopImageUrl(); ?>" alt="Contact Image"/>
        </div>
    <?php endif;?>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12 ec-contact-page-intro">
                <h1><?= __('Contact us') ?></h1>
                <?php
                $infoBlock = $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_page_info_block')->toHtml();

                if($infoBlock): ?>
                <div class="ec-info-block">
                    <span><?= $infoBlock ?></span>
                </div>
                <?php endif;?>
                <p class="ec-subtitle"><?= $block->getPageSubTitle() ?></p>
            </div>
        </div>
        <div class="row">
            <div id="EC-custom-contact-form" class="col-xs-12">
                <div data-bind="scope: 'customContactPage'">
                    <form class="form contact row" id="contact-form" method="post" data-hasrequired="<?= __('* Required Fields') ?>"
                          data-bind="submit: validateFormData.bind($data), visible: isFormVisible">
                        <fieldset class="fieldset col-xs-12">
                            <div class="row">
                                <div class="field name firstname required col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                                    <label class="label<?php if(!$block->getShowLabels()):?> hidden<?php endif;?>" for="name"><span><?= __('Name') ?></span><sup>*</sup></label>
                                    <div class="control">
                                        <input name="name" id="name" title="<?= __('Name') ?>" class="input-text" type="text" data-validate="{required:true}"
                                               <?php if($block->getShowPlaceholders()):?>placeholder="<?= __('Name') ?>*"<?php endif; ?>/>
                                    </div>
                                </div>
                                <?php if($block->getLastnameInput() != ""): ?>
                                <div class="field name lastname<?php if($block->getLastnameInput() == 'req'): ?> required<?php endif;?> col-md-4 col-sm-6 col-xs-12">
                                    <label class="label<?php if(!$block->getShowLabels()):?> hidden<?php endif;?>" for="lastname">
                                        <span><?= __('Surname') ?>
                                            <?php if($block->getLastnameInput() == 'req'): ?>
                                                <sup>*</sup>
                                            <?php endif;?>
                                        </span>
                                    </label>
                                    <div class="control">
                                        <input type="text" class="input-text" name="lastname" id="lastname"
                                               title="<?= __('Surname') ?>"
                                            <?php if($block->getShowPlaceholders()):?>
                                                placeholder="<?= __('Surname') ?><?php if($block->getLastnameInput() == 'req'): ?>*<?php endif;?>"
                                            <?php endif;?>
                                            <?php if($block->getLastnameInput() == 'req'): ?> data-validate="{required:true}"<?php endif;?>
                                        />
                                    </div>
                                </div>
                                <?php endif; ?>
                            </div>

                            <div class="row">
                                <div class="field email required col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                                    <label class="label<?php if(!$block->getShowLabels()):?> hidden<?php endif;?>" for="contact-email">
                                        <span><?= __('E-mail address') ?><sup>*</sup></span>
                                    </label>
                                    <div class="control">
                                        <input name="contact-email" id="contact-email" title="<?= __('Email') ?>" class="input-text" type="email"
                                               <?php if($block->getShowPlaceholders()):?>placeholder="<?= __('E-mail address') ?>*"<?php endif; ?>
                                               value="<?= $block->escapeHtmlAttr($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>"
                                               data-validate="{required:true, 'validate-email':true}"/>
                                    </div>
                                </div>
                                <?php if($block->getTelephoneInput() != ""):?>
                                    <div class="field telephone<?php if($block->getTelephoneInput() == 'req'): ?> required<?php endif;?> col-md-4 col-sm-6 col-xs-12">
                                        <label class="label<?php if(!$block->getShowLabels()):?> hidden<?php endif;?>" for="telephone">
                                            <span><?= __('Mobile phone') ?></span>
                                            <?php if($block->getTelephoneInput() == 'req'): ?>
                                                <sup>*</sup>
                                            <?php endif;?>
                                        </label>
                                        <div class="control">
                                            <input name="telephone" id="telephone" title="<?= __('Mobile phone') ?>" class="input-text" type="number"
                                                <?php if($block->getShowPlaceholders()):?>
                                                    placeholder="<?= __('Mobile phone') ?><?php if($block->getTelephoneInput() == 'req'): ?>*<?php endif;?>"
                                                <?php endif; ?>
                                                <?php if($block->getTelephoneInput() == 'req'): ?> data-validate="{required:true}"<?php endif;?>
                                            />
                                        </div>
                                    </div>
                                <?php endif;?>
                            </div>

                            <?php if($block->getCountryInput() != ""):?>
                                <div class="row">
                                    <div class="field country<?php if($block->getCountryInput() == 'req'): ?> required<?php endif;?> col-md-offset-2 col-md-8 col-xs-12">
                                        <label class="label<?php if(!$block->getShowLabels()):?> hidden<?php endif;?>" for="country">
                                            <span><?= __('Country') ?></span>
                                            <?php if($block->getCountryInput() == 'req'): ?>
                                                <sup>*</sup>
                                            <?php endif;?>
                                        </label>
                                        <div class="control">
                                            <select class="select" id="country" name="country"
                                                <?php if($block->getCountryInput() == 'req'): ?> data-validate="{required:true}"<?php endif;?>>
                                                <option class="placeholder" value="" disabled selected>
                                                    <?= __('Country') ?>
                                                    <?php if($block->getCountryInput() == 'req' && !$block->getShowLabels()): ?>
                                                        <sup>*</sup>
                                                    <?php endif;?>
                                                </option>
                                                <?php
                                                $countries = $block->getAvailableCountries();
                                                foreach ($countries as $country) : ?>
                                                    <option value="<?php echo $country->getCountryId(); ?>"><?php echo $country->getName(); ?></option>
                                                <?php endforeach;?>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            <?php endif;?>

                            <?php if($block->getShowReasonInput() != ""):?>
                            <div class="row">
                                <div class="field reason<?php if($block->getShowReasonInput() == 'req'): ?> required<?php endif;?> col-md-offset-2 col-md-8 col-xs-12">
                                    <label class="label<?php if(!$block->getShowLabels()):?> hidden<?php endif;?>" for="reason">
                                        <span><?= __('Reason for contact') ?></span>
                                        <?php if($block->getShowReasonInput() == 'req'): ?>
                                            <sup>*</sup>
                                        <?php endif;?>
                                    </label>
                                    <div class="control">
                                        <select class="select" id="reason" name="reason" data-bind="event:{change: checkTypeIssue.bind()}"
                                            <?php if($block->getShowReasonInput() == 'req'): ?> data-validate="{required:true}"<?php endif;?>>
                                            <option class="placeholder" value="" disabled selected>
                                                <?= __('Reason for contact') ?>
                                                <?php if($block->getShowReasonInput() == 'req' && !$block->getShowLabels()): ?>
                                                    <sup>*</sup>
                                                <?php endif;?>
                                            </option>
                                            <?php
                                            $reasons = $block->getContactReasons();
                                            foreach ($reasons as $reason) : ?>
                                                <option value="<?= $reason['reason_id'] ?>"><?= __($reason['reason_label']) ?></option>
                                            <?php
                                                if($reason['dependency'] !== 'none'){
                                                    $depends .= $reason['reason_id'].',';
                                                }
                                            endforeach;?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <?php endif;?>

                            <div class="row">
                                <div class="field ordernumber col-md-offset-2 col-md-8 col-xs-12" data-bind="visible: orderNumberRequest " style="display: none;">
                                    <label class="label<?php if(!$block->getShowLabels()):?> hidden<?php endif;?>" for="ordernumber"><span><?= __('Order number*') ?></span></label>
                                    <div class="control">
                                        <input name="ordernumber" id="ordernumber" title="<?= __('Order number') ?>" class="input-text" type="text"
                                               <?php if($block->getShowPlaceholders()):?>placeholder="<?= __('Order number') ?>"<?php endif; ?>/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="field comment required col-md-offset-2 col-md-8 col-xs-12">
                                    <label class="label<?php if(!$block->getShowLabels()):?> hidden<?php endif;?>" for="comment">
                                        <span><?= __('Message') ?><sup>*</sup></span>
                                    </label>
                                    <div class="control">
                                        <textarea name="comment" id="comment" class="input-text" cols="5" rows="5" title="<?= __('Message') ?>" data-validate="{required:true}"
                                                  <?php if($block->getShowPlaceholders()):?>placeholder="<?= __('Message') ?>*"<?php endif; ?>><?= $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8 col-xs-12 ec-note">
                                    <p><?= __('* Required Fields') ?></p>
                                </div>
                            </div>

                            <?php /* <div class="row">
                                <div class="col-md-offset-2 col-md-8 col-xs-12">
                                    <div class="field choice">
                                        <input type="checkbox" name="accept_terms" id="subscription" value="1" title="General Subscription" class="checkbox" data-bind="checked: acceptedTerms">
                                        <label for="subscription" class="label">
                                            <span>
                                                <?= $block->getPrivacyPolicyLabel() ?>
                                            </span>
                                        </label>
                                        <a href="#" data-bind="click: showHidePrivacy.bind()"><span><?= __('Privacy Information') ?></span></a>
                                        <sup>*</sup>
                                        <span class="ec-input-error" id="EC-contact-acceptedterms-error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row ec-privacy-block">
                                <div class="col-md-offset-2 col-md-8 col-xs-12">
                                    <div data-bind="fadeVisible: privacyVisible">
                                        <p><?= $block->getPrivacyPolicyContent() ?></p>
                                    </div>
                                </div>
                            </div> */ ?>

                            <div class="row">
                                <div class="field required col-md-offset-2 col-md-8 col-xs-12">
                                    <?= $privacy_block; ?>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-offset-2 col-md-8 col-xs-12 text-right">
                                    <div class="primary">
                                        <input type="hidden" name="spmchk" id="spmchk" value="" />
                                        <?php if($block->getApiKey()): ?>
                                            <input type="hidden" name="api_key" id="api_key" value="<?= $block->getApiKey() ?>" />
                                        <?php endif; ?>
                                        <input type="hidden" name="store" id="store" value="<?= $block->getStoreCode() ?>" />
                                        <button type="submit" title="<?= __('Submit') ?>" class="action submit primary ">
                                            <span><?= __('Submit') ?></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <div class="row" data-bind="visible: isSuccessMessage" style="display: none;">
                        <div class="col-xs-12 ec-contact-succes-message">
                            <h1><?= $block->escapeHtmlAttr(__('Thank you for contacting us!')) ?></h1>
                            <p><?= $block->escapeHtmlAttr(__('We have received your request, we will reply as soon as possible!')) ?></p>
                            <div class="primary">
                                <a data-bind="attr: {href: window.location.origin }" title="<?= __('Back to shop') ?>" class="action primary ">
                                    <span><?= __('Back to shop') ?></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row" data-bind="visible: isErrorMessage" style="display: none;">
                        <div class="col-xs-12 text-center">
                            <h1><?= $block->escapeHtmlAttr(__('Ooups!')) ?></h1>
                            <p><?= $block->escapeHtmlAttr(__('Something went wrong, try reloading the page.')) ?></p>
                            <div class="primary">
                                <a href="#" onClick="window.location.reload()" title="<?= __('reload') ?>" class="action submit primary">
                                    <span><?= __('Reload the page') ?></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?= $popup_block; ?>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customContactPage": {
                        "component": "Eurostep_ContactForm/js/contact-form",
                        "actionUrl": "<?= $block->getFormAction() ?>",
                        "successPage": "<?= $block->getSuccessPageUrl() ?>",
                        "reasonsDependencies": "<?= $depends ?>",
                        "isDefaultController": "<?= $block->isDefaultController() ? "false":"true"?>"
                    }
                }
            }
        }
    }
</script>
