<?php
/**
 * Created by PhpStorm.
 * User: sergiu
 * Date: 25/06/18
 * Time: 14.41
 */
?>
<div class="ec-newsletter-success-page row">
    <div class="col-xs-12 text-center">
        <h1><?= __('Thank You For Contacting Us.') ?></h1>
        <p><?= __('Your message has been successfully sent. We will respond to you within 48 hours.') ?></p>
    </div>
    <div class="col-xs-12 text-center">
        <div class="primary">
            <a class="action submit primary" title="Continue shopping" href="<?= $this->getBaseUrl() ?>">
                <span>
                    <?= __('Continue shopping') ?>
                </span>
            </a>
        </div>
    </div>
</div>