<?php
/**
 * Created by PhpStorm.
 * User: sergiu
 * Date: 09/07/18
 * Time: 15.38
 */
/** @var \Eurostep\ImageBoxWidgets\Block\Widget\ImageBoxWidget $block */
?>
<div class="ec-imagebox--container ec-imagebox--layout-1">
    <a class="ec-imagebox--link" href="<?= $block->getHref() ?>" title="<?= $block->getTitle() ?>">
        <div class="ec-imagebox--image-wrapper<?= $block->getMobileImageUrl() ? ' ec-separate-mobile-image': '' ?>">
            <img class="ec-imagebox--main-image" src="<?= $block->getMainImageUrl() ?>" alt="<?= $block->getTitle() ?>"/>
            <?php if($block->getMobileImageUrl()): ?>
                <img class="ec-imagebox--mobile-image" src="<?= $block->getMobileImageUrl() ?>" alt="<?= $block->getTitle() ?>"/>
            <?php endif; ?>
        </div>
        <div class="ec-imagebox--content-wrapper">
            <span class="ec-imagebox--title">
                <?= $block->getTitle() ?>
            </span>
            <?php if($block->getContent()): ?>
                <span class="ec-imagebox--content">
                    <?= $block->getContent() ?>
                </span>
            <?php endif; ?>
        </div>
    </a>
    <?php if($block->getCta()): ?>
        <a class="btn btn-default ec-imagebox--cta" href="<?= $block->getHref() ?>">
            <span><?= $block->getCta() ?></span>
        </a>
    <?php endif;?>
</div>