//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .page-wrapper {
        min-height: auto; // Disable Stretch content area for sticky footer
    }

    h2{
        font-family: @font-family-serif;
        font-weight: 300;
    }

    .footer {
        &.content {
            ul {
                padding-right: 0px;
            }

        }
    }

}
