<!--@subject {{var request.getIncrementId()}}: {{trans "New RMA request"}}  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var request.getId()":"RMA ID",
"var request.getIncrementId()":"Order ID",
"var request.getStatusLabel()":"Status",
"var comment.getCommentText()":"Comment",
"var comment.getCommentUrl()":"Comment URL",
"var comment.getFileUrl()":"File URL",
"var comment.getFileName()":"File",
"layout handle=\"amasty_rma_email_items\" request=$request":"Return Items Grid"
}
@-->

{{template config_path="design/email/header_template"}}

<table width="100%">
    <tr class="email-intro">
        <td align="center">
            <h1>{{trans "New RMA request"}}</h1>
            <p>
                {{trans "Administrator"}},<br/>
                {{trans "New RMA"}} <b>#{{var request.getId()}}</b> {{{trans "placed"}}. {{trans "Order"}} <b>#{{var request.getIncrementId()}}</b><br/>
                <br/>
                {{trans "Request items:"}} <br/>
                {{layout handle="amasty_rma_email_items" request=$request}}<br/>
                ----------------------------------------------------------------------<br/>
                {{var comment.getCommentText()}}<br/>
                ----------------------------------------------------------------------<br/>
                {{depend comment.getFileUrl()}}
                <b><a href="{{var comment.getFileUrl()}}">{{var comment.getFileName()}}</a></b>
                {{/depend}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
