<!--@subject {{var request.getIncrementId()}}: {{trans "RMA status change"}}  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var request.getId()":"RMA ID",
"var request.getIncrementId()":"Order ID",
"var request.getCustomerFirstname()":"First Name",
"var request.getCustomerLastname()":"Last Name",
"var request.getStatusLabel()":"Status",
"var request.getPrintLabelUrl()":"Print Label URL",
"var request.getConfirmShippingUrl()":"Confirm Shipping Url",
"var comment.getCommentText()":"Comment",
"var comment.getCommentUrl()":"Comment URL",
"var comment.getFileUrl()":"File URL",
"var comment.getFileName()":"File",
"layout handle=\"amasty_rma_email_items\" request=$request":"Return Items Grid"
}
@-->

{{template config_path="design/email/header_template"}}

<table width="100%">
    <tr class="email-intro">
        <td align="center">
            <h1>{{trans "RMA status change"}}</h1>
            <p>
                {{trans "Dear"}}, <b>{{var request.getCustomerFirstname()}} {{var request.getCustomerLastname()}}</b><br/>
                {{trans "Status has been changed to:"}} <b>{{var request.getStatusLabel()}}</b><br/><br/>
                {{trans "Comment here:"}}<br/>
                ----------------------------------------------------------------------<br/>
                {{var comment.getCommentText()}}<br/>
                ----------------------------------------------------------------------<br/>
                {{depend comment.getFileUrl()}}
                <b><a href="{{var comment.getFileUrl()}}">{{var comment.getFileName()}}</a></b>
                {{/depend}}

                {{depend request.allowPrintLabel()}}
                <b><a href="{{var request.getConfirmShippingUrl()}}">Confirm shipping</a></b>
                {{/depend}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
