<?php
/**
 * Created by PhpStorm.
 * User: sergiu
 * Date: 18/06/18
 * Time: 16.09
 */
?>

<?php
    /** @var \Eurostep\CustomRelated\Block\Products\Related\ColorsList $block */
    $exist = $block->getItems()->getSize();
    $items = $block->getItems();
    $currentProduct = $block->getProduct();
?>

<?php if ($exist):?>
    <div class="block ec-related-colors">
        <div class="block-title title">
            <strong id="block-related-colors-heading" role="heading" aria-level="2"><?= __('Color') ?></strong>
            <span id="ec-label-wrapper"></span>
        </div>
        <div class="block-content content" aria-labelledby="block-related-colors-heading">
            <div class="ec-related-colors-wrapper">
                <ul class="ec-related-colors-list">
                    <?php foreach ($items as $_item): ?>
                        <?php if (!$_item->isComposite() && $_item->isSaleable()): ?>
                            <li class="ec-item ec-related-color">
                                <?php $swatchHtml = $block->getSwatchValue($_item->getColor()) ?>
                                <?php if($currentProduct->getId() == $_item->getId()): ?>
                                    <a class="ec-active-swatch" href="javascript:void(0)">
                                        <?= $swatchHtml ?>
                                        <span class="ec-active ec-swatch-text"><?= $_item->getColorValue() ?></span>
                                    </a>
                                <?php else: ?>
                                    <a class="ec-color--<?= $_item->getColorValue() ?>" href="<?= $_item->getProductUrl() ?>">
                                        <?= $swatchHtml ?>
                                        <span class="ec-swatch-text"><?= $_item->getColorValue() ?></span>
                                    </a>
                                <?php endif;?>
                            </li>
                        <?php endif; ?>
                    <?php endforeach ?>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/x-magento-init">
        {
            ".block.ec-related-colors": {
                "customRelatedJs": {
                    "wrapper":"#ec-label-wrapper"
                }
            }
        }
    </script>
<?php endif;?>
