<!--@subject Consent Request @-->
{{template config_path="design/email/header_template"}}

<table width="100%">
    <tr class="email-intro">
        <td align="center">
            <h1>{{trans "Privacy update"}}</h1>
            <p>

                <p>{{trans "We have recently updated our"}} <a href="#">privacy policy</a>". {{trans "Due to the changes related to the EU GDPR (General Data Protection Regulation) we are required to notify you about this update and are required to get your consent to the updated policy."}} Due to the changes related to the EU GDPR (General Data Protection Regulation) we are required to notify you about this update and are required to get your consent to the updated policy.</p>

                <p>{{trans "In order to have your account still active, it's necessary to read and agree with the updated privacy policy."}}</p>

                <p>{{trans "There are no major differences, we still take care of all your personal data, we store it securely and use it only for processing your orders and support requests."}}</p>

                <a href="{{var accountUrl}}" style="font-weight: bold; font-size: 18px;">{{trans "I agree and wish to keep my account"}}</a>
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
