<!--@subject Your personal data has been anonymised @-->
{{template config_path="design/email/header_template"}}


<table width="100%">
    <tr class="email-intro">
        <td align="center">
            <h1>{{trans "Anonymised account"}}</h1>
            <p>
                {{trans "To login please use the following anonymised e-mail address:"}} {{var anonymousEmail}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
