<!--@subject Your delete request was denied @-->
{{template config_path="design/email/header_template"}}


<table width="100%">
    <tr class="email-intro">
        <td align="center">
            <h1>{{trans "Account deleted"}}</h1>
            <p>
                <p>{{trans "Hello"}} {{var customerName}},</p>

                <p>{{trans "Your delete request was denied at this time due to the following reason:"}} {{var comment}}</p>
            </p>
        </td>
    </tr>
</table>


{{template config_path="design/email/footer_template"}}
