<?php
/* @var Eurostep\PageRowSection\Block\Widget\Pagerowsection $block*/

$mediDir = $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl();
?>
<section class="page-row-section container">
    <div class="row-section">

        <div class="col-sm-6 row-section--element img-wrp" style="order:<?php echo $block->getData('page_section_order'); ?>">
            <img src="<?php echo $mediDir . $block->getData('page_section_image'); ?>" />
        </div>

        <div class="col-sm-6 row-section--element">
            <div class="page-row-side-text">
                <?php if($block->getData('page_section_image_small')): ?>
                    <img src="<?php echo $mediDir . $block->getData('page_section_image_small'); ?>" />
                <?php endif; ?>

                <?php if($block->getBlockTitle()): ?>
                    <h2 class="side-text-title"><?php echo $block->getData('page_section_title'); ?></h2>
                <?php endif; ?>

                <?php if($block->getData('page_section_content')): ?>
                    <p><?php echo $block->getData('page_section_content'); ?></p>
                <?php endif; ?>
            </div>
            <?php if($block->getButtonLabel()) : ?>
                <div class="page-row-side-btn">
                    <a class="btn btn-default" <?= $block->getLinkAttributes() ?>><?= $block->getButtonLabel() ?></a>
                </div>
             <?php endif; ?>
        </div>
    </div>

</section>