

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    [class*="ec-owl--"]{
        .block-title.title{
            margin-bottom: 25px;
            strong{
                font-weight: 300;
                font-family: @font-family-serif;
                text-transform: uppercase;
            }
        }
        .product-items{
            padding: 0 36px;
            overflow: hidden;
        }
        // OWL Styles
        .owl-nav{
            height: 0;
            position: absolute;
            width: 100%;
            left: 0;
            top: 46%;
            top:  calc(~'50% - 39px');
            >div{
                color: @color-gray46;
                font-size: 36px;
                line-height: 1;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;

                &.disabled{
                    color: rgba(119,119,119,0.5);
                    cursor: default;
                }
                &.owl-prev{
                    float: left;
                    margin-left: 0;
                }
                &.owl-next{
                    float: right;
                    margin-right: 0;
                }
            }
        }
        .owl-dots{
            width: 100%;
            text-align: center;
            padding: 10px 0;
            .owl-dot{
                width: 14px;
                height: 14px;
                border-radius: 50%;
                border: 1px solid @color-gray46;
                margin: 5px;
                display: inline-block;
                &.active{
                    background-color: @color-gray46;
                }
            }
        }

        // Grid Styles
        .products-grid{
            .product-item{
                width: 100%;
                padding: 0 10px 15px;

                .price-box{
                    .price{
                        font-size: @font-size-small;
                    }
                }
                .product-item-name{
                    font-size: @font-size-small;
                }

                .product-item-photo{
                    display: inline-block;
                    width: 100%;
                    overflow: hidden;
                    > span {
                        display: inline-block;
                        width: 100%;
                    }
                }

                &:hover{
                    .product-item-name{
                        a{
                            text-decoration: underline;
                        }
                    }
                }

                .price-box {
                    margin: @indent__s 0 0;
                    text-align: left;
                    .price {
                        font-weight: normal;
                        white-space: nowrap;
                        font-size: @font-size-small;
                    }

                    .price-label {
                        display: none;
                    }
                }

                .old-price {
                    margin: @indent__xs 0;

                    .price {
                        font-weight: normal;
                        text-decoration: line-through;
                    }
                }

                .regular-price {
                    .price-label {
                        display: none;
                    }
                }

            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    [class*="ec-owl--"]{
        .product-items{
            padding: 0;
        }
        .owl-nav{
            >div{
                opacity: 0;
                &.owl-prev{
                    margin-left: -36px;
                }
                &.owl-next{
                    margin-right: -36px;
                }
            }
        }
        &:hover{
            .owl-nav{
                >div{
                    opacity: 1;
                    &.owl-prev{
                        margin-left: 0;
                        -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                    }
                    &.owl-next{
                        margin-right: 0;
                        -webkit-transition: all .3s ease-in-out;
                        transition: all .3s ease-in-out;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    [class*="ec-owl--"]{
        margin-top: 30px;
        .block-title.title{
            text-align: center;
            strong{
                font-size: 22px;
            }
        }
        .products-grid{
            .product-item{
                width: 100%;
                .product-item-photo{
                    .ec-hover-image{
                        display: none!important;
                    }
                }

            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    [class*="ec-owl--"]{
        margin-top: 40px;
        .block-title.title{
            text-align: left;
            strong{
                font-size: 32px;
            }
        }
        .products-grid{
            .product-item{
                width: 100%;

                .price-box{
                    .price{
                        font-size: @font-size-medium;
                    }
                }
                .product-item-name{
                    font-size: @font-size-medium;
                }

                .product-item-photo{
                    position: relative;
                    .ec-hover-image{
                        position: absolute;
                        top:0;
                        z-index: 1;
                        img{
                            opacity: 0;
                            -webkit-transition: opacity .2s ease;
                            transition: opacity .2s ease;
                        }
                    }
                    .ec-base-image{
                        position: relative;
                        z-index:2;
                        img{
                            opacity: 1;
                            -webkit-transition: opacity .2s ease;
                            transition: opacity .2s ease;
                        }
                    }
                }
                &:hover{
                    .product-item-photo{
                        .ec-hover-image{
                            img{
                                opacity: 1;
                                -webkit-transition: opacity .2s ease;
                                transition: opacity .2s ease;
                            }
                        }
                        .ec-base-image{
                            img{
                                opacity: 0;
                                -webkit-transition: opacity .5s ease;
                                transition: opacity .5s ease;
                            }
                        }
                    }
                }

            }
        }
    }
}