// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@product-name-link__color: @text__color;
@product-name-link__color__active: @text__color;
@product-name-link__color__hover: @text__color;
@product-name-link__color__visited: @text__color;

@product-name-link__text-decoration: none;
@product-name-link__text-decoration__active: @link__hover__text-decoration;
@product-name-link__text-decoration__hover: @link__hover__text-decoration;
@product-name-link__text-decoration__visited: @link__hover__text-decoration;

@product-item__hover__background-color: @color-white;
@product-item__hover__box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, .3);

@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    //  Product Lists
    .page-products{
        .column.main {
            .products {
                .product-items{
                    margin-top: @indent__m;
                    .item{
                        margin-bottom: 20px;
                        a:focus,
                        a:active{
                            outline:none!important;
                        }
                    }
                }
            }
        }
    }

    .product {
        &-items {
            &:extend(.abs-reset-list all);
        }

        &-item {
            vertical-align: top;

            &:hover{
                .product-item-name{
                    a{
                        text-decoration: underline;
                    }
                }
            }

            .products-grid & {
                display: inline-block;
                width: 100%/2;
            }

            &:extend(.abs-add-box-sizing all);

            .product-item-photo{
                display: inline-block;
                width: 100%;
            }

            &-name {
                &:extend(.abs-product-link all);
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                -webkit-hyphens: auto;
                display: block;
                hyphens: auto;
                margin: @indent__xs 0;
                word-wrap: break-word;
            }

            &-info {
                max-width: 100%;
            }

            &-actions {
                display: none;

                .actions-secondary {
                    > button.action {
                        .lib-button-reset();
                    }

                    > .action {
                        &:extend(.abs-actions-addto all);
                        &:before {
                            margin: 0;
                        }

                        span {
                            &:extend(.abs-visually-hidden all);
                        }
                    }
                }
            }

            &-description {
                margin: @indent__m 0;
            }

            .product-reviews-summary {
                .rating-summary {
                    margin: 0 4px 0 0;
                }

                .reviews-actions {
                    font-size: @font-size__s;
                    margin-top: 5px;
                    text-transform: lowercase;
                }
            }

            .price-box {
                margin: @indent__s 0 0;
                text-align: left;
                .price {
                    font-weight: normal;
                    white-space: nowrap;
                    font-size: @font-size-small;
                }

                .price-label {
                    display: none;
                }
            }

            .old-price {
                margin: @indent__xs 0;

                .price {
                    font-weight: normal;
                    text-decoration: line-through;
                }
            }

            .regular-price {
                .price-label {
                    display: none;
                }
            }

            .minimal-price {
                .price-container {
                    display: block;
                }
            }

            .minimal-price-link {
                margin-top: @indent__xs;
            }

            .price-from,
            .price-to {
                margin: 0;
            }

            .tocompare {
                .lib-icon-font-symbol(
                @icon-compare-full
                );
            }

            .tocart {
                .lib-font-size(13px);
                border-radius: 0;
                line-height: 1;
                padding-bottom: @indent__s;
                padding-top: @indent__s;
                white-space: nowrap;
            }
        }
    }

    .product-item{
        .product-item-name{
            font-size: @font-size-small;
            text-transform: uppercase;
            line-height: 1.5;
            a{
                color: @color-black;
                font-weight: bold;
            }
        }
    }

    .column.main {
        .product {
            &-items {
                margin-left: -@indent__base;
            }

            &-item {
                padding-left: @indent__base;
            }
        }
    }

    .price-container {
        .price {
            .lib-font-size(14);
        }

        .price-including-tax + .price-excluding-tax,
        .weee {
            margin-top: @indent__xs;
        }

        .price-including-tax + .price-excluding-tax,
        .weee,
        .price-including-tax + .price-excluding-tax .price,
        .weee .price,
        .weee + .price-excluding-tax:before,
        .weee + .price-excluding-tax .price {
            .lib-font-size(11);
        }

        .weee {
            &:before {
                content: '(' attr(data-label) ': ';
            }

            &:after {
                content: ')';
            }

            + .price-excluding-tax {
                &:before {
                    content: attr(data-label) ': ';
                }
            }
        }
    }

    .products-list {
        .product {
            &-item {
                display: table;
                width: 100%;

                &-info {
                    display: table-row;
                }

                &-photo {
                    display: table-cell;
                    padding: 0 @indent__l @indent__l 0;
                    vertical-align: top;
                    width: 1%;
                }

                &-details {
                    display: table-cell;
                    vertical-align: top;
                }
            }
        }

        .product-image-wrapper {
            &:extend(.abs-reset-image-wrapper all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .products-list .product {
        &-item {
            table-layout: fixed;

            &-photo {
                padding: 0 @indent__s @indent__s 0;
                width: 30%;
            }
        }
    }

    .page-products {
        .products-grid {
            .product-item{
                .price-box{
                    margin: 0;
                    height: 40px;
                    .old-price{
                        display: block;
                        line-height: 1;
                    }
                }
                .product-item-name{
                    margin: 0;
                }
                .product-item-photo{
                    .ec-hover-image{
                        display: none!important;
                    }
                }
            }
        }

        .product-item-actions {
            position: relative;
            z-index: 1;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-item-info {
        .products-grid & {
            &:hover,
            &.active {
                position: relative;
                z-index: 2;

                .product-item-inner {
                    display: block;
                }
                .sidebar & {
                    .product-item-photo {
                        top: 9px;
                        left: 9px;
                    }
                }
            }
        }
    }

    .product-item-inner {
        .products-grid & {
            .lib-css(background, @product-item__hover__background-color);
            border: 1px solid @color-gray-light2;
            border-top: none;
            left: 0;
            margin: 9px 0 0 -1px;
            padding: 0 9px 9px;
            position: absolute;
            right: -1px;
            z-index: 2;
        }
    }

    .product-item-actions {
        display: block;

        .products-grid & {
            margin: -@indent__s 0 @indent__s;
        }

        .actions-primary + .actions-secondary {
            display: table-cell;
            padding-left: 10px;
            width: 50%;
            vertical-align: middle;

            > .action {
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .actions-primary {
            display: table-cell;
        }
    }


    /* Listing page */

    .page-products {
        &.page-layout-2columns-left{
            .sidebar-main{
                width: 30%;
            }
            .column.main{
                width: 70%;
            }
        }

        .products-grid {
            .product-item-inner {
                &:before {
                    .lib-css(background, @product-item__hover__background-color);
                    content: '';
                    height: 3px;
                    left: 0;
                    position: absolute;
                    top: -2px;
                    width: 100%;
                    z-index: 1;
                }
            }
            .product-item{
                .price-box{
                    .price{
                        font-size: @font-size-medium;
                    }
                }
                .product-item-name{
                    font-size: @font-size-medium;
                }

                .product-item-photo{
                    position: relative;
                    .ec-hover-image{
                        position: absolute;
                        top:0;
                        z-index: 1;
                        img{
                            opacity: 0;
                            -webkit-transition: opacity .2s ease;
                            transition: opacity .2s ease;
                        }
                    }
                    .ec-base-image{
                        position: relative;
                        z-index:2;
                        img{
                            opacity: 1;
                            -webkit-transition: opacity .2s ease;
                            transition: opacity .2s ease;
                        }
                    }
                }
                &:hover{
                    .product-item-photo{
                        .ec-hover-image{
                            img{
                                opacity: 1;
                                -webkit-transition: opacity .2s ease;
                                transition: opacity .2s ease;
                            }
                        }
                        .ec-base-image{
                            img{
                                opacity: 0;
                                -webkit-transition: opacity .5s ease;
                                transition: opacity .5s ease;
                            }
                        }

                        &.only-one-image-product{
                            .ec-base-image{
                                img{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        .product-item-actions {
            position: relative;
            z-index: 1;
        }
    }


    /* Product Detail page */

    .catalog-product-view{

        .products-grid {

            .product-item{

                .product-item-photo{
                    position: relative;

                    .ec-hover-image{
                        position: absolute;
                        top:0;
                        z-index: 1;
                        img{
                            opacity: 0;
                            -webkit-transition: opacity .2s ease;
                            transition: opacity .2s ease;
                        }
                    }
                    .ec-base-image{
                        position: relative;
                        z-index:2;
                        img{
                            opacity: 1;
                            -webkit-transition: opacity .2s ease;
                            transition: opacity .2s ease;
                        }
                    }
                }
                &:hover{
                    .product-item-photo{
                        .ec-hover-image{
                            img{
                                opacity: 1;
                                -webkit-transition: opacity .2s ease;
                                transition: opacity .2s ease;
                            }
                        }
                        .ec-base-image{
                            img{
                                opacity: 0;
                                -webkit-transition: opacity .5s ease;
                                transition: opacity .5s ease;
                            }
                        }

                        &.only-one-image-product{
                            .ec-base-image{
                                img{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .products-grid {
        .product-item-info {
            &:not(:hover) {
                &:not(.active) {
                    .product-item-inner {
                        &:extend(.abs-visually-hidden-desktop-s all);
                    }
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    body.page-products{
        &.page-layout-2columns-left{
            .sidebar-main{
                width: 21%;
            }
            .column.main{
                width: 79%;
            }
        }
    }
    .page-products {
        .products-grid {
            .product-item {
                width: 100%/3;
            }
        }
    }

    .page-products.page-layout-1column {
        .products-grid {
            .product-item {
                width: 100%/4;
            }
        }
    }

    .page-products.page-layout-3columns {
        .products-grid {
            .product-item {
                width: 100%/2;
            }
        }
    }
}
