<?php

/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_Storelocator
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
$field = $this->getField();

$html = "";
$html .= '<div class="admin__field-control">
            <select id="storelocator_region_id" name="storelocator[region_id]" class="admin__control-select validate-select">
                <option value="">Please select a region, state or province.</option>
            </select>
        </div>';
echo $html;
?>
