<?php

/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_Storelocator
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
$field = $this->getField();
$html = "";
if ($field['data'] != "") {
    $televalue = explode(':', $field['data']);
    $deleteflag = false;
    $html .= '<div id="tele-input-cont">';
    foreach ($televalue as $key => $singlevalue) {
        $html .= '<input id="' . $field['name'] . '" value="' . $singlevalue . '" name="' . $field['name'] . '[]" class="required" />';
        if ($deleteflag) :
            $html .= '<button onclick="deleteInput(this)" class="action-delete" title="Delete Telephone" type="button">
                    <span>Delete Contact</span>
                </button>';
        endif;
        $deleteflag = true;
    }
    $html .= '</div>';
} else {
    $html .= '<div id="tele-input-cont">';
    $html .= '<input id="' . $field['name'] . '" name="' . $field['name'] . '[]" class="required" />';
    $html .= '</div>';
}
$html .= '<div class="actions">
                <button onclick="addNewInput()" class="scalable add" type="button" title="Add New Contact" id="add_new_contact">
                    <span>Add More Contact</span>
                </button>
          </div>';
echo $html;
?>
