//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .ec-top-image-wrapper{
        img{
            width: 100%;
        }
    }
    #EC-custom-contact-form{
        margin: 15px 0;

        .ec-privacy-block{
            margin-bottom: 20px;
            padding-left: 25px;
            a{
                color: #5e748f;
            }
        }

        .ec-input-error{
            color: #e02b27;
            font-size: 1.2rem;
            display: block;
        }

        form{
            fieldset{
                >.row{
                    margin-bottom: 10px;
                }

                .field{
                    &.choice{
                        margin: 5px 0;
                    }
                }
            }
        }
        .ec-contact-succes-message{
            .primary{
                margin: 30px 0;
                a{
                    &.action{
                        &.primary{
                            line-height: 44px;
                        }
                    }
                }
            }
        }
        label{
            font-weight: normal;
            font-size: 13px;
        }
    }

    .ec-info-block{
        padding: 15px;
        border: 2px solid #1a1a1a;
        display: inline-block;
        width: 100%;
        max-width: 700px;
        margin-bottom: 15px;
        p{
            margin-bottom: 0;
            font-size: 15px;
        }
    }

    .ec-contact-page-intro{
        h1{
            font-size: 30px;
            margin-bottom: 20px;
            text-transform: none;
        }
        .ec-subtitle{
            font-size: 1.2rem;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    #EC-Contact-Page {
        .primary{
            button{
                &.action{
                    &.primary{
                        min-width: 240px;
                    }
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    #EC-Contact-Page {
        .primary{
            button{
                &.action{
                    &.primary{
                        min-width: 240px;
                        width: 100%;
                    }
                }
            }
        }
        .ec-info-block{
            padding: 10px;
            p{
                font-size: 12px;
            }
        }
        form{
            fieldset{
                .field{
                    &.email,
                    &.firstname{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}
