<?php
/**
 * Magento Module developed by NoStress Commerce
 *
 * NOTICE OF LICENSE
 *
 * This program is licensed under the Koongo software licence (by NoStress Commerce). 
 * With the purchase, download of the software or the installation of the software 
 * in your application you accept the licence agreement. The allowed usage is outlined in the
 * Koongo software licence which can be found under https://docs.koongo.com/display/koongo/License+Conditions
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at https://store.koongo.com/.
 *
 * See the Koongo software licence agreement for more details.
 * @copyright Copyright (c) 2017 NoStress Commerce (http://www.nostresscommerce.cz, http://www.koongo.com/)
 *
 */

// @codingStandardsIgnoreFile

/** @var $block Nostress\Koongo\Block\Adminhtml\Channel\Profile\Filter\Edit\Tab\Main\Categories */
?>

<fieldset class="fieldset" id="<?php echo $block->getFieldsetName();?>">
    <legend class="legend">
        <span>
            <?php /* @escapeNotVerified */ echo __('Categories') ?>
            <?php echo $this->getTooltip(); ?>
        </span>
    </legend>
     <?php echo __("Category filter is active only if at least one category is selected.")?>
     <br/>
     <br/>
     <input id="<?php echo $block->getCategoriesFilterInputId(); ?>" type="hidden" value="<?php echo $block->getCategoryIdsString(); ?>" name=<?php echo $block->getCategoriesFilterInputName();?>/>
     <?php echo $block->getCategoryTreeHtml();?>
</fieldset>

