<div class="quote-section">

    <p class="quote"><?php echo $block->getData('quote'); ?></p>

    <?php if($block->getData('quote_author')): ?>
        <p class="quote-author"><?php echo $block->getData('quote_author'); ?></p>
    <?php endif; ?>

</div>


