<?php
/**
 * Created by PhpStorm.
 * User: sergiu
 * Date: 05/04/18
 * Time: 16.57
 */

/**@var Eurostep\SocialShare\Block\Product\Share */
$_product = $block->getCurrentProduct();
?>
<div id="EC-social-Sharer--<?= $_product->getId() ?>" class="ec-social-sharer-wrapper">
    <div class="ec-share-button">
        <a href="#" title="<?= __('Share product') ?>" data-toggle="ecsocialshare">
            <span class="ec-share-icon fed-icon fed_icon-share"></span>
            <span class="ec-share-text"><?= __('Share')?></span>
        </a>
    </div>
    <div class="ec-social-share-buttons">
        <!-- FACEBOOK -->
        <a class="ec-share-link ec-fb" href="https://www.facebook.com/sharer/sharer.php?u=<?php echo urlencode($_product->getProductUrl());?>&t=<?php echo urlencode($_product->getName())?>" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false' title="Share on FaceBook">
            <span class="ec-share-icon fed-icon fed_icon_facebook"></span>
        </a>
        <!-- TWITTER -->
        <a class="ec-share-link ec-tw" href="http://twitter.com/home/?status=<?php echo urlencode($_product->getProductUrl());?>(<?php echo urlencode($_product->getName())?>)" onclick='javascript:window.open(this.href,"","width=640,height=480,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes");return false' title="Share on Twitter">
            <span class="ec-share-icon fed-icon fed_icon_twitter"></span>
        </a>
    </div>
</div>
<script type="text/x-magento-init">
{
    "#EC-social-Sharer--<?= $_product->getId() ?>": {
        "ecSocialShare": {
            "socialShareButtonsSelector": "ec-social-share-buttons"
        }
    }
}
</script>
