<div class="modal-body">
	<h3><%- status %></h3>
	<!-- <div class="bootbox-body"><%- message %></div> -->
	<div class="bootbox-body">{{message_html_content}}</div>		
</div>
<div class="modal-footer">
	<span class="clear"></span>
</div>