@ec__swatch-wrapper-width: 42px;
@ec__swatch-wrapper-height: 42px;
@ec__swatch-width: @ec__swatch-wrapper-width - 2px;
@ec__swatch-height: @ec__swatch-wrapper-height - 2px;
@ec__swatch-border-radius: 50%;
@ec__swatch-link-color: #1a1a1a;
@ec__swatch-link-decoration: none;
@ec__swatch-border-color: #fff;
@ec__swatch-wrapper-border-color: @ec__swatch-border-color;
@ec__swatch-wrapper-border-color--hover: #777777;
@ec__swatch-link-font-size: 12px;

& when (@media-common = true) {
    #ec-label-wrapper{
        font-size: @ec__swatch-link-font-size;
        margin-left:5px;
        display: inline-block;
    }
    .ec-related-colors{
        .ec-related-colors-wrapper{
            .ec-related-colors-list{
                list-style:none;
                padding: 0 0 15px 0;
                display: inline-block;
                position: relative;
                margin-bottom: 0;
                .ec-item{
                    display: inline-block;
                    margin-right: 10px;
                    margin-bottom: 0;
                    > a{
                        color:@ec__swatch-link-color;
                        text-decoration: @ec__swatch-link-decoration;

                        .ec-related-swatch-wrapper{
                            display: inline-block;
                            width: @ec__swatch-wrapper-width;
                            height: @ec__swatch-wrapper-height;
                            border-radius: @ec__swatch-border-radius;
                            border: 1px solid @ec__swatch-wrapper-border-color;
                            -webkit-transition: all .3s ease;
                            transition: all .3s ease;
                        }
                        .ec-related-swatch-image,
                        .ec-related-swatch-color{
                            display: inline-block;
                            width: @ec__swatch-width;
                            height: @ec__swatch-height;
                            border-radius: @ec__swatch-border-radius;
                            border: 2px solid @ec__swatch-border-color;
                            background-size: 100% !important;
                        }
                        .ec-swatch-text{
                            display: none;
                        }
                        &.ec-active-swatch{
                            .ec-related-swatch-wrapper{
                                border-color: @ec__swatch-wrapper-border-color--hover;
                            }
                        }
                        &:hover{
                            .ec-related-swatch-wrapper{
                                border-color: @ec__swatch-wrapper-border-color--hover;
                                -webkit-transition: all .3s ease;
                                transition: all .3s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}