<!--@subject {{var request.getIncrementId()}}: RMA placed  @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var request.getId()":"RMA ID",
"var request.getIncrementId()":"Order ID",
"var request.getStatusLabel()":"Status",
"var comment.getCommentText()":"Comment",
"var comment.getCommentUrl()":"Comment URL",
"var comment.getFileUrl()":"File URL",
"var comment.getFileName()":"File",
"layout handle=\"amasty_rma_email_items\" request=$request":"Return Items Grid"
}
@-->

{{template config_path="design/email/header_template"}}

<div>
    Administrator,<br/>
    New RMA #{{var request.getId()}} placed. Order #{{var request.getIncrementId()}}<br/>
    <br/>
    Request items: <br/>
    {{layout handle="amasty_rma_email_items" request=$request}}<br/>
    ----------------------------------------------------------------------<br/>
    {{var comment.getCommentText()}}<br/>
    ----------------------------------------------------------------------<br/>
    {{depend comment.getFileUrl()}}
    <a href="{{var comment.getFileUrl()}}">{{var comment.getFileName()}}</a>
    {{/depend}}
</div>

{{template config_path="design/email/footer_template"}}
