<div class="cover-image">

    <?php $media_folder = $this->helper('Magento\Cms\Helper\Wysiwyg\Images')->getBaseUrl(); ?>
    <img class="cover-image-desktop<?php if(!$block->getData('cover_image_image_mobile')): ?> cover-image-mobile-too<?php endif; ?>" src="<?php echo $media_folder . $block->getData('cover_image_image'); ?>" />
    <?php if($block->getData('cover_image_image-mobile')): ?>
    <img class="cover-image-mobile" src="<?php echo $media_folder . $block->getData('cover_image_image_mobile'); ?>" />
    <?php endif; ?>

    <div class="cover-image-content <?php if($block->getData('cover_image_text_alignment') == 'left') : ?>cover-image-content-left<?php endif; ?><?php if($block->getData('cover_image_text_alignment') == 'right'): ?>cover-image-content-right<?php endif; ?> <?php if($block->getData('cover_image_text_vertical_alignment') == 'top') : ?>cover-image-content-top<?php endif; ?>
    <?php if($block->getData('cover_image_text_vertical_alignment') == 'bottom'): ?>cover-image-content-bottom<?php endif; ?>
    ">

        <p class="cover-image-title">
            <?php echo $block->getData('cover_image_title'); ?>
        </p>

        <?php if($block->getData('cover_image_text')): ?>
        <p class="cover-image-text">
            <?php echo $block->getData('cover_image_text'); ?>
        </p>
        <?php endif; ?>

        <?php if($block->getData('cover_image_button-label')){ ?>
        <div class="page-row-side-btn">
            <a href="<?php if($block->getData('cover_image_button_external_link')){ ?>
            <?php echo $block->getData('cover_image_button_external_link'); ?><?php
            } ?>
            <?php if ($block->getData('cover_image_button_internal_link')){ ?>
            <?php echo $block->getData('cover_image_button_internal_link'); ?><?php
            } ?>
            " class="btn btn-default">
            <?php echo $block->getData('cover_image_button_label'); ?>
            </a>
        </div>
        <?php } ?>

    </div>


</div>


