// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@autocomplete__background-color: @color-white;
@autocomplete__border: 1px solid @form-element-input__border-color;
@autocomplete-item__border: 1px solid @color-gray90;
@autocomplete-item__hover__color: @color-gray91;
@autocomplete-item-amount__color: @color-gray60;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .block-search {
        margin-bottom: 0;

        .block {
            &-title {
                display: none;
            }
        }

        .block-content {
            margin-bottom: 0;
            position: relative;
            .form.minisearch{
                background-color: transparent;
                position: relative;
                text-align: center;

                .control{
                    position: relative;
                    display: inline-block;
                    text-align: left;
                    margin: 30px 0 20px;
                    padding: 0 20px;
                    input{
                        background-color: transparent;
                        border-color: transparent;
                        border-bottom-color: @color-grey;
                        border-width: 1px;
                        height: 40px;
                        margin: 0;
                        padding-left: 50px;
                        &::-webkit-input-placeholder {
                            color: @color-grey;
                        }
                        &::-moz-placeholder {
                            color: @color-grey;
                        }
                        &:-ms-input-placeholder {
                            color: @color-grey;
                        }
                        &:-moz-placeholder {
                            color: @color-grey;
                        }
                        &:hover,
                        &:focus{
                            border-bottom-color: @color-gray55;
                        }
                    }
                    .actions{
                        position: absolute;
                        bottom: 0;
                        left: 10px;
                        button{
                            border: none;
                            background-color: transparent;
                            height: 40px;
                            font-size: 18px;
                            -webkit-box-shadow: none;
                            -moz-box-shadow: none;
                            box-shadow: none;

                            .fed-icon{
                                color: @color-grey;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        .label {
            cursor: pointer;
            .lib-icon-font(
            @_icon-font-content: @fed_icon_search,
            @_icon-font: 'fedon1919-icon',
            @_icon-font-size: 28px,
            @_icon-font-line-height: 30px,
            @_icon-font-margin: 0 @indent__s 0 0,
            @_icon-font-color: @color-gray19,
            @_icon-font-color-hover: @color-heavy-grey,
            @_icon-font-color-active: @color-black,
            @_icon-font-text-hide: true
            );
            display: inline-block;
            float: right;

            &.active {
                + .control {
                    z-index: 0;
                    max-height: 100px;
                    overflow: visible;
                    -webkit-transition: all .2s ease-in-out;
                    transition: all .2s ease-in-out;
                }
            }
            & + .control{
                max-height: 0;
                overflow: hidden;
                z-index: -10;
                //-webkit-transition: all .2s ease-in-out;
                //transition: all .2s ease-in-out;
            }
        }

        .action.search {
            //display: none;
        }

        .control {
            width: 100%;
            padding: 0 15px;
        }

        input {
            margin: 15px 0;
        }

        .nested {
            display: none;
        }
    }

    .search-autocomplete {
        display: none;
        margin-top: -15px;
        overflow: hidden;
        position: absolute;
        z-index: 3;
        &:extend(.abs-add-box-sizing all);

        ul {
            .lib-list-reset-styles();

            &:not(:empty) {
                .lib-css(background, @autocomplete__background-color);
                .lib-css(border, @autocomplete__border);
                border-top: 0;
            }

            li {
                .lib-css(border-top, @autocomplete-item__border);
                cursor: pointer;
                margin: 0;
                padding: @indent__xs @indent__xl @indent__xs @indent__s;
                position: relative;
                text-align: left;
                white-space: normal;

                &:first-child {
                    border-top: none;
                }

                &:hover,
                &.selected {
                    .lib-css(background, @autocomplete-item__hover__color);
                }

                .amount {
                    .lib-css(color, @autocomplete-item-amount__color);
                    position: absolute;
                    right: 7px;
                    top: @indent__xs;
                }
            }
        }
    }

    .form.search.advanced {
        &:extend(.abs-forms-general-desktop all);

        .fields.range {
            .field {
                &:first-child {
                    position: relative;

                    .control {
                        padding-right: 25px;

                        &:after {
                            content: ' \2013 ';
                            display: inline-block;
                            position: absolute;
                            right: 0;
                            text-align: center;
                            top: 6px;
                            width: 25px;
                        }
                    }
                }

                &:last-child {
                    position: relative;

                    div.mage-error[generated] {
                        left: 0;
                        position: absolute;
                        top: 32px;
                    }
                }

                &.with-addon {
                    .control {
                        padding-right: 45px;
                    }
                }

                &.date {
                    &:extend(.abs-field-date all);
                }
            }
        }

        .group.price {
            .addon {
                .addafter {
                    background: none;
                    border: 0;
                    padding-top: 6px;
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }
    }

    .search-terms {
        &:extend(.abs-reset-list all);
        line-height: 2em;

        > li {
            display: inline-block;
            margin-right: @indent__s;
        }
    }

    .search.found {
        margin-bottom: @indent__s;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = 1022px) {
    .block-search{
        &.desktop {
            display: none;
        }
        &.mobile{
            display: block;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = 1022px) {
    .header{
        .block-search{
            &.desktop {
                position: absolute;
                margin-bottom: 0;
                right: 0;
                width: 100%;
                top: 100%;
                height: 1px;
                .block-content{
                    .form.minisearch{
                        -webkit-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;
                        height: 0;
                        z-index: 5;
                        &.active{
                            background-color: @color-white-smoke;
                            -webkit-transition: all .2s ease-in-out;
                            transition: all .2s ease-in-out;
                            height: auto;
                            &:after {
                                bottom: 100%;
                                right: 68px;
                                border: solid transparent;
                                content: " ";
                                height: 0;
                                width: 0;
                                position: absolute;
                                pointer-events: none;
                                border-color: rgba(245, 245, 245, 0);
                                border-bottom-color: @color-white-smoke;
                                border-width: 15px;
                                margin-left: -15px;
                            }

                            .field.search{
                                height: auto;
                            }
                        }

                        .field.search{
                            height: 0;
                        }

                        label.label{
                            position: absolute;
                            right: 60px;
                            top: -62px;
                        }

                        .control{
                            margin: 30px auto 20px;
                            max-width: 800px;
                            padding: 0;
                            input{
                                padding: 0 10px;
                            }
                            .actions{
                                right: 0;
                                left: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
