<?php
/**@var \Eurostep\Newsletter\Block\Subscription $block */

$privacy_block =  $block->getLayout()->createBlock('Amasty\Gdpr\Block\Checkbox')->toHtml();
$popup_block = $block->getLayout()->createBlock('Amasty\Gdpr\Block\Popup')->toHtml();
?>
<div class="page-static">
    <div id="ec-newsletter-page">
        <div class="hidden-xs">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('main_img_newsletter_d')->toHtml(); ?>
        </div>

        <div class="visible-xs">
            <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('main_img_newsletter_m')->toHtml(); ?>
        </div>

        <div id="EC-newsletter-form" class="container" data-bind="scope: 'initNewsletter'">
            <div id="ec-newsletter-form-page" data-bind="visible: isFormVisible">
                <div class="ec-center row">
                    <section class="intro col-md-offset-2 col-sm-8 col-xs-12">
                        <h1><?= __('Newsletter') ?></h1>
                        <p class="ec-subtitle"><?= __('Subscribe to our newsletter and get') ?>
                            <span class="ec-subtitle-bold"><?= __('15% off') ?></span>
                            <?= __('your next purchase') ?><br/>
                            <span class="ec-subtitle-small"><?= __('valid on full-priced items only') ?></span>
                        </p>
                    </section>
                </div>

                <div class="row ec-form-row">
                    <div class="col-xs-12">
                        <div class="row ec-gender-row">
                            <div class="col-md-offset-2 col-sm-8 col-xs-12">
                                <label class="label<?php if (!$block->getShowLabels()): ?> hidden<?php endif; ?>" for="EC-newsletter-email"><?= __('Gender') ?></label><sup>*</sup>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-4">
                                        <div class="field choice">
                                            <input type="radio" id="male" name="gender" value="male" data-bind="checked: newsletterData.gender">
                                            <label for="male"> <span><?= __('Mr') ?></span> </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-4">
                                        <div class="field choice">
                                            <input type="radio" id="female" name="gender" value="female" data-bind="checked: newsletterData.gender">
                                            <label for="female"> <span><?= __('Mrs') ?></span> </label>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <span class="ec-input-error" id="EC-newsletter-gender-error"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label<?php if (!$block->getShowLabels()): ?> hidden<?php endif; ?>" for="EC-newsletter-firstname"><?= __('Name') ?></label><sup>*</sup>
                                <div class="control">
                                    <input type="text" class="col-xs-12 form-control" name="firstname" id="EC-newsletter-firstname" data-validate="{'required-entry':true}"
                                        <?php if ($block->getShowPlaceholders()): ?>
                                            placeholder="<?= __('Name') ?>*"
                                        <?php endif; ?>
                                           data-bind="value: newsletterData.firstname, valueUpdate: 'afterkeydown'">
                                    <span class="ec-input-error" id="EC-newsletter-firstname-error"></span>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label<?php if (!$block->getShowLabels()): ?> hidden<?php endif; ?>" for="EC-newsletter-lastname"><?= __('Lastname') ?></label><sup>*</sup>
                                <div class="control">
                                    <input type="text" class="col-xs-12 form-control" name="lastname" id="EC-newsletter-lastname" data-validate="{'required-entry':true}"
                                        <?php if ($block->getShowPlaceholders()): ?>
                                            placeholder="<?= __('Lastname') ?>*"
                                        <?php endif; ?>
                                           data-bind="value: newsletterData.lastname, valueUpdate: 'afterkeydown'">
                                    <span class="ec-input-error" id="EC-newsletter-lastname-error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label<?php if (!$block->getShowLabels()): ?> hidden<?php endif; ?>" for="EC-newsletter-email"><?= __('Email') ?></label><sup>*</sup>
                                <div class="control">
                                    <input type="email" class="col-xs-12 form-control" name="email" id="EC-newsletter-email" data-validate="{'required-entry':true, 'validate-email':true}"
                                        <?php if ($block->getShowPlaceholders()): ?>
                                            placeholder="<?= __('Email') ?>*"
                                        <?php endif; ?>
                                           data-bind="value: newsletterData.email, valueUpdate: 'afterkeydown'">
                                    <span class="ec-input-error" id="EC-newsletter-email-error"></span>
                                </div>
                            </div>
                            <?php if ($block->getTelephoneInput() != ""): ?>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <label class="control-label<?php if (!$block->getShowLabels()): ?> hidden<?php endif; ?>" for="EC-newsletter-telephone"><?= __('Telephone') ?></label>&nbsp;<span class="phone-notice"><?= __('(*country code required, e.g. +39...)') ?></span>
                                    <div class="control">
                                        <input type="number" class="col-xs-12 form-control" name="telephone" id="EC-newsletter-telephone"
                                            <?php if ($block->getShowPlaceholders()): ?>
                                                placeholder="<?= __('Telephone') ?><?php if ($block->getTelephoneInput() == 'req'): ?>*<?php endif; ?>"
                                            <?php endif; ?>
                                               data-bind="value: newsletterData.telephone, valueUpdate: 'afterkeydown'">
                                    </div>
                                </div>
                            <?php endif; ?>
                        </div>
                        <div class="row">
                            <div class="ec-birthday-datepicker col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label<?php if (!$block->getShowLabels()): ?> hidden<?php endif; ?>" for="EC-newsletter-birthday"><?= __('Date of birth') ?></label><sup>*</sup>
                                <div class="control customer-dob">
                                    <?php if($block->getDatepickerIcon()):?>
                                        <span class="ec-icon <?= $block->getDatepickerIcon() ?>"></span>
                                    <?php endif; ?>
                                    <input class="col-xs-12 form-control" type="text" id="EC-newsletter-birthday" name="birthday" value="" data-validate="{'required-entry':true}"
                                        <?php if ($block->getShowPlaceholders()): ?>
                                            placeholder="<?= __('Date of birth') ?>*"
                                        <?php endif; ?>
                                           data-bind="value: userBirthday, datepicker: userBirthday,
                                           datePickeroptions: {
                                           dateFormat: 'dd M yy',
                                           changeMonth: true,
                                           changeYear: true,
                                           yearRange: '-90:+0',
                                           maxDate: new Date()
                                           }, event:{change: validateBirthDay.bind($data)}"/>
                                </div>
                                <span class="ec-input-error" id="EC-newsletter-birthday-error"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-xs-12 ec-note">
                        <p><?= __('* Required fields') ?></p>
                        <input type="hidden" name="spmchk" id="spmchk" value=""/>
                    </div>
                </div>

                <?php /*<div class="row">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <div class="field choice">
                            <input type="checkbox" name="accept_terms" id="subscription" value="1" title="General Subscription" class="checkbox" data-bind="checked: acceptedTerms">
                            <label for="subscription" class="label"><span><?= __('Yes, I read the information and accept it') ?></span><sup>*</sup></label>
                            <a href="#" data-bind="click: showHidePrivacy.bind()"><span><?= __('Privacy policy information') ?></span></a>
                            <span class="ec-input-error" id="EC-newsletter-acceptedterms-error"></span>
                        </div>
                    </div>
                </div>
                <div class="row ec-privacy-block">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <div data-bind="fadeVisible: privacyVisible">
                            <p><?= __('privacy_text') ?></p>
                        </div>
                    </div>
                </div>*/ ?>
                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-xs-12">
                        <?= $privacy_block; ?>
                        <span class="ec-input-error" id="EC-newsletter-acceptedterms-error"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-offset-2 col-md-8 col-xs-12 text-right">
                        <div class="primary">
                            <a class="action submit primary" title="Submit" data-bind="click: submitSubscriptionForm.bind($data)">
                                <span><?= __('Subscribe') ?></span> </a>
                        </div>
                    </div>
                </div>

            </div>

            <div id="ec-newsletter-form-thankyou" data-bind="visible: isFormVisible() === false">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 data-bind="html: displayMessage"></h2>
                    </div>
                    <div class="col-xs-12 text-center" data-bind="visible: isUnexpectedError() === true">
                        <h3 data-bind="html: unexpectedErrorMessage"></h3>
                    </div>
                    <div class="col-xs-12 text-center" data-bind="visible: isUnexpectedError() === true">
                        <div class="primary">
                            <a href="#" onClick="window.location.reload()" title="Reload" class="action submit primary">
                                <span><?= __('Reload the page') ?></span> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?= $popup_block; ?>
<script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "initNewsletter": {
                            "component": "Eurostep_Newsletter/js/ec-subscription",
                            "actionUrl": "<?= $block->getFormAction() ?>",
                            "isPhoneRequired": "<?php echo $block->getTelephoneInput() != "" ? $block->getTelephoneInput() : "nophone" ?>"
                        }
                    }
                }
            }
        }

</script>