<?php
/**
 * Created by PhpStorm.
 * User: sergiu
 * Date: 21/06/18
 * Time: 16.41
 */
?>
<div class="ec-newsletter-success-page row">
    <div class="col-xs-12 text-center">
        <h1><?= __('You have been successfully subscribed!') ?></h1>
        <p><?= __('From now on we will be bringing you all the latest news from our company - right to your inbox.') ?></p>
    </div>
    <div class="col-xs-12 text-center">
        <div class="primary">
            <a class="action submit btn-base-negative" title="Continue shopping" href="<?= $this->getBaseUrl() ?>">
                <span>
                    <?= __('Continue shopping') ?>
                </span>
            </a>
        </div>
    </div>
</div>