<?php
/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_Storelocator
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
$requireData = $this->getSingleStoreData();
?>

<div class="search-content storeviewsearch">
    <div class="social-icon">
        <button class="button" onclick="history.back();">
            <span><?php echo __("Go Back"); ?></span>
        </button>

        <div class="social-icon-box">
            <?php if ($requireData[0]['website_url']) { ?>
                <a class="website" href="<?php echo $requireData[0]['website_url'] ?>" target="_blank">&nbsp;</a>    
            <?php } ?>
            <?php if ($requireData[0]['facebook_url']) { ?>
                <a class="facebook" href="<?php echo $requireData[0]['facebook_url'] ?> " target="_blank">&nbsp;</a>
            <?php } ?>
            <?php if ($requireData[0]['twitter_url']) { ?>
                <a class="twitter" href="<?php echo $requireData[0]['twitter_url'] ?>" target="_blank">&nbsp;</a>
            <?php } ?>
        </div>
    </div>
</div>
<div class="map-locator-right">
    <div class="mapBlock">
        <div id="map_canvas" style="height: 473px;">
        </div>
    </div>
    <div id="showinfo">
        <div class="description"><?php echo $requireData[0]['description'] ?></div>
    </div>
</div>
