<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Category view template
 *
 * @var $block \Magento\Catalog\Block\Category\View
 */
?>
<?php
    $_helper    = $this->helper('Magento\Catalog\Helper\Output');
    $_category  = $block->getCurrentCategory();
    $_imgHtml   = '';
    $isImg = ' ec-no-image';
    if ($_imgUrl = $_category->getImageUrl()) {
        $isImg = ' ec-with-image';
        $_imgHtml = '<div class="category-image"><img src="' . $_imgUrl . '" alt="' . $block->escapeHtml($_category->getName()) . '" title="' . $block->escapeHtml($_category->getName()) . '" class="image" /></div>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    }
    $categoryName = $_category->getName();
    $shortDescription = $_category->getData('ec_category_short_description');
?>
<div class="ec-category-top-description<?= $isImg ?>">
    <?= $_imgHtml ?>
    <div class="ec-category-title-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <h1 class="page-title" id="page-title-heading">
                        <span class="base"><?= $categoryName ?></span>
                    </h1>
                    <div class="ec-category-short-description">
                        <?= $shortDescription ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>