// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_listings.less';
@import 'module/_toolbar.less';
@import 'module/_carousels.less';

//
//  Variables
//  _____________________________________________

@product-info-price: @color-black;
@product-h1-margin-bottom-desktop: @indent__s + @indent__xs;
@product-price__muted__color: @color-gray40;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .catalog-product-view{
        .column.main{
            display: inline-block;
        }
        .ec-pdp-fullpage{
            background-color: @color-white-smoke;
        }
        .page-main{
            .ec-related-colors{
                margin-bottom: 10px;
                .block-title.title{
                    strong{
                        text-transform: uppercase;
                        font-family: @font-family-serif;
                    }
                }
            }
        }
        .fotorama--fullscreen{
            .fotorama__nav--thumbs{
                text-align: center;
            }
        }
        .fotorama__nav-wrap{
            padding-top: 10px;
        }
        .fotorama__arr{
            background-color: transparent;
            &:hover,
            &:active{
                background-color: transparent;
            }
        }
        .fotorama-item{
            .fotorama__nav--thumbs .fotorama__nav__frame{
                padding: 0;
                margin-right: 15px;
                border-bottom: 2px solid transparent;
                -webkit-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
                &.fotorama__active{
                    border-bottom-color: @color-orange;
                    -webkit-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                }

            }
            .fotorama__nav__shaft{
                .fotorama__thumb-border{
                    display: none!important;
                }
            }
        }
        .fotorama__thumb-border{
            border: none;
        }
        .fotorama__caption{
            display: none;
        }
        .fotorama__nav--dots .fotorama__nav__frame{
            width: 22px;
        }
        .fotorama__dot{
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }
        .fotorama__active .fotorama__dot{
            background-color: @color-gray46;
            border-color: @color-gray46;
        }
    }
    //  Category view
    .old-price,
    .old.price {
        padding-right: 15px;
        .lib-css(color, @product-price__muted__color);
    }

    .prices-tier {
        .price-container {
            .price-including-tax {
                + .price-excluding-tax {
                    &:before {
                        content: '(' attr(data-label) ':';
                    }

                    &:last-child:after {
                        content: ')';
                    }
                }
            }

            .weee[data-label] {
                display: inline;

                &:before {
                    content: ' +' attr(data-label) ':';
                }
            }
        }
    }

    .ec-category-top-description{
        position: relative;
    }

    .actual-price {
        font-weight: @font-weight__bold;
    }

    .product.name {
        h2{
            font-size: 12px;
            margin: 0;
        }
        a {
            &:extend(.abs-product-link all);
            text-decoration: none;
            line-height: 18px;
        }
    }

    .special-price {
        .price-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .category-cms,
    .category-image {
        margin-bottom: @indent__base;
    }

    .category-description{
        text-align: center;
        margin-bottom: @indent__xl;
    }

    //
    //  Product images general container
    //  -----------------------------------------

    .product-image-container {
        display: inline-block;
        max-width: 100%;
    }

    .product-image-wrapper {
        display: block;
        height: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .product-image-photo {
        bottom: 0;
        display: block;
        height: auto;
        left: 0;
        margin: auto;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }

    //
    //  Product view
    //  -----------------------------------------

    .product.media {
        .product.photo .photo.image {
            &:extend(.abs-adaptive-images-centered);
        }

        .placeholder .photo.container {
            max-width: 100%;
        }

        .notice {
            margin: @indent__s 0;
            .lib-css(color, @text__color__muted);
            .lib-font-size(@font-size__s);
        }

        .product.thumbs {
            margin: @indent__s 0 @indent__m;
        }

        .items.thumbs {
            .lib-list-inline();
            > li {
                margin: 1rem 0 0;
            }

            img {
                display: block;
            }

            .active {
                display: block;
                line-height: 1;
            }
        }
    }

    .product.info.detailed {
        clear: both;
        margin-bottom: 30px;

        .additional-attributes {
            width: auto;
            .lib-table-bordered(
                @_table_type: clear
            );
            .lib-table-resize(
                @_th-padding-left: 0,
                @_th-padding-right: @indent__l,
                @_th-padding-bottom: @indent__xs,
                @_td-padding-bottom: @indent__xs
            );
        }
        .ec-description-tab,
        .ec-details-tab{
            .value{
                color: @color-heavy-grey;
                ul{
                    margin-bottom: 0;
                    list-style: none;
                    padding: 0;
                    &:first-child{
                        margin-top: 10px;
                    }
                    li{
                        padding-left: 14px;
                        position: relative;
                        color: @color-black;
                        &:before{
                            display: inline-block;
                            content: ' ';
                            background-color: @color-black;
                            width: 8px;
                            height: 8px;
                            position: absolute;
                            left:0;
                            top:6px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .product-info-main {
        .product-info-price {
            .lib-css(color, @product-info-price);
            border-bottom: 1px solid @color-gray-light5;
            display: table;
            margin-bottom: @indent__s + @indent__xs;
            width: 100%;

            .price-box {
                display: table-cell;
                vertical-align: top;
                width: 1px;

                .price-container {
                    > span {
                        display: block;
                        margin-bottom: @indent__xs;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(14);
                .price {
                    .lib-font-size(14);
                    font-weight: @font-weight__semibold;
                    line-height: 16px;
                }
            }

            .price-wrapper .price {
                .lib-font-size(18);
                font-weight: @font-weight__semibold;
                line-height: 22px;
            }

            .old-price {
                display: inline-block;
                padding-right: 15px;
                .price-container{
                    .price-label{
                        display: none;
                    }
                }
                .price-wrapper .price {
                    .lib-font-size(18);
                    font-weight: @font-weight__light;
                    text-decoration: line-through;
                    color: @color-grey;
                }
            }

            .special-price {
                display: inline-block;
                .price-label {
                    &:after {
                        content: ': ';
                    }
                }
            }

            .price {
                white-space: nowrap;
            }
        }

        .product-info-stock-sku {
            display: table-cell;
            padding-bottom: @indent__s;
            text-align: left;
            vertical-align: top;
            color: @color-gray46;
            font-size: @font-size-small;
            .stock {
                margin: 0 0 3px;

                &.available,
                &.unavailable {
                    font-weight: @font-weight__bold;
                    text-transform: uppercase;
                }
            }
        }

        .product.attribute.sku {
            word-break: break-all;
            word-wrap: break-word;
        }

        .product {
            &.attribute {
                &.sku {
                    .type {
                        font-weight: normal;
                        margin-right: @indent__xs;

                        &:after {
                            content: '#:';
                        }
                    }

                    .value {
                        display: inline-block;
                    }
                }

                &.overview {
                    margin: @indent__base 0;
                    font-size: 13px;
                    color: @color-heavy-grey;
                }
            }

            &.alert {
                margin: @indent__s 0;
            }
        }

        .product-add-form {
            clear: both;
            padding-top: @indent__s + @indent__xs;
        }

        .product-reviews-summary {
            float: left;
        }

        .product-options-bottom {
            .box-tocart {
                margin-top: @form-field__vertical-indent;
            }
        }
    }

    .product-options-wrapper {
        .fieldset-product-options-inner {
            .legend {
                .lib-css(font-weight, @font-weight__semibold);
                .lib-font-size(14px);
                border: none;
                display: inline-block;
                float: none;
                margin: 0 0 8px;
                padding: 0;
            }

            //  Date & Time custom option (Affect Time that goes only after Date)
            input.datetime-picker {
                ~ select.datetime-picker {
                    margin-top: @indent__s;
                }
            }

            &.required,
            &._required {
                .legend {
                    &:after {
                        content: '*';
                        .lib-typography(
                        @_font-size: @form-field-label-asterisk__font-size,
                        @_color: @form-field-label-asterisk__color,
                        @_font-family: @form-field-label-asterisk__font-family,
                        @_font-weight: @form-field-label-asterisk__font-weight,
                        @_line-height: @form-field-label-asterisk__line-height,
                        @_font-style: @form-field-label-asterisk__font-style
                        );
                    }
                }
            }
        }

        .field {
            .note {
                display: block;
                .lib-css(margin-top, @indent__xs);
            }
        }
    }

    .product-options-bottom .price-box,
    .product-info-price .price-box {
        .lib-css(color, @product-info-price);
        display: table-cell;
        padding-bottom: @indent__s;
        vertical-align: top;

        .old-price {
            font-size: 20px;
            font-weight: @font-weight__light;

            .price-container > span {
                display: inline-block;
            }
        }

        .price-container {
            > span {
                display: block;
                margin-bottom: @indent__xs;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .price {
                font-size: 18px;
                font-weight: @font-weight__bold;
                line-height: 18px;
            }

            .price-including-tax + .price-excluding-tax,
            .weee + .price-excluding-tax,
            .weee {
                .lib-font-size(12);
                line-height: 14px;

                .price {
                    .lib-font-size(12);
                    font-weight: @font-weight__bold;
                }
            }
        }
    }

    .box-tocart {
        &:extend(.abs-box-tocart all);
        .field.qty {
            display: none;
        }

        .input-text.qty {
            &:extend(.abs-input-qty all);
        }

        .actions {
        }

        .action.primary.tocart {
            &:extend(.abs-button-l all);
            &:extend(.abs-button-responsive all);
            margin: 0;
            vertical-align: top;
            font-size: @font-size-base;
            &:hover{
                margin: 0;
            }
            &.disabled{
                &:hover,
                &:focus{
                    color: @color-white-dark-smoke;
                }
            }

            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }

    .product-addto-links {
        display: inline-block;

        .action {
            margin-right: 5%;
            &.towishlist{
                position: relative;
                color: @color-black;
                padding-left: 26px;
                text-decoration: none;
                .fed-icon{
                    font-size: 20px;
                    font-weight: bold;
                    vertical-align: middle;
                    position: absolute;
                    left:0;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .product-social-links {
        margin: 0 0 20px;
        display: inline-block;
        text-align: left;
        width: 100%;

        .ec-social-sharer-wrapper{
            float: right;
            .ec-share-button{
                a{
                    width: auto;
                    height:auto;
                    line-height: 20px;
                    font-size: @font-size-base;
                    color: @color-black;
                    position: relative;
                    padding-left: 22px;
                    text-decoration: none;
                    .ec-share-icon{
                        font-size: 19px;
                        font-weight: bold;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &:hover{
                        text-decoration: underline!important;
                    }
                }
            }
            .ec-social-share-buttons{
                top: -60%;
                right: 115%;
                -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
                -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
                .ec-share-link{
                    font-size: 25px;
                    line-height: 37px;
                    text-decoration: none;
                }
            }
        }
    }

    .prices-tier {
        &:extend(.abs-reset-list all);
        margin-bottom: @indent__s + @indent__xs;

        .item {
            margin-bottom: @indent__s;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .price-excluding-tax,
        .price-including-tax {
            display: inline-block;
        }
    }

    .minimal-price-link,
    .price-excluding-tax,
    .price-including-tax {
        display: block;
        white-space: nowrap;
    }

    .ui-dialog-titlebar-close {
        .lib-button-as-link();
    }

    //
    //  Sidebar product view
    //  -----------------------------------------

    .sidebar {
        .product-items {
            .product-item {
                margin-bottom: @indent__base;
                position: relative;
            }

            .product-item-info {
                position: relative;
                width: auto;

                .product-item-photo {
                    left: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-name {
                margin-top: 0;
            }

            .product-item-details {
                margin: 0 0 0 85px;
            }

            .product-item-actions {
                display: block;
                margin-top: @indent__s;
            }

            .price-box {
                display: block;
                margin: 7px 0;
            }

            .text {
                margin-right: 8px;
            }

            .counter {
                .lib-css(color, @primary__color__lighter);
                font-size: 12px;
                white-space: nowrap;
            }

            .minilist {
                .price {
                    display: inline;
                    padding: 0;
                }

                .weee:before {
                    display: inline-block;
                }
            }

            .action {
                &.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        .action.tocart {
            border-radius: 0;
        }

        .subtitle {
            &:extend(.abs-no-display all);
        }

        //
        //  Product images only
        //  -------------------------------------

        .product-items-images {
            &:extend(.abs-add-clearfix all);
            margin-left: -@indent__xs;

            .product-item {
                &:extend(.abs-add-box-sizing all);
                float: left;
                padding-left: @indent__xs;
            }
        }

        //
        //  Product names only
        //  -------------------------------------

        .product-items-names {
            .product-item {
                margin-bottom: @indent__s;
            }

            .product-item-name {
                margin: 0;
            }
        }
    }

    //
    //  Category page 1 column layout
    //  ---------------------------------------------

    .catalog-category-view.page-layout-1column {
        .column.main {
            min-height: inherit;
        }
    }
}

//
//  Mobile @screen__m
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .ec-category-top-description{
        .category-image {
            display: none;
        }
        &.ec-with-image{
            .ec-category-title-container{
                position: relative;
                width: 100%;
                margin-bottom: 20px;
                margin-top: 30px;
            }
            h1.page-title{
                margin-bottom: 10px;
                color: @color-black;
                font-size: 26px;
            }
            .ec-category-short-description{
                color: @color-black;
                font-size: 13px;
                line-height: 1.6;
            }
        }
        &.ec-no-image{
            .ec-category-title-container{
                min-height: 130px;
                display: inline-block;
                width: 100%;
                margin: 0;
                padding: 10px 0;
            }
            h1.page-title{
                margin-bottom: 10px;
                margin-top: 15px;
                color: @color-black;
                font-size: 26px;
            }
            .ec-category-short-description{
                color: @color-black;
                font-size: 13px;
                line-height: 1.6;
            }
        }
    }
    .catalog-product-view {
        .column.main {
            .lib-vendor-prefix-display(flex);
            .lib-vendor-prefix-flex-direction(column);
        }

        .product.media {
            .lib-vendor-prefix-order(-1);
        }
    }
}

//
//  Mobile @screen__s
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .product-social-links {
        .action.tocompare {
            display: none;
        }
    }

    .product-info-price {
        margin: 0 -@indent__s 0;
        width: ~'calc(100% + 2*@{indent__s})' !important;

        > *:first-child {
            padding-left: @indent__s;
        }

        > *:last-child {
            padding-right: @indent__s;
        }
    }

    .product.info.detailed {
        .additional-attributes-wrapper {
            &:extend(.abs-no-border-top all);
        }
    }
}

//
//  Small Mobile @screen__xs < 480px
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__xs) {
    .catalog-product-view{
        .box-tocart .action.primary.tocart{
            font-size: @font-size-base;
        }
        .product-info-main {
            .page-title-wrapper {
                h1 {
                    font-size: @font-size-medium;
                    margin: 0;
                    line-height: 1.3;
                }
            }
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .product-info-main {
        .page-title-wrapper {
            h1 {
                font-size: 22px;
                margin-bottom: @product-h1-margin-bottom-desktop;
                margin-top: 5px;
            }
        }

        .product-add-form {
            padding-top: @indent__base;
        }
    }

    .product-options-bottom,
    .product-info-price {
        .price-box {
            .price-container {
                font-size: @font-size__l;
            }

            .price-including-tax + .price-excluding-tax {
                .price {
                    .lib-font-size(14);
                    line-height: 16px;
                }
            }
        }
    }

    //
    //  Category page layout
    //  -----------------------------------------

    .ec-category-top-description{
        .category-image {
            .image {
                display: block;
                height: auto;
                width: 100%;
            }
        }
        &.ec-with-image{
            .ec-category-title-container{
                position: absolute;
                width: 100%;
                top: 5%;
            }
            h1.page-title{
                margin-bottom: 10px;
                color: @color-white;
                font-size: 40px;
            }
            .ec-category-short-description{
                color: @color-white;
                font-size: @font-size-large;
                line-height: 1.6;
            }
        }
        &.ec-no-image{
            .ec-category-title-container{
                min-height: 250px;
                display: inline-block;
                width: 100%;
                background-color: @color-gray91;
                margin-bottom: 20px ;
            }
            h1.page-title{
                margin-bottom: 10px;
                margin-top: 40px;
                color: @color-black;
                font-size: 40px;
            }
            .ec-category-short-description{
                color: @color-black;
                font-size: @font-size-large;
                line-height: 1.6;
            }
        }
    }

    .category-description{
        font-size: 15px;
        line-height: 1.6;
    }

    .product-info-main {
        float: right;
    }

    .product.media {
        float: left;
        margin-bottom: @indent__m;
    }

    .product.name {
        h2{
            font-size: 16px;
        }
        a {
            line-height: 24px;
        }
    }

    .catalog-product-view{
        &.page-layout-1column {
            .product-info-main {
                width: 50%;
                padding: 0 0 0 3%;
            }

            .product.media {
                width: 50%;
            }
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .product-info-main {
            width: 48%;
        }

        .product.media {
            width: 50%;
        }
    }

    .product-add-form {
        .product-options-wrapper {
            .field {
                .control {
                    width: 80%;
                }
            }
        }
    }

    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: left;
                    left: auto;
                    margin: 0 @indent__s @indent__s 0;
                    position: relative;
                    top: auto;
                }
            }

            .product-item-details {
                margin: 0;
            }

            .product-item-actions {
                clear: left;
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    .sidebar {
        .product-items {
            .product-item-info {
                .product-item-photo {
                    float: none;
                    left: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                }
            }

            .product-item-details {
                margin-left: 85px;
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //
    //  Compare Products Page
    //  -----------------------------------------

    body.catalog-product-compare-index {
        .action.print {
            float: right;
            margin: 15px 0;
        }
    }

    .table-wrapper.comparison {
        clear: both;
        max-width: 100%;
        overflow-x: auto;
        position: relative; // Needed for Safari(iOS) to properly render "overflow-x" rule.

        .table-comparison > tbody > tr {
            > th,
            > td {
                border-top: 0;
            }
        }
    }

    .table-comparison {
        table-layout: fixed;

        .cell {
            padding: 15px;
            width: 180px;

            &.label {
                border-right: @table__border-width @table__border-style @table__border-color;

                &.remove,
                &.product {
                    span {
                        &:extend(.abs-visually-hidden all);
                    }
                }

                .attribute.label {
                    display: block;
                    width: 100%;
                    word-wrap: break-word;
                }
            }

            &.product {
                &.info,
                &.label {
                    border-bottom: @table__border-width @table__border-style @table__border-color;
                }
            }

            &.attribute {
                .lib-font-size(13);

                img {
                    height: auto;
                    max-width: 100%;
                }
            }

            &.remove {
                padding-bottom: 0;
                padding-top: 0;
                text-align: right;

                .action.delete {
                    &:extend(.abs-remove-button-for-blocks all);
                    margin-right: .6rem;
                }
            }

            .attribute.value {
                overflow: hidden;
                width: 100%;
            }
        }

        td {
            &:last-child {
                border-right: @table__border-width @table__border-style @table__border-color;
            }
        }

        .product-item-photo {
            display: block;
            margin: 0 auto 15px;
        }

        .product-image-photo {
            margin-left: 0;
        }

        .product-item-actions,
        .price-box,
        .product.rating,
        .product-item-name {
            display: block;
            margin: 15px 0;
        }

        .product-addto-links {
            margin-top: 15px;

            .action {
                &.toggle {
                    padding: 0;
                }

                &.split,
                &.toggle {
                    .lib-button-s();
                }
            }
        }

        .action {
            &.tocart {
                white-space: nowrap;
            }
        }
    }

    .comparison.headings {
        .lib-css(background, @color-white);
        left: 0;
        position: absolute;
        top: 0;
        width: auto;
        z-index: 2;
    }

    .block-compare {
        .block-title {
            &:extend(.abs-block-widget-title all);
        }

        .product-item .product-item-name {
            margin-left: 22px;
        }

        .action.delete {
            &:extend(.abs-remove-button-for-blocks all);
            left: 0;
            position: absolute;
            top: 0;
        }

        .counter {
            &:extend(.abs-block-items-counter all);
        }

        .actions-toolbar {
            margin: 17px 0 0;
        }

        .action.primary {
            &:extend(.abs-revert-to-action-secondary all);
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .table-wrapper.comparison {
        .table-comparison > tbody > tr {
            > th,
            > td {
                display: table-cell;
                &:extend(.abs-col-no-prefix all);
            }
        }
    }
}
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .compare.wrapper,
    [class*='block-compare'] {
        display: none;
    }
    .ec-pdp-inner-container{
        width: 100%;
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .compare.wrapper {
        float: right;
        .lib-list-reset-styles();

        .action.compare {
            line-height: @form-element-input__height;
            .lib-link(
                @_link-color: @primary__color,
                @_link-text-decoration: none,
                @_link-color-visited: @primary__color,
                @_link-text-decoration-visited: none,
                @_link-color-hover: @primary__color,
                @_link-text-decoration-hover: underline,
                @_link-color-active: @primary__color,
                @_link-text-decoration-active: underline
            );
        }

        .counter.qty {
            .lib-css(color, @primary__color__lighter);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }
}

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.related {
        .action.select {
            &:extend(.abs-action-button-as-link all);
            vertical-align: top;
        }

        .product-item-details {
            position: relative;
            z-index: 1;
        }

        .related-available .product-item-name {
            margin-left: 20px;
        }

        .field.choice {
            left: 0;
            position: absolute;
            top: 2px;

            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }
}

//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {

    .catalog-product-view{
        &.page-layout-1column {
            .product-info-main {
                padding: 0 10%;
            }

        }
    }
    .box-tocart {
        .paypal:first-of-type {
            margin-top: 13px;
        }
    }
    .ec-category-top-description{
        .category-image {
            .image {
                display: block;
                height: auto;
                width: 100%;
            }
        }
        &.ec-with-image{
            .ec-category-title-container{
                top: 25%;
            }
            h1.page-title{
                font-size: 38px;
                margin-top: 15px;
            }
            .ec-category-short-description{
                font-size: @font-size-medium;
            }
        }
    }
}
